<%= content_for :head_nav do %>
  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".aside"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
  <ul class="nav">
    <li><a href="<%= front_profile_path %>"><i class="icon-undo"></i></a></li>
    <li><a href="<%= front_orders_path(type: API::Order::TYPES[:unpaid]) %>" id="recently">待付款<span class="ycmenu">的订单</span></a></li>
    <li><a href="<%= front_orders_path(type: API::Order::TYPES[:unreceived]) %>" id="news">待收货<span class="ycmenu">的订单</span></a></li>
    <li><a href="<%= front_orders_path(type: API::Order::TYPES[:completed]) %>" id="future">已完成<span class="ycmenu">的订单</span></a></li>
    <li><a href="<%= front_orders_path(type: API::Order::TYPES[:cancelled]) %>" id="future">已取消<span class="ycmenu">的订单</span></a></li>
  </ul>
<% end %>
<div class="span9 main">
  <div class="Logistics_query olrtds autoth">
    <% if @orders.present? %>
      <% if params[:type].to_s == '' || params[:type] == API::Order::TYPES[:unpaid].to_s %>
        <p style="text-align:center;">待付款订单将为您保留24小时，24小时后还未付款将自动取消订单</p>
      <% end %>
      <% @orders.each do |order| %>
        <% product = order['products'][0] -%>
        <form >
          <div class="item">
            <a href="<%= front_order_path(order['orderno']) %>">
              <div class="item_tit bb"><span>订单号：</span><%= order['orderno'] %><br />
                <span>订单金额：</span><strong>￥<%= order['totalamount'] %></strong><br />
                <span>下单时间：</span><%= format_time(order['createdate']) %></div>
              <div class="item_ct">
                <div class="item_img"><img src="<%= small_pic_url(product['resource']) %>" /></div>
                <div class="item_pr"> <span><%= product['productname'] %></span><br>
                  货号：<%= product['skucode'] %><br>
                  品牌：<%= product['andname'] %>(<%= product['brand2name'] %>) </div>
                <div class="item_num">X<%= product['quantity'] %></div>
                <div class="clearfix"></div>
              </div>
            </a>
            <div class="item_tit bt lh">
              <span>订单状态：</span><strong><%= order['status'] %></strong>
              <% if API::Order.can_payment?(order['statust']) %>
                <a href="<%= pay_front_order_path(order['orderno']) %>" target="_blank" class="fr btn btn-danger ">在线支付</a>
              <% end %>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
      <% end %>
      <%= paginate @orders %>
    <% else %>
      <p style="text-align:center;">您最近还没购买过商品，赶紧去购物吧！</p>
    <% end %>
  </div>
</div>
