<%= content_for :head_nav do -%>
  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".aside"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
  <ul class="nav">
    <li><a href="om_df.html"><i class="icon-undo"></i></a></li>
  </ul>
<% end -%>
<div class="span9 main">
  <form>
    <div class="Logistics_query rtds om_df">
      <div class="item">
        <div class="item_tit relative bb"><span>订单号：</span><%= @order['orderno'] %><br>
          <span>订单状态：</span><strong><%= @order['status'] %></strong>
          <a href="#" class="btn btn-danger absolute zxzf">在线支付</a>
          <a href="#barcode" data-toggle="modal" class="btn absolute zxzf qxdd">取消订单</a>
        </div>
        <a href="product.html">
          <div class="item_ct">
            <div class="item_img"><img src="<%= small_pic_url(@product['resource']) %>" /></div>
            <div class="item_pr" style="line-height:18px;"> <span style="font-size:12px;"><%= @product['productname'] %></span><br>
              货号：<%= @product['skucode'] %><br>
              颜色：黑 尺码：40<br>
              销售价：<strong>￥239.00</strong> 数量 ：<strong>2</strong> </div>
            <div class="item_num">
              <div class="jt"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </a>
        <div class="item_tit bt thzq"><span>收货人姓名：</span>韩璐<br>
          <span>省份：</span>北京-北京-丰台<br>
          <span>地址：</span>北京市丰台新华街小区5里9号楼<br>
          <span>邮编：</span>100070<br>
          <span>手机号码：</span>1381000000<br>
          <span>固定号码：</span>63000000<br>
        </div>
        <div class="item_tit bt"><span>支付方式：</span><strong>支付宝支付</strong></div>
        <div class="item_tit bt"><span>发票信息：</span><br>
          <span>发票类型：</span>公司<br>
          <span>公司名称：</span>北京科技有限公司<br>
          <span>发票内容：</span>明细<br>
        </div>
        <div class="item_tit bt"><span>配送及备注：</span><br>
          <span>送货时间：</span>工作日休息日假日均可送货<br>
          <span>送货方式：</span>快递<br>
          <span>备注：</span></div>
        <div class="item_tit bt ">
          <dl>
            <dd><span>赠送积点：</span><strong>1200</strong>
              <div class="clearfix"></div>
            </dd>
            <dd><span>总价：</span><strong>￥1200.00</strong>
              <div class="clearfix"></div>
            </dd>
            <dd><span>快递费：</span><strong>+￥0.00</strong>
              <div class="clearfix"></div>
            </dd>
            <dd><span>需付款项：</span><strong class="on">￥1200.00</strong>
              <div class="clearfix"></div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </form>
</div>
