<!--  如果已经处理了  -->
<div class="module module-white">
  <div class="module-card">
    <h1 class="text-center">您已成功接收好友赠送的银泰礼品卡！</h1>
    <p class="txt1 text-center txt-money">礼品卡金额：<%= @card[:amount] %>元</p>
    <%= image_tag "ims/card-self.png" %>
  </div>
</div>  
<div class="bottom-button">
  <div class="form-defined">
    <div class="controls-defined defined-large">
      <div class="col-4">
        <button class="btn btn-danger btn-large btn-block" id="button_recharge">充值自用</button>
      </div>
      <div class="col-4">
        <button class="btn btn-danger btn-large btn-block" id="button_give">赠送好友</button>
      </div>
      <div class="col-4">
        <a href="<%= mine_ims_accounts_path %>" class="btn btn-danger btn-large btn-block">进入首页</a>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascripts do %>
<script>
  $(function(){

    $("#button_recharge").click(function(){
      window.location.href = "<%= recharge_ims_cards_path(charge_no: @charge_no, trans_id: @trans_id, charge_type: 'giftcard') %>";
    })

    $("#button_give").click(function(){
      window.location.href = "<%= give_page_ims_cards_path(charge_no: @charge_no, trans_id: @trans_id) %>";
    })

  });
</script>
<% end %>
