<% if flash[:page_type] == "give_show_page" %>

<div class="module module-white">
  <div class="module-card module-card-posi">
    <h1 class="text-center">银泰礼品卡<br>送亲人，送好友，您的最佳选择</h1>
    <%= image_tag "ims/card-self.png" %>
    <p class="txt4 text-center posi-txt">银泰礼品卡是银泰百货（集团）发行的银泰电子消费卡，持卡人可在全国所有的银泰百货消费。此卡可作为个人、机关、企事业单位礼品或福利卡。送亲人、送好友，您的最佳选择！</p>
  </div>
</div>

<div class="bottom-button">
  <div class="form-defined">
    <div class="controls-defined defined-large">
      <div class="col-12">
        <%= link_to '分享给好友', "javascript:void(0);", class: "btn btn-danger btn-large btn-block", id: "share_to_user_model" %>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascripts do %>
  <script>
    $(function(){
      $("#shareToUserModel").modal();
    });

    if (typeof WxEnv == 'undefined') {
      WxEnv = {};
    }
    WxEnv.shareUrl = "<%= request.url %>";
    WxEnv.shareImgUrl = '<%= image_url "ims/card-self.png" %>';
    WxEnv.shareName = "<%= @card[:sender] %>给您送的银泰礼品卡";
    WxEnv.shareDes = "我给你发了一张银泰礼品卡，赶快领取！祝：<%= @card[:comment] %>";
  </script>
<% end %>

<% elsif @card[:status].to_i != 0 %>

<!--  如果已经处理了  -->
<div class="module module-white">
  <div class="module-card">
    <h1 class="text-center">此卡已被成功领取！</h1>
    <p class="txt1 text-center txt-money">礼品卡金额：<%= @card[:amount] %>元</p>
    <%= image_tag "ims/card-self.png" %>
  </div>
</div>
<div class="bottom-button">
  <div class="form-defined">
    <div class="controls-defined defined-large">
      <div class="col-6">
        <%= link_to '我要购卡', ims_card_orders_pay_path(showwxpaytitle: 1), class: "btn btn-danger btn-large btn-block" %>
      </div>
      <div class="col-6">
        <%= link_to '进入首页', mine_ims_accounts_path, class: "btn btn-danger btn-large btn-block" %>
      </div>
    </div>
  </div>
</div>

<% else %>

<div class="module module-white">
  <div class="module-card">
    <h1 class="text-center"><%= @card[:sender] %>给你送来一张银泰礼品卡</h1>
    <p class="txt1 text-center txt-money">礼品卡金额：<%= @card[:amount] %>元</p>
    <p class="txt3 card-text">
      好友留言：<%= @card[:comment] %>
    </p>
    <%= image_tag "ims/card-self.png" %>
  </div>
</div>
<div class="bottom-button">
  <div class="form-defined">
    <div class="controls-defined defined-large">
      <div class="col-2">&nbsp</div>
      <div class="col-8"><button class="btn btn-danger btn-large btn-block" id="button_accept">接受礼品卡</button></div>
      <div class="col-2">&nbsp</div>
    </div>
  </div>
</div>

<%= content_for :javascripts do %>
<script>
  $(function(){

    $("#button_give").click(function(){
      window.location.href = "<%= give_page_ims_cards_path(charge_no: @charge_no, trans_id: @trans_id) %>";
    })

    $("#button_refuse").click(function(){
      var r = confirm("您确定要拒收吗？");
      if (r == true){
        window.location.href = "<%= refuse_ims_cards_path(charge_no: @charge_no, trans_id: @trans_id) %>";
      }
    })

    $("#button_accept").click(function(){
      window.location.href = "<%= accept_ims_cards_path(charge_no: @charge_no, trans_id: @trans_id) %>";
    })

  });
</script>
<% end %>

<% end %>