<% if flash[:notice] == "give_show_page" %>

<div class="module module-white">
  <div class="module-card module-card-posi">
    <h1 class="text-center">银泰礼品卡<br>送亲人，送好友，您的最佳选择</h1>
    <p class="txt4 text-center posi-txt">银泰礼品卡在线销售，史无前例的O2O行为，错过将后悔一生，希望你能把握此次机会。</p>
    <img src="/images/ims/card-self.png">
  </div>
</div>  
<div class="bottom-button">
  <div class="form-defined">
    <div class="controls-defined defined-large">
      <div class="col-6"><a class="btn btn-danger btn-large btn-block" href="#ex3" rel="modal:open">分享给好友</a></div>
      <div class="col-6"><a class="btn btn-grey btn-large btn-block" href="<%= new_ims_card_order_path %>">立即购买</a></div>
    </div>
  </div>
</div>

<div id="ex3" class="modal-grey modal" style="position: fixed; top: 50%; left: 50%; margin-top: -210px; margin-left: -669.5px; z-index: 2; display: none;">
  <div class="text-center">
    <div class=""><img src="/images/ims/right-top.png"></div>
  </div>
</div>



<% elsif @card[:status].to_i != 0 %>

<!--  如果已经处理了  -->
<div class="module module-white">
  <div class="module-card module-card-posi">
    <% if @card[:status].to_i == 3 %>
    <!--  如果已经转赠  -->
    <h1 class="text-center">好友的礼品卡你已转送给你的其他好友！</h1>
    <% elsif @card[:status].to_i == 1 %>
    <!--  如果已经收取  -->
    <h1 class="text-center">恭喜您，成功领取<%= @card[:sender] %>的礼品卡</h1>
    <% elsif @card[:status].to_i == 2 %>
    <!--  如果已经拒绝  -->
    <h1 class="text-center">你已回绝了好友赠送的礼品卡！</h1>
    <% end %>
    <p class="txt1 text-center txt-money">礼品卡金额：<em class="txt-red"><%= @card[:amount] %>元</em></p>
  </div>
</div>  
<div class="bottom-button">
  <div class="form-defined">
    <div class="controls-defined defined-large">
      <div class="col-6">
        <a href="<%= mine_ims_accounts_path %>" class="btn btn-danger btn-large btn-block">进入礼品卡首页</a>
      </div>
      <div class="col-6">
        <a href="<%= new_ims_card_order_path %>" class="btn btn-grey btn-large btn-block">我要购卡 </a>
      </div>
    </div>
  </div>
</div>

<% else %>

<div class="module module-white">
  <div class="module-card" id="button_accept">
    <h1 class="text-center"><%= @card[:sender] %>给你送来一张礼品卡</h1>
    <p class="txt3 card-text">
      <%= @card[:comment] %>
    </p>
  </div>
</div>  
<div class="bottom-button">
  <div class="form-defined">
    <div class="controls-defined defined-large">
      <div class="col-6"><button class="btn btn-danger btn-large btn-block" id="button_give">赠送好友</button></div>
      <div class="col-6"><button class="btn btn-grey btn-large btn-block" id="button_refuse">拒绝接收</button></div>
    </div>
  </div>
</div>

<%= content_for :javascripts do %>
<script>
  $(function(){

    $("#button_give").click(function(){
      window.location.href = "<%= give_page_ims_cards_path %>?charge_no=<%= @charge_no %>";
    })

    $("#button_refuse").click(function(){
      var r = confirm("您确定要拒收吗？");
      if (r == true){
        window.location.href = "<%= refuse_ims_cards_path %>?charge_no=<%= @charge_no %>";
      }
    })

    $("#button_accept").click(function(){
      window.location.href = "<%= recharge_ims_cards_path %>?charge_no=<%= @charge_no %>&charge_type=giftcard";
    })

  });
</script>
<% end %>

<% end %>