<% if params[:charge_type] == "giftcard" %>

<div class="module module-white">
  <div class="module-card">
    <h1 class="text-center">恭喜您，成功领取<%= @card[:from] %>的银泰礼品卡</h1>
    <p class="txt1 text-center txt-money">礼品卡金额：<%= @card[:amount] %>元</p>
    <%= image_tag "ims/card-self.png" %>
  </div>
</div>
<div class="bottom-button">
  <div class="form-defined">
    <div class="controls-defined defined-large">
      <div class="col-6">
        <%= link_to '我要购卡', ims_card_orders_pay_path(showwxpaytitle: 1), class: "btn btn-danger btn-large btn-block" %>
      </div>
      <div class="col-6">
        <%= link_to '进入首页', mine_ims_accounts_path, class: "btn btn-danger btn-large btn-block" %>
      </div>
    </div>
  </div>
</div>

<% else %>

<div class="module module-white min-height">
  <div class="module-deal module-table-box">
    <div class="module module-white module-user-card">
      <h1>恭喜您，银泰礼品卡充值成功！</h1>
    </div>
    <table class="table table-bordered">
      <tbody><tr>
        <td>充值金额</td>
        <td>￥<%= @card[:amount] %></td>
      </tr>
      <tr>
        <td>电子编码</td>
        <td><%= @charge_no %></td>
      </tr>
      <tr>
        <td>充值手机</td>
        <td><span class="disabled"><%= @card[:phone] %></span></td>
      </tr>
    </tbody>
    </table>
    <%= link_to '进入首页', mine_ims_accounts_path, class: "btn btn-large btn-danger btn-block" %>
  </div>
</div>

<% end %>