<div class="wrap-content">
  <div class="module module-white min-height">
    <div class="module-tab0 module-tab2 module-product tabs-fixed">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active" id="stores"><a href="#combos">店铺收藏</a></li>
        <li class=""><a href="#gift_cards">搭配收藏</a></li>
      </ul>

      <div class="tab-content">
        <div id="combos" class="tab-pane active">
          <div class="module-table-box module-record">
            <% if @stores.present? %>
            <%= render "stores_list", stores_list: @stores %>
            <% else %>
            <%= render "ims/shared/empty" %>
            <% end %>
          </div>
        </div>

        <div id="gift_cards" class="tab-pane">
          <div class="module-table-box module-record">
            <% if @combos.present? %>
            <%= render "combos_list", combos_list: @combos %>
            <% else %>
            <%= render "ims/shared/empty" %>
            <% end %>
          </div>
        </div>

      </div>
      <div id="loading" class="text-center">
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag "stores_page", 1 %>
<%= hidden_field_tag "combos_page", 1 %>


<% content_for :javascripts do %>
<script>
  $(function(){

    $(".favorite_link").on("click", function(){
      url = $(this).attr("value")
      $("#loading-box").modal()
      setTimeout(function(){
        window.location.href = url
      }, 1)
    })

    format_img(".img-spa");

    $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show');

      format_img(".img-spa");
    })

    $(window).scroll(function(){

      var htmlHeight=document.body.scrollHeight
      var clientHeight=document.body.clientHeight
      var scrollTop=document.body.scrollTop
      var stores_page = parseInt($("#stores_page").attr("value"))
      var combos_page = parseInt($("#combos_page").attr("value"))

      if(scrollTop+clientHeight == htmlHeight){
        $("#bottom-loading-box").modal();
        if($("#stores").attr("class").indexOf("active") >= 0){
          $.get("/ims/favorites/stores_list", {page: stores_page + 1}, function(data){
            if(data["status"] == true){
              $("#bottom-loading-box").modal('hide');
              $(".stores-list-paginate-content:last").after(data["html"])
              $("#stores_page").attr("value", data["page"])
            }
          }, "json")
        }else{
          $.get("/ims/favorites/combos_list", {page: combos_page + 1}, function(data){
            if(data["status"] == true){
              $("#bottom-loading-box").modal('hide');
              $(".combos-list-paginate-content:last").after(data["html"])
              $("#combos_page").attr("value", data["page"])
            }
          }, "json")
        }
      }

    })
})
</script>
<% end %>
