<% list.each do |item| %>
<%= link_to "javascript:void(0);", value: item[:order_type] != 1 ? ims_orders_show_path(id: item[:order_no]) : '', class: "add_loading paginate-content" do %>
<div class="common-white clearfix <%= 'order_link' if item[:order_type] != 1 %>">
  <div class="row-fluid">
    <div class="span12 txt2">
      <div><span>订单号：<%= item[:order_no] %></span></div>
      <div><span class="tel-nun">订单金额：￥<%= item[:amount] %></span></div>
      <div><span>状态：<%= item[:status_show] %></span></div>
      <div>
        <span>
          <%= l item[:create_date].to_time %>
          <div class="pull-right">
            <span>佣金：<span class='txt-red'>￥<%= item[:income_amount] %></span></span>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>