<% list.each do |item| %>
<div class="common-white paginate-content clearfix">
    <div class="row-fluid">
      <div class="span9 txt2">
        <div><span>订单时间：<%= l item[:create_date].to_time %> </span></div>
        <div><span>开户银行：<%= item[:bank_name] %>  </span></div>
        <div><span>卡号：<%= item[:card_no] %></span></div>
        <div><span>状态：<%= item[:status] %></span></div>
      </div>
      <div class="span3 txt2">
       <span>￥<%= item[:amount] %></span>
      </div>
   </div>
</div>
<% end %>