<div class="wrap-inner back-wrap-inner">
  <div class="row-fluid">
    <div clss="span12">
      <div class="income-list">
        <% if @list[:data][:items].present? %>
        <% @list[:data][:items].each do |item| %>
         <div class="common-white">
            <div class="txt2"><span>订单号：<%= item["order_no:"] %></span></div>  
            <div class="txt2"><span>金额：￥<%= item["amount"] %>元</span></div>  
            <div class="txt2"><span>下单：<%= item["create_date"] %></span></div>  
            <div class="txt2"><span>提成金额：￥<%= item["income_amount"] %>元</span></div>  
         </div>
         <% end %>
         <% else %>
         <%= render 'ims/shared/empty' %>
         <% end %>
      </div>    
    </div>
  </div>
</div>