<div class="wrap-inner back-wrap-inner bottom-distance" style="padding-top: 5px;">
  <div class="row-fluid">
    <div clss="span12">
      <div class="income">
        <div class="header text-center">

          <div class="row-fluid">
            <div class="left_module">
              <div class="title">
                可提现金额
              </div>
              <div class="money">
                ￥<%= @income[:data][:avail_amount] %>
              </div>
              <div class="link">
                <%= link_to "提现历史记录", "javascript:void(0);", class: "add_loading", value: list_ims_store_incomes_path %>
              </div>
            </div>
            <div class="right_module">
              <div class="title">
                我的总收益
              </div>
              <div class="money">
                ￥<%= @income[:data][:total_amount] %>
              </div>
              <div class="link">
                <%= link_to "佣金明细清单", "javascript:void(0);", class: "add_loading", value: ims_store_incomes_path %>
              </div>
            </div>
          </div>
        </div>


        <%= link_to "javascript:void(0);", class: "income-menu2 add_loading", value: pending_ims_store_incomes_path do %>
        <div class="common-white detail-block">
          <i class="fa fa-money"></i>
          <span class="txt-grey">提现申请中的金额</span>
          <span class="applying_money">(￥<%= @income[:data][:request_amount] %>)</span>
        </div>
        <% end %>

        <div class="tips">
          <div class="row-fluid notice_title"><i class="fa fa-exclamation-circle"></i>注意事项</div>
          <div class="row-fluid">成交7日并且没有退货才能提取佣金！</div>
        </div>

        <div class="bottom-btnbox">
          <button class="btn btn-block btn-danger add_loading" value="/ims/store/incomes/new" style="margin: 0 auto;">
            <a href="javascript:void(0);">申请提现</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



