<%= form_tag new_ims_store_income_path do |f| %>
<p>提现金额：<%= text_field_tag :amount %></p>
<p>银行：<%= text_field_tag :bank_id %></p>
<p>卡号：<%= text_field_tag :card_id %></p>
<p>用户姓名：<%= text_field_tag :name %></p>
<p><%= submit_tag "提交" %></p>
<% end %>