<% if @store[:data][:gift_card].blank? && @store[:data][:combos].blank? %>
  <%= render 'ims/shared/empty' %>
<% else %>


<% if @store[:data][:combos].present? %>
<div class="module module-ele">
  <div class="module-title">
    <h3>精品组合</h3>
  </div>
</div>


<% @store[:data][:combos].each do |combo| %>
<div class="module module-ele store_home">
  <div class="module-content module-content-img">
    <div class="suit-box clearfix">
      <div class="row-fluid">
        <div class="span12">
          <div class="suit-left">
            <a class="img-box img-posi add_loading" href="javascript:void(0);" value="<%= ims_combo_path(id: combo["id"], t: Time.now.to_i) %>">
              <% img_url = combo['image'].present? ? combo['image'] : Settings.default_image_url.product.middle %>
              <%= image_tag img_url %>
            </a>
            <p class="combo_two_line_text" style="max-height: 39px;">
              <a href="<%= ims_combo_path(id: combo["id"], t: Time.now.to_i) %>">
                <%= sanitize format_text(combo["desc"]) %>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <% if (brand_name = combo[:brands].collect{|b| b[:Name]}.flatten.uniq.join(", ")).present? %>
    <div class="clearfix countdown-browser">
      <p class="pull-left price-box">
        <span class="price-span">
          <em><%= brand_name %></em>
        </span>
      </p>
    </div>
    <% end %>

    <% if(tags = combo['tags'].to_a.uniq).present? %>
    <div class="clearfix countdown-browser">
      <p class="pull-left price-box">
        <span class="price-span">
          <% tags.each_with_index do |tag, index| %>
            <span class="tag tag<%= (index % 4)+1 %>">
              <span class="tag_left tag_left_color"></span>
              <span class="tag_middle tag_middle_color"><%= tag[:name] %></span>
              <span class="tag_right tag_right_color"></span>
              <span class="clear"></span>
            </span>
          <% end %>
        </span>
      </p>
    </div>
    <% end %>

    <% if @store[:data][:is_owner] %>
    <div class="clearfix countdown-browser">
      <p class="pull-left price-box">
        <span class="price txt3 price-span">打包价：<em>¥<%= combo["price"] %></em></span>
        <% if combo["expire_in"].present? %>
        <span class="pull-right countdown">
          <em id="d<%=combo['id']%>">00</em><span>天</span><em id="h<%=combo['id']%>">00</em>:<em id="m<%=combo['id']%>">00</em>:<em id="s<%=combo['id']%>">00</em><span>后下架</span>
        </span>
        <script type="text/javascript">
          tms[tms.length] = "<%=combo['expire_in'] %>";
          day[day.length] = "d<%=combo['id']%>";
          hour[hour.length] = "h<%=combo['id']%>";
          minute[minute.length] = "m<%=combo['id']%>";
          second[second.length] = "s<%=combo['id']%>";
        </script>
        <% else %>
        <span class="pull-right countdown">
          <span>长期有效</span>
        </span>
        <% end %>
      </p>
    </div>
    <% else %>
    <div class="clearfix countdown-browser">
      <p class="pull-left price-box">
        <span class="txt3 price price-span">打包价：<em>¥<%= combo["price"] %></em></span>
      </p>
      <p class="pull-left price-box">
        <% if combo["expire_in"].present? %>
        <span class="pull-left countdown" style="margin-top: 5px;">
          <em id="d<%=combo['id']%>">0</em><span>天</span><em id="h<%=combo['id']%>">00</em>:<em id="m<%=combo['id']%>">00</em>:<em id="s<%=combo['id']%>">00</em><span>后下架</span>
        </span>
        <script type="text/javascript">
          tms[tms.length] = "<%=combo['expire_in'] %>";
          day[day.length] = "d<%=combo['id']%>";
          hour[hour.length] = "h<%=combo['id']%>";
          minute[minute.length] = "m<%=combo['id']%>";
          second[second.length] = "s<%=combo['id']%>";
        </script>
        <% else %>
          <span class="pull-left countdown" style="margin-top: 5px;">
            长期有效
          </span>
        <% end %>
        <span class="pull-right">
          <a class="btn btn-danger btn-small add_loading" href="javascript:void(0);" value="<%= ims_orders_new_path(:combo_id => combo['id'])%>">点击购买</a>
        </span>
      </p>
    </div>
  <% end %>
  </div>
</div>
<% end %>
<% end %>

<% if @store[:data][:is_support_giftcard] && @store[:data][:gift_card].present? %>
  <div class="module">
    <div class="module-title">
      <h3>礼品卡</h3>
    </div>
    <% @store[:data][:gift_card].each do |card| %>
    <div class="module-content module-content-card">
      <div class="img-box">
        <a href="javascript:void(0);" value="<%= ims_cards_path(store_id: @store[:data][:id]) %>" class="add_loading">
          <%= image_tag card["image"] %>
        </a>
      </div>
      <p><%= link_to card["desc"], "javascript:void(0);" %></p>
      <div class="clearfix">
        <% unless @store[:data][:is_owner] %>
        <p class="pull-right price-box text-center price-card">
          <span><a href="javascript:void(0);" value="<%= ims_card_orders_pay_path(store_id: @store[:data][:id], showwxpaytitle: 1) %>" class="btn btn-danger btn-large add_loading">点击购买</a></span>
        </p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<% end %>
<div class="intime-btm intime-btm-index">
  <%= image_tag "ims/intime-btm.png" %>
</div>
