<%= render 'ims/shared/countdown' %>
<header id="TOP">
     <div class="header-box">
        <div class="head-img"><img src="/images/ims/shop-browse.jpg"></div>
        <div class="shop-head" id="head-menu">
            <div class="shop-head-inner">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span3"><img class="img-polaroid face-img" src="<%= @store[:data][:logo] %>"></div>
                            <div class="span9">
                                <h2 class="shop-name"><%= @store[:data][:name] %>&nbsp;</h2>
                                <ul class="inline browerse-icon">
                                    <li>
                                        <a href="tel:<%= @store[:data][:mobile] %>"><i class="hd btn-tel"></i><span>联系店主</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" id="favor_store"><i class="hd btn-star"></i><span>收藏店铺</span></a>
                                        <a href="javascript:void(0)" id="unfavor_store"><i class="hd btn-star-active"></i><span>已经收藏</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="hd btn-share"></i><span>分享给好友</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
    </header>
<div class="wrap-inner">
		<div class="module">
            <div class="module-title">
                <h3>银泰礼品卡</h3>
            </div>
            <% if @store[:data][:gift_card].present? %>
             <% @store[:data][:gift_card].each do |card| %>
            <div class="module-content module-content-card">
                <div class="img-box"><a href="#"><img src="<%= card["Image"] %>" alt=""></a></div>
                <p><a href="#"><%= card["Desc"] %></a></p>
                <div class="clearfix">
                    <p class="pull-left price-box">
                        <span><a type="button" class="btn btn-danger btn-small" href="<%= new_ims_card_order_path %>?store_id=<%= @store[:data][:id] %>">点击购买</a></span>
                    </p>
                    <a class="share-link" href="#"><i class="fa fa-share-square-o"></i></a>
                </div>
            </div>
            <% end %>
            <% end %>
        </div>
        <div class="module module-ele">
            <div class="module-title">
                <h3>精品搭配推荐</h3>
            </div>
        </div>  
        <% if @store[:data][:combos].present? %>
        <% @store[:data][:combos].each do |combo| %>
        <div class="module module-ele"> 
            <div class="module-content module-content-img">
                <div class="suit-box clearfix">
                    <div class="row-fluid">
                    	<div class="span8">
                    		<div class="suit-left">
		                    	<a class="img-box img-posi" href="<%= ims_combo_path(id: combo["Id"]) %>">
                                    <img src="<%= combo['Image'].present? ? combo['Image'] : Settings.default_image_url.product.middle %>" alt="">
                                    <img class="mark-img" src="/images/ims/jingpin.png" alt=""></a>
		                    </div>
                    	</div>
	                    <div class="span4">
	                    	<div class="suit-right">
                                <% if combo["ProductImages"].size > 0 %>
                                 <% combo["ProductImages"].each do |pic| %>
                                 <% pic = Settings.default_image_url.product.small if pic.blank? %>
	                            <a class="img-box" href="#"><img src="<%= pic %>" alt=""></a>
                                <% end %>
                                <% end %>
	                    	</div>
	                    </div>
                    </div>
                </div>
                <p><a href="#"><%= combo["Desc"] %></a></p>
                <div class="clearfix">
                    <p class="pull-left price-box">
                        <span>打包价：<em>¥<%= combo["Price"] %></em></span>
                    </p>
                    <p class="pull-left price-box">
                        <% if combo["ExpiredIn"].present? %>
                        <span class="pull-left countdown">
                            <em id="d<%=combo['Id']%>">0</em><span>天</span><em id="h<%=combo['Id']%>">00</em>:<em id="m<%=combo['Id']%>">00</em>:<em id="s<%=combo['Id']%>">00</em><span>后下架</span>
                        </span>
                        <script type="text/javascript">
                          tms[tms.length] = "<%=combo['ExpiredIn'] %>"; 
                          day[day.length] = "d<%=combo['Id']%>"; 
                          hour[hour.length] = "h<%=combo['Id']%>"; 
                          minute[minute.length] = "m<%=combo['Id']%>"; 
                          second[second.length] = "s<%=combo['Id']%>"; 
                        </script>
                        <% else %>
                        <span class="pull-left countdown">
                            长期有效
                        </span>
                        <% end %>
                        <span class="pull-right"><a class="btn btn-danger btn-small">点击购买</a></span>
                    </p>
                </div>
            </div>
        </div>
        <% end %>
        <% end %>

        
	</div>

<%= content_for :javascripts do %>
<script>
  $(function(){
    <% if @store[:data][:is_favored] %>
    $("#unfavor_store").hide();
    <% else %>
    $("#favor_store").hide();
    <% end %>

    $("#favor_store").click(function(){
        $.post("/ims/favorites/favor", {
            id: "<%= @store[:data][:id] %>",
            type: "1"
        },function(){});
        $("#favor_store").hide();
        $("#unfavor_store").show();
    })

    $("#unfavor_store").click(function(){
        $.post("/ims/favorites/unfavor", {
            id: "<%= @store[:data][:id] %>",
            type: "1"
        },function(){});
        $("#unfavor_store").hide();
        $("#favor_store").show();
    })

  });
</script>
<% end %>