<% combos.each do |combo| %>
  <%= link_to mini_combo_path(combo["id"], :private_to => true) do %>
  <div class="module common-white combo_paginate-content" id="combo_content_<%=combo["id"]%>">
    <div class="txt-block detail-contact">
        <div class="row-fluid">
          <div class="span3">
            <span class="img-spa">
              <% if combo["image"].present? %>
                <%= image_tag combo["image"] %>
              <% else %>
                <%= image_tag Settings.default_image_url.product.small %>
              <% end %>
            </span>
          </div>
          <div class="span9 collection-p">
            <p class="txt2 one-line"><%= combo["desc"] %></p>
            <p class="txt2 txt-red">打包价：￥<%= combo["price"] %></p>
            <div class="shelves">
              <%= link_to combo["is_online"] ? "下 架" : "上 架", "javascript:void(0);", class: "btn btn-danger btn-small card_or_combo", item_id: combo["id"], item_type: 2 %>

              <a href="javascript:void(0);" class="btn btn-danger btn-small delete-combo" data="<%=combo["id"]%>" >删 除</a>
            </div>

          </div>

        </div>
    </div>
  </div>
  <% end %>
<% end %>
<script>
$(function(){
  format_img(".img-spa");
  $(".delete-combo").click(function(){
    status = confirm("确定要删除该搭配？");
    if(status){
      var combo_id = $(this).attr('data');
      var ele = $(this);
      $.ajax({
        url: '/mini/store/combos/'+combo_id,
        type: 'delete',
        success: function(res){
          if(res["status"] == 1){
            success_modal("删除成功");
            $("#combo_content_"+combo_id).remove();
          }else{
            error_modal(res["message"]);
          }
        }
      });
    }
  });
});
</script>