<%= content_for :head_nav do -%>
  <ul class="nav">
    <li><a href="javascript:history.go(-1);"><i class="icon-undo"></i></a></li>
    <li class="title">兑换活动</li>
  </ul>
<% end -%>
<div class="span9 main">
  <div class="details cfxq">
    <div class="vipleft">
      <h2><em></em><%= @storepromotion.name -%></h2>
      <div class="content">
        <p> <span>活动时间：</span><%= format_time_range(@storepromotion.activestartdate, @storepromotion.activeenddate) -%><br>
        <span>使用有效期：</span><%= format_time_range(@storepromotion.couponstartdate, @storepromotion.couponenddate) -%><br>
        <span>参与门店：
        <% @storepromotion.inscopenotice.map(&:storename).each do |storename| -%>
          </span><%= storename -%><br>
        <% end -%>
        </p>
        <p class="center bb b10"><a href="#barcode" data-toggle="modal" class="btn btn">礼券使用范围</a> <a href="#barcode01" data-toggle="modal" class="btn btn-danger ">我要领兑</a></p>
        <%= render 'using_range', inscopenotice: @storepromotion.inscopenotice -%>

        <%= render 'exchange_form', storepromotion: @storepromotion -%>
        
        <%= render 'exchange_rule', rule: @storepromotion.rule -%>
      </div>
    </div>
    <%= render 'notice', notice: @storepromotion.notice -%>

    <div class="clearfix"></div>
  </div>
</div>
