<div class="sidenav">
  <div class="span3 aside collapse" >
    <div class="frame">
      <div class="section menu">
        <ul>
          <li <%= controller_name == 'promotions' ? "class=active" : '' -%>>
            <a href="<%= root_path -%>">促销专区</a>
          </li>
          <li <%= controller_name == 'specials' ? 'class=active' : '' -%>>
            <a href="<%= front_specials_path -%>">精彩专题</a>
          </li>
          <li><a href="<%= list_front_products_path %>">随便逛逛</a></li>
          <li><a href="<%= front_my_favorite_path %>">我的银泰</a></li>
        </ul>
      </div>
      <% if signed_in? %>
        <!--/已经登录位置 -->
        <div class="section loger">
          <div class="relative">
            <div class="photo">
              <a href="<%= front_my_profile_path %>"><img src="<%= current_user.avatar_url %>"></a>
            </div>
            <div class="tools">
              <span><%= current_user.nickie %><em><a href="<%= logout_path %>" data-method="delete" title="退出">退出</a></em></span>
              <ul><li><a href="<%= front_profile_path %>" title="预购中心"> </a></li>
                <li><a href="<%= front_my_comments_path -%>" title="消息"> </a></li>
                <li><a href="<%= front_profile_edit_path %>" title="设置"> </a></li>
                <li><a href="<%= logout_path %>" data-method="delete" title="退出"></a></li>
                <div class="clearfix"></div>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="share">
            <ul>
              <a href="<%= front_follows_path %>"><li>关注<br><%= current_user.like_count %></li></a>
              <a href="<%= front_fans_path %>"><li>粉丝<br><%= current_user.fans_count %></li></a>
              <a href="<%= front_coupons_path -%>"><li>优惠码<br><%= current_user.onlinecoupontotal %></li></a>
              <a href="<%= front_vouchers_path -%>"><li>兑换券<br>
                  <%= current_user.offlinecoupontotal %></li></a>
              <a href="<%= exchange_info_front_vouchers_path -%>"><li>积点<br>兑换</li></a>
              <div class="clearfix"></div>
            </ul>
          </div>
        </div><!--/已经登录位置 -->
      <% else %>
        <div class="section login">
          <h2>登录银泰</h2>
          <ul>
            <li><a href="<%= oauth_path('weibo') %>">新浪微博</a></li>
            <li><a href="<%= oauth_path('tqq2') %>">腾讯微博</a></li>
            <li><a href="<%= oauth_path('qq_connect') %>">腾讯QQ</a></li>
          </ul>
        </div>
      <% end %>
      <div class="section follow">
        <ul>
          <li><h2>下载APP</h2><a target="_blank" href="https://itunes.apple.com/cn/app/xi-huan-yin-tai-guang-shang/id615975780?mt=8"><img src="<%= static_url("images/ytapp.png") -%>" alt="下载喜欢银泰APP" width="51" height="51"></a></li>
          <li><h2>关注微信</h2><a href="#qrcode" data-toggle="modal"><img src="<%= static_url("images/icon_code.png") %>" alt="关注喜欢银泰微信" width="51" height="51"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="qrcode" class="modal hide fade" style="width: 260px;margin-left: -130px;" tabindex="-1" role="dialog" aria-labelledby="mLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="mLabel">关注喜欢银泰微信</h3>
    </div>
    <div class="modal-body"><img src="<%= static_url("images/qrcode_200x200.jpg") %>"></div>
  </div>
</div>
