<%= link_to "教程", tutorials_ims_store_products_path %>

<%= form_tag url, method: method, multipart: true, id: "product_form" do %>
  选择图片： <%= file_field_tag "image", style: "display: none;", id: "input" %>
  <div id="result">
    <%= image_tag "/images/1.jpg", id: "img" %>
  </div>
  品牌: <%= select_tag "brand_id", options_for_select(["品牌1", "品牌2"]) %>
  销售编码: <%= select_tag "coding_id", options_for_select(["编码1", "编码2"]) %>
  货号: <%= text_field_tag "item" %>
  吊牌价（元）: <%= text_field_tag "brand_price" %>
  微信价（元）: <%= text_field_tag "weixin_price" %>
  分类: <%= select_tag "category_id", options_for_select(["分类1", "分类2"]) %>
  尺码: <%= select_tag "size_id", options_for_select(["尺码1", "尺码2"]), multiple: "multiple" %>
  <%= submit_tag "提交" %>
<% end %>


<%= content_for :javascripts do -%>
<script type="text/javascript">
  $(function(){

    $("#product_form").validate({
      ignore: "",
      rules: {
        "image": {
          required: true
        },
        "brand_id": {
          required: true
        },
        "coding_id": {
          required: true
        },
        "item": {
          required: true
        },
        "brand_price": {
          required: true
        },
        "weixin_price": {
          required: true
        },
        "category_id": {
          required: true
        },
        "size_id": {
          require_from_group: 1
        }
      },
      errorPlacement:function(error, element){
        if(element.attr("id") == "input"){
          $("#result").after(error)
        }else{
          element.after(error)
        }
      }
    })

    var result = document.getElementById("result");
    var input = document.getElementById("input");

    if(typeof FileReader==='undefined'){
      result.innerHTML = "抱歉，你的浏览器不支持 FileReader";
      input.setAttribute('disabled','disabled');
    }else{
      input.addEventListener('change',readFile,false);
    }

    $(document).on("click", "#result img", function(){
      $("#input").trigger("click")
    })

    $("#category_id").on("change", function(){
      category_id = $(this).val()
      $.get("", {category_id: category_id}, function(data){
        data = [["1", "尺码1"]]
        $("#size_id").html("")
        $.each(data, function(index, value){
          $("#size_id").append("<option value='"+value[0]+"'>"+value[1]+"</option>")
        })
      })
    })

    function readFile(){
      var file = this.files[0];
      if(!/image\/\w+/.test(file.type)){
        alert("文件必须为图片！");
        return false;
      }
      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = function(e){
        result.innerHTML = '<img src="'+this.result+'"/>'
      }
    }

  })
</script>
<% end %>