<div class="wrap-inner back-wrap-inner">
<div class="module module-bg-white2">
  <div class="module-title2">
    <div class="row-fluid">
      <div class="span6"><h3>上传图片</h3></div>
      <div class="span6">
          <div class="text-right">
            <%= link_to_icon "fa fa-angle-right", "上传教程", tutorials_ims_store_products_path, class: "title-link" %>
          </div>
      </div>
    </div>
  </div>
  <div class="module-pull module-uploadimg">
     <div class="row-fluid">
         <div class="span8">
            <div id="result" class="show-imgbox-no"><!-- 没有上传图片时class="show-imgbox-no" ;有上传后的图片时class="show-imgbox-yes" -->
              <% if @product.blank? %>
                <%= image_tag "/images/ims/upload-image.jpg", alt: "img-name", id: "img" %>
              <% else %>
                <%= image_tag @product[:image], alt: "img-name", id: "img" %>
              <% end %>
              <!-- 400px * 400px 没有上传图片时显示默认图片no-image.jpg-->
            </div>
            <span id="img_error_notice"></span>
         </div>
         <div class="span4">
           <%= link_to_icon "fa fa-hand-o-left", "点击跟换图片", "javascript:void(0);", class: "title-link", id: "upload_img_link" %>
         </div>
     </div>
  </div>
</div>

<div class="module module-bg-white2">
    <div class="form-box">
      <%= form_tag url, method: method, multipart: true, id: "product_form", class: "form-defined" do %>
        选择图片： <%= file_field_tag "image", style: "display: none;", id: "input", value: @product.try(:[], :image) %>
        <%= hidden_field_tag "id", @product.try(:[], :id) %>
        <div class="inline-horizontal">
          <span class="help-inline"><abbr>*</abbr>品牌：</span>
          <%= select_tag "brand_id", options_for_select(@brands.collect{|obj| [obj["name"], obj["id"]]}, @product.try(:[], :brand_id)) %>
        </div>
        <div class="inline-horizontal">
          <span class="help-inline"><abbr>*</abbr>销售编码：</span>
          <%= select_tag "coding_id", options_for_select(@codings, @product.try(:[], :sales_code)) %>
          <%= link_to "添加", "#new_coding_form", "data-toggle" => "modal" %>
        </div>
        <div class="inline-horizontal">
          <span class="help-inline"><abbr>*</abbr>货号：</span>
          <%= text_field_tag "sku_code", @product.try(:[], :sku_code), class: "form-textframe" %>
        </div>
        <div class="inline-horizontal">
          <span class="help-inline"><abbr>*</abbr>微信价：</span>
          <%= text_field_tag "price", @product.try(:[], :price), class: "form-textframe" %>
        </div>
        <div class="inline-horizontal">
          <span class="help-inline"><abbr>*</abbr>分类：</span>
          <%= select_tag "category_id", options_for_select(@categories.collect{|obj| [obj["name"], obj["id"]]}, @product.try(:[], :category_id)), prompt: "请选择" %>
        </div>
        <div class="inline-horizontal" id="size_ids_wrapper" style="<%= @product.try(:[], :size).present? ? 'display: inline;' : 'display: none;' %>">
          <span class="help-inline"><abbr>*</abbr>尺码：</span>
          <% if @product.try(:[], :size).present? %>
            <%= select_tag "size_ids[]", options_for_select(@sizes.collect{|obj| [obj[:name], obj[:id]]}, @product[:size].collect{|obj| obj[:size_id]}), multiple: "multiple", id: "size_ids" %>
          <% else %>
            <%= select_tag "size_ids[]", options_for_select([]), multiple: "multiple", id: "size_ids" %>
          <% end %>
        </div>
        <div class="inline-horizontal" id="size_str_wrapper" style="<%= @product.try(:[], :size_str).present? ? 'display: line;' : 'display: none;' %>">
          <span class="help-inline"><abbr>*</abbr>规格：</span>
          <%= text_field_tag "size_str", @product.try(:[], :size_str), class: "form-textframe" %>
        </div>
        <% if @combo_id.present? %>
          <%= hidden_field_tag :combo_id, @combo_id %>
        <% end %>
        <div class="block-box">
          <%= submit_tag "提交", class: "btn btn-danger btn-large btn-block" %>
        </div>
      <% end if nil%>

      <%= form_tag url, method: method, multipart: true, id: "product_form", class: "form-defined" do %>
        选择图片： <%= file_field_tag "image", style: "display: none;", id: "input", value: @product.try(:[], :image) %>
        <%= hidden_field_tag "id", @product.try(:[], :id) %>
        <% if @combo_id.present? %>
          <%= hidden_field_tag :combo_id, @combo_id %>
        <% end %>
          <div class="controls-defined defined-large">
              <label class="col-4 text-right"><abbr class="txt-red">*</abbr>品牌：</label>
              <div class="col-8">
                  <%= select_tag "brand_id", options_for_select(@brands.collect{|obj| [obj["name"], obj["id"]]}, @product.try(:[], :brand_id)) %>
              </div>
          </div>
          <div class="controls-defined defined-large">
              <label class="col-4 text-right"><abbr class="txt-red">*</abbr>销售编码：</label>
              <div class="col-6">
                  <%= select_tag "coding_id", options_for_select(@codings, @product.try(:[], :sales_code)) %>
              </div>
              <div class="col-2">
              <span>
              <%= link_to "添加", "#new_coding_form", "data-toggle" => "modal", class: "txt8 newly" %>
              </span>
              </div>
          </div>
          <div class="controls-defined defined-large">
              <label class="col-4 text-right"><abbr class="txt-red">*</abbr>货号：</label>
              <div class="col-8">
                <%= text_field_tag "sku_code", @product.try(:[], :sku_code) %>

              </div>
          </div>

          <div class="controls-defined defined-large">
              <label class="col-4 text-right"><abbr class="txt-red">*</abbr>微信价：</label>
              <div class="col-8">
              <%= text_field_tag "price", @product.try(:[], :price) %>
              </div>
          </div>
          <div class="controls-defined defined-large">
              <label class="col-4 text-right"><abbr class="txt-red">*</abbr>分类：</label>
              <div class="col-8">
              <%#= select_tag "category_id", options_for_select(@categories.collect{|obj| [obj["name"], obj["id"]]}, @product.try(:[], :category_id)), prompt: "请选择" %>
              </div>
          </div>

          <% if @product.try(:[], :size).present? %>
            <%= select_tag "size_ids[]", options_for_select(@sizes.collect{|obj| [obj[:name], obj[:id]]}, @product[:size].collect{|obj| obj[:size_id]}), multiple: "multiple", id: "size_ids" %>
          <% else %>
            <%= select_tag "size_ids[]", options_for_select([]), multiple: "multiple", id: "size_ids" %>
          <% end if nil %>

          <div class="controls-defined defined-large" id="size_ids_wrapper" style="<%= @product.try(:[], :size).present? ? 'display: inline;' : 'display: none;' %>">
            <label class="col-4 text-right"><abbr class="txt-red">*</abbr>尺码：</label>
            <div class="col-8">
              <span class="goods-size">
                <a class="active" href="#">S</a>
                <a href="#">M</a>
                <a href="#">L</a>
                <a href="#">XL</a>
                <a href="#">XXL</a>
                <a href="#">XXXL</a>
              </span>
            </div>
          </div>

          <div class="controls-defined defined-large" id="size_str_wrapper" style="<%= @product.try(:[], :size_str).present? ? 'display: line;' : 'display: none;' %>">
              <label class="col-4 text-right"><abbr class="txt-red">*</abbr>规格：</label>
              <div class="col-8">
              <%= text_field_tag "size_str", @product.try(:[], :size_str), class: "form-textframe" %>
              </div>
          </div>


          <div class="block-box">
              <button type="submit" class="btn btn-danger btn-large btn-block">提交</button>
          </div>
      <% end %>
    </div>
</div>


<div id="new_coding_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">销售编码 添加：</h3>
  </div>
  <div class="modal-body">
    销售编码: <%= text_field_tag "coding", nil %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary" id="coding_button">保存</button>
  </div>
</div>
</div>


<%= content_for :javascripts do -%>
<script type="text/javascript">
  $(function(){

    $("#input").on("change", function(){
      if($(this).val().length != ""){
        $("#img_error_notice").html('')
      }
    })


    $("#coding_button").on("click", function(){
      coding = $("#coding").val()
      if(coding.length > 0){
        $.post("/ims/store/sales_codes", {coding: coding}, function(data){
          if(data["status"] == true){
            $("#new_coding_form").modal("hide")
            $("#coding_id").html("")
            $.each(data["data"], function(index, value){
              $("#coding_id").append("<option value='"+value+"'>"+value+"</option>")
            })
            $("#coding_id option:last").attr("selected", true)
          }else{
            alert("销售编码添加失败")
          }
        }, "json")
      }else{
        alert("销售编码不能为空")
      }
    })

    $("#product_form").validate({
      ignore: "",
      rules: {
        <% if params[:action] == "new" %>
        "image": {
          required: true
        },
        <% end %>
        "brand_id": {
          required: true
        },
        "coding_id": {
          required: true
        },
        "sku_code": {
          required: true
        },
        "price": {
          required: true
        },
        "category_id": {
          required: true
        },
        "size_ids[]": {
          required: true
        }
      },
      errorPlacement:function(error, element){
        if(element.attr("id") == "input"){
          $("#img_error_notice").html(error)
        }else{
          element.after(error)
        }
      }
    })

    var result = document.getElementById("result");
    var input = document.getElementById("input");

    if(typeof FileReader==='undefined'){
      result.innerHTML = "抱歉，你的浏览器不支持 FileReader";
      input.setAttribute('disabled','disabled');
    }else{
      input.addEventListener('change',readFile,false);
    }

    $(document).on("click", "#result, #upload_img_link", function(){
      $("#input").trigger("click")
    })

    $("#category_id").on("change", function(){
      category_id = $(this).val()
      if(category_id.length == 0){
        $("#size_ids_wrapper").hide()
        $("#size_str_wrapper").hide()
      }else{

        $.get("/ims/store/dicts/product_sizes", {category_id: category_id}, function(data){
          if(data.length > 0){
            $("#size_ids_wrapper").show()
            $("#size_str_wrapper").hide()
            $("#size_ids").html("")
            $.each(data, function(index, value){
              $("#size_ids").append("<option value='"+value.id+"'>"+value.name+"</option>")
            })
          }else{
            $("#size_ids_wrapper").hide()
            $("#size_str_wrapper").show()
          }
        }, "json")
      }
    })

    function readFile(){
      var file = this.files[0];
      if(!/image\/\w+/.test(file.type)){
        alert("文件必须为图片！");
        return false;
      }
      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = function(e){
        result.innerHTML = '<img src="'+this.result+'"/>'
      }
    }

  })
</script>
<% end %>