<% products.each do |product| %>
  <!-- list start -->
  <div class="p-list p-list-first clearfix paginate-content">
    <div class="row-fluid">
    <div class="span4">
     <div class="p-pic">
      <img src="<%=product["image"]%>">
     </div>
    </div>
    <div class="span8">
      <div class="p-title">
        <h3>
          <%= truncate product["name"], length: 40 %>
        </h3>
      </div>

      <div class="p-price1 clearfix">
        <span class="txt4">
          微信价：<span class="p-wx-price">￥<%= product["price"] %></span>
          <% if (unitprice = product["unitprice"]).present? %>
            <span class="middle-line">￥<%= unitprice %></span>
          <% end %>
        </span>
      </div>
      <div class="buttons">
        <%= link_to edit_ims_store_product_path(product["id"]) do %>
          <button class="btn btn-mini btn-danger">编 辑</button>
        <% end %>
        <% if combo.present? && combo.combo_products.pluck(:remote_id).include?(product["id"]) %>
        <%= link_to "已选", "javascript:void(0);", class: "btn btn-grey btn-mini btn-select button-select", product_id: product["id"] %>
        <% elsif combo.present? %>
        <%= link_to "选择", "javascript:void(0);", class: "btn btn-danger btn-mini button-select add_to_combo", product_id: product["id"] %>
        <% end %>


      </div>
     </div>
   </div>
  </div>
  <!-- list end -->

<% end %>


<script type="text/javascript">
  $(function(){
    format_img(".p-pic");
  })
</script>

