<div class="module module-bg-white clearfix paginate-content">
  <% products.each do |product| %>
    <!-- list start -->
    <div class="p-list p-list-first clearfix">
      <div class="row-fluid">
      <div class="span4">
       <div class="p-pic">
         <%= image_tag product["image"] %>
       </div>
      </div>
      <div class="span8">
        <div class="p-title">
          <h3 class="one-line">
            <%= product["name"] %>
          </h3>
        </div>
        <div class="p-price1 clearfix">
          <span class="txt4">微信价：<em>￥<%= product["price"] %></em></span>
        </div>
        <div class="buttons">
          <%= link_to edit_ims_store_product_path(product["id"]) do %>
            <button class="btn btn-mini btn-danger">编 辑</button>
          <% end %>
            <button class="btn btn-mini btn-danger button-select">
            <a href="<%= add_to_combo_ims_store_product_path(:id => product["id"], :combo_id => combo.try(:id), :product_type => "2") %>">选 择</a>
            </button>
        </div>
       </div>
     </div>
    </div>
    <!-- list end -->

  <% end %>

</div>
<script>
    format_img(".p-pic");
</script>