<% products.in_groups_of(2).each do |objs| %>
  <div class="module module-search-ele paginate-content">

    <div class="search-result-content">
        <div class="row-fluid">
          <% objs.compact.each do |obj| %>
            <div class="span6">
                <div class="goods-box">
                    <div class="imgs">

                      <%= image_tag Product.img_url(obj["resource"].try(:first)) %>

                      <div class="goods-price">
                        ￥<%= obj["price"] %>
                        <span class="unit_price">￥<%= obj["unitPrice"] %></span>
                      </div>
                    </div>
                    <div class="goods-text">
                      <a href="javascript:void(0);" class="two-line">
                        <%= obj['name'].present? ? obj["name"] : "#{obj['brand']['name']}#{obj['tag']['name']}" %>
                      </a>
                        <span>
                        <% if nil %>
                        <a href="<%= add_to_combo_ims_store_product_path(:id => obj["id"], :combo_id => combo.try(:id), :product_type => "1") %>" class="btn btn-danger btn-mini btn-block">选择</a>
                        <% end %>
                        <% if combo.combo_products.pluck(:remote_id).include?(obj["id"]) %>
                        <% combo_product_id = combo.combo_products.find{|cp| cp.remote_id == obj["id"]}.try(:id) %>
                        <%= link_to "取消选择", "javascript:void(0);", class: "btn btn-grey btn-mini btn-block remove_to_combo", product_id: obj["id"], combo_product_id: combo_product_id %>
                        <% else %>
                        <%= link_to "选择", "javascript:void(0);", class: "btn btn-danger btn-mini btn-block add_to_combo", product_id: obj["id"] %>
                        <% end %>
                        </span>
                    </div>
                </div>
            </div>
          <% end %>
        </div>

    </div>
  </div>
<% end %>
<script>
     format_img(".goods-box .imgs");
</script>