<div class="controls-defined defined-small size_input">
  <%= hidden_field_tag "sizes[][id]", size.try(:[], :id) %>
  <label class="col-2 text-left">尺码：</label>
  <div class="col-3">
    <%= text_field_tag "sizes[][name]", size.try(:[], :name) %>
  </div>
  <label class="col-2 text-right">库存：</label>
  <div class="col-3">
    <%= text_field_tag "sizes[][inventory]", size.try(:[], :inventory) || 1 %>
  </div>
  <div class="col-2 text-center remove_size">
    <span>
      <% if action == "remove" %>
        <%= link_to "javascript:void(0);", class: 'txt8 remove_size' do %>
          <%= image_tag "ims/delate.png", class: "img-responsive" %>
        <% end %>
      <% end %>
    </span>
  </div>
</div>