<style type="text/css">

#wrapper {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: -56px;
  bottom: 0px;
  overflow: hidden;
}


#scroller {
  position: absolute;
  min-width: 150%;
}

</style>


<div class="wrap-inner back-wrap-inner">
<div class="module module-searchinput">
    <div class="row-fluid">
        <div class="span12">
            <%= form_tag search_ims_store_products_path, method: "GET", id: "search", class: "form-defined" do %>
              <%= hidden_field_tag "from_price", @search[:from_price] %>
              <%= hidden_field_tag "to_price", @search[:to_price] %>
              <%= hidden_field_tag "from_discount", @search[:from_discount] %>
              <%= hidden_field_tag "to_discount", @search[:to_discount] %>
              <%= hidden_field_tag "brand_id", @search[:brand_id] %>
              <%= hidden_field_tag "combo_id", @combo.try(:id) %>
              <div class="controls-defined defined-small">
                <div class="col-9">
                  <%= text_field_tag "keywords", @search[:keywords], placeholder: "搜索商品名称、品牌、货号等", class: "bg-img" %>
                </div>
                <div class="col-3">
                <button type="button" class="btn btn-danger btn-small btn-block">搜 索</button>
                </div>
              </div>
            <% end %>
        </div>
    </div>
</div>


<% if !params.slice(:from_price, :to_price, :from_discount, :to_discount, :brand_id, :keywords).values.any?{|value| value.present?} %>
<div class="module-tab">
  <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab1">价格</a></li>
          <li class=""><a data-toggle="tab" href="#tab2">折扣</a></li>
          <li class=""><a data-toggle="tab" href="#tab3">品牌</a></li>
      </ul>
      <div class="tab-content">
          <div id="tab1" class="tab-pane active">
              <div class="search-condition">
                <% Ims::Product::Price.each do |price| %>
                  <%= link_to price[:name], "javascript:void(0);", type: price[:type], from_price: price[:from], to_price: price[:to] %>
                <% end %>
              </div>
          </div>
          <div id="tab2" class="tab-pane">
              <div class="search-condition">
                <% Ims::Product::Discount.each do |discount| %>
                  <%= link_to discount[:name], "javascript:void(0);", type: discount[:type], from_discount: discount[:from], to_discount: discount[:to] %>
                <% end %>
              </div>
          </div>
          <div id="tab3" class="tab-pane">
              <div class="search-condition">
                <% @brands.each do |brand| %>
                  <%= link_to brand[:name], "javascript:void(0);", brand_id: brand["id"] %>
                <% end %>
              </div>
          </div>

      </div>
  </div>
</div>

<% else %>
  <% if @products.present? %>
    <%= render "search_list", products: @products, combo: @combo %>
  <% else %>
    <%= render 'ims/shared/empty' %>
  <% end %>

<% end %>
</div>

<div id="selected_products" class="bottom-box" style="<%= @combo.combo_products.count.zero? ? 'display:none;' : 'display: block;' %>">
  <div class="row-fluid">
    <div class="span8 bottom-mini-imgbox">
      <div id="wrapper">
        <div id="scroller">
          <ul id="img_box" class="inline clearfix">
            <% @combo.combo_products.each do |combo_product| %>
            <li class="add-link" combo_product_id="<%= combo_product.id %>" product_id="<%= combo_product.remote_id %>">
              <span class="img-spa" style="height: 70px; width: 70px;line-height: 70px;">
                <img src="<%= combo_product.img_url %>">
              </span>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="span4">
      <button id="combo_submit" type="button" class="btn btn-small btn-danger text-center fixed-button" value="<%= new_ims_store_combo_path(combo_id: @combo.try(:id)) %>">确定</button>
    </div>
  </div>
</div>

<%= hidden_field_tag "count", @search[:count], id: "hidden_count" %>
<%= hidden_field_tag "page", @search[:page], id: "hidden_page" %>
<%= hidden_field_tag "per_page", @search[:per_page], id: "hidden_per_page" %>
<%= hidden_field_tag "from_price", @search[:from_price], id: "hidden_from_price" %>
<%= hidden_field_tag "to_price", @search[:to_price], id: "hidden_to_price" %>
<%= hidden_field_tag "from_discount", @search[:from_discount], id: "hidden_from_discount" %>
<%= hidden_field_tag "to_discount", @search[:to_discount], id: "hidden_to_discount" %>
<%= hidden_field_tag "brand_id", @search[:brand_id], id: "hidden_brand_id" %>
<%= hidden_field_tag "keywords", @search[:keywords], id: "hidden_keywords" %>


<% content_for :javascripts do -%>
<script type="text/javascript">
  $(function(){


    var myScroll;

    function loaded () {
      myScroll = new IScroll('#wrapper', {
        click: true,
        mouseWheel: true,
        scrollX: true,
        scrollY: false
      });
    }

    document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

    window.addEventListener("DOMContentLoaded",loaded,false);


    $(".fixed-button").attr("style", "right:10px; bottom:35px;z-index: 2;")

    $("#combo_submit").on("click", function(){
      $("#loading-box").modal()
      url = $(this).attr("value")
      setTimeout(function(){
        window.location.href = url
      }, 1)
    })

    $(document).on("click", ".add_to_combo", function(){
      this_ele = $(this)
      product_id = this_ele.attr("product_id")
      product_type = "1"
      combo_id = "<%= @combo.try(:id) %>"

      src = this_ele.parents(".goods-box").find(".imgs img").attr("src")

      link = '<a product_id="' + product_id + '" class="btn btn-grey btn-mini btn-block" href="javascript:void(0);">已选择</a>'
      $.get("/ims/store/products/" + product_id + "/add_to_combo", {product_type: product_type, combo_id: combo_id}, function(data){
        if(data["status"] == true){
          li = "<li class='add-link' combo_product_id='"+data["id"]+"' product_id='"+product_id+"'><span class='img-spa'  style='height: 70px; width: 70px;line-height: 70px;'><img src='"+src+"'></span></li>"
          $("#selected_products").show()
          this_ele.replaceWith(link)
          $("#selected_products ul").append(li)
          // format_img(".img-spa");
        }else{
          error_modal(data["message"])
        }
      }, "json")
    })

    // format_img(".img-spa");


    $(document).on("click", "#img_box li .img-spa", function(){
      if(confirm("确定删除商品吗？")){
        this_ele = $(this)
        li = this_ele.parents("li")
        combo_product_id = li.attr("combo_product_id")
        product_id = li.attr("product_id")
        $.ajax({
          url: "/ims/store/combos/remove_product?product_id="+combo_product_id,
          success: function(response){
            li.remove()
            link = '<a product_id="' + product_id + '" class="btn btn-danger btn-mini btn-block add_to_combo" href="javascript:void(0);">选择组合</a>'
            $(".goods-text a[product_id='"+product_id+"']").replaceWith(link)
            if($("#selected_products .img-spa").length == 0){
              $("#selected_products").hide()
            }
          }
        })
      }
    })


    // $("#search").validate({
    //   rules: {
    //     "keywords": {
    //       required: true,
    //     }
    //   },
    //   errorPlacement:function(error, element){
    //     element.after(error)
    //   }
    // })
    //  ios 微信 返回 会保留上一次的记录
    from_price = "<%= @search[:from_price] %>"
    to_price = "<%= @search[:to_price] %>"
    from_discount = "<%= @search[:from_discount] %>"
    to_discount = "<%= @search[:to_discount] %>"
    brand_id = "<%= @search[:brand_id] %>"
    page = "<%= @search[:page] %>"
    per_page = "<%= @search[:per_page] %>"
    count = "<%= @search[:count] %>"
    keywords = "<%= @search[:keywords] %>"

    $("#from_price").attr("value", from_price)
    $("#to_price").attr("value", to_price)
    $("#from_discount").attr("value", from_discount)
    $("#to_discount").attr("value", to_discount)
    $("#brand_id").attr("value", brand_id)
    $("#page").attr("value", page)
    $("#count").attr("value", count)
    $("#keywords").val(keywords)


    $(document).keydown(function(event){
      if(event.keyCode == 13){
        submit_search()
      }
    });

    $("#search .btn").on("click", function(){
      submit_search()
    })

    var submit_search = function(){
      $("#loading-box").modal()
      setTimeout(function(){
        $("#search").submit()
      }, 1)
    }

    $(".search-condition a").on("click", function(){
      this_ele = $(this)
      type = this_ele.attr("type")
      from_price = this_ele.attr("from_price")
      to_price = this_ele.attr("to_price")
      from_discount = this_ele.attr("from_discount")
      to_discount = this_ele.attr("to_discount")
      brand_id = this_ele.attr("brand_id")
      $("#type").attr("value", type)
      $("#from_price").attr("value", from_price)
      $("#to_price").attr("value", to_price)
      $("#from_discount").attr("value", from_discount)
      $("#to_discount").attr("value", to_discount)
      $("#brand_id").attr("value", brand_id)
      $("#keywords").attr("value", '')
      $("#loading-box").modal()
      setTimeout(function(){
        $("#search").submit()
      }, 1)

    })


    $(window).scroll(function(){
      var htmlHeight=document.body.scrollHeight
      var clientHeight=document.body.clientHeight
      var scrollTop=document.body.scrollTop
      var combo_id = "<%= @combo.try(:id) %>"
      var count = parseInt($("#hidden_count").attr("value"))
      var page = parseInt($("#hidden_page").attr("value"))
      var per_page = parseInt($("#hidden_per_page").attr("value"))

      var from_price = $("#hidden_from_price").attr("value")
      var to_price = $("#hidden_to_price").attr("value")
      var from_discount = $("#hidden_from_discount").attr("value")
      var to_discount = $("#hidden_to_discount").attr("value")
      var brand_id = $("#hidden_brand_id").attr("value")
      var keywords = $("#hidden_keywords").attr("value")


      if(scrollTop+clientHeight == htmlHeight){
        if(page * per_page < count){
          $("#bottom-loading-box").modal();
          $.get("/ims/store/products/search", {from_price: from_price, to_price: to_price, from_discount: from_discount, to_discount: to_discount, brand_id: brand_id, keywords: keywords, combo_id: combo_id, page: page + 1, per_page: per_page}, function(data){
            if(data["status"] == true){
              $("#bottom-loading-box").modal('hide');
              $(".paginate-content:last").after(data["html"])
              $("#hidden_count").attr("value", data["count"])
              $("#hidden_page").attr("value", data["page"])
              $("#hidden_per_page").attr("value", data["per_page"])
              $("#hidden_from_price").attr("value", data["from_price"])
              $("#hidden_to_price").attr("value", data["to_price"])
              $("#hidden_from_discount").attr("value", data["from_discount"])
              $("#hidden_to_discount").attr("value", data["to_discount"])
              $("#hidden_brand_id").attr("value", data["brand_id"])
              $("#hidden_keywords").attr("value", data["keywords"])
            }
          }, "json")
        }
      }

    })

  })
</script>
<% end %>