<div class="wrap-inner back-wrap-inner">
<div class="module module-searchinput">
    <div class="row-fluid">
        <div class="span12">
            <%= form_tag search_ims_store_products_path, method: "GET", id: "search", class: "form-inline" do %>
              <%= text_field_tag "keywords", @search[:keywords], placeholder: "搜索商品名称、品牌、货号等", class: "input-small bg-img" %>
              <%= hidden_field_tag "from_price", @search[:from_price] %>
              <%= hidden_field_tag "to_price", @search[:to_price] %>
              <%= hidden_field_tag "from_discount", @search[:from_discount] %>
              <%= hidden_field_tag "to_discount", @search[:to_discount] %>
              <%= hidden_field_tag "brand_id", @search[:brand_id] %>
              <%= hidden_field_tag "combo_id", @combo.try(:id) %>
              <button class="btn" type="button">搜 索</button>
            <% end %>
        </div>
    </div>
</div>


<% if !params.slice(:from_price, :to_price, :from_discount, :to_discount, :brand_id, :keywords).values.any?{|value| value.present?} %>
<div class="module-tab">
  <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab1">价格</a></li>
          <li class=""><a data-toggle="tab" href="#tab2">折扣</a></li>
          <li class=""><a data-toggle="tab" href="#tab3">品牌</a></li>
      </ul>
      <div class="tab-content">
          <div id="tab1" class="tab-pane active">
              <div class="search-condition">
                <% Ims::Product::Price.each do |price| %>
                  <%= link_to price[:name], "javascript:void(0);", type: price[:type], from_price: price[:from], to_price: price[:to] %>
                <% end %>
              </div>
          </div>
          <div id="tab2" class="tab-pane">
              <div class="search-condition">
                <% Ims::Product::Discount.each do |discount| %>
                  <%= link_to discount[:name], "javascript:void(0);", type: discount[:type], from_discount: discount[:from], to_discount: discount[:to] %>
                <% end %>
              </div>
          </div>
          <div id="tab3" class="tab-pane">
              <div class="search-condition">
                <% @brands.each do |brand| %>
                  <%= link_to brand[:name], "javascript:void(0);", brand_id: brand["id"] %>
                <% end %>
              </div>
          </div>

      </div>
  </div>
</div>

<% else %>
  <% if @products.present? %>
    <%= render "search_list", products: @products, combo: @combo %>
  <% else %>
    <%= render 'ims/shared/empty' %>
  <% end %>
  <div id="loading" class="text-center">
  </div>

<% end %>
</div>

<%= hidden_field_tag "count", @search[:count] %>
<%= hidden_field_tag "page", @search[:page] %>
<%= hidden_field_tag "per_page", @search[:per_page] %>
<%= hidden_field_tag "from_price", @search[:from_price] %>
<%= hidden_field_tag "to_price", @search[:to_price] %>
<%= hidden_field_tag "from_discount", @search[:from_discount] %>
<%= hidden_field_tag "to_discount", @search[:to_discount] %>
<%= hidden_field_tag "brand_id", @search[:brand_id] %>
<%= hidden_field_tag "keywords", @search[:keywords] %>


<%= content_for :javascripts do -%>
<script type="text/javascript">
  $(function(){

    // $("#search").validate({
    //   rules: {
    //     "keywords": {
    //       required: true,
    //     }
    //   },
    //   errorPlacement:function(error, element){
    //     element.after(error)
    //   }
    // })

    $("#search .btn").on("click", function(){
      $("#loading-box").modal()
      setTimeout(function(){
        $("#search").submit()
      }, 1)
    })

    $(".search-condition a").on("click", function(){
      this_ele = $(this)
      type = this_ele.attr("type")
      from_price = this_ele.attr("from_price")
      to_price = this_ele.attr("to_price")
      from_discount = this_ele.attr("from_discount")
      to_discount = this_ele.attr("to_discount")
      brand_id = this_ele.attr("brand_id")
      $("#type").attr("value", type)
      $("#from_price").attr("value", from_price)
      $("#to_price").attr("value", to_price)
      $("#from_discount").attr("value", from_discount)
      $("#to_discount").attr("value", to_discount)
      $("#brand_id").attr("value", brand_id)
      $("#loading-box").modal()
      setTimeout(function(){
        $("#search").submit()
      }, 1)

    })

    $(".keywords").on("click", function(){
      keywords = $(this).attr("value")
      $("#keywords").val(keywords)
      $("#loading-box").modal()
      setTimeout(function(){
        $("#search").submit()
      }, 1)
    })

    $(window).scroll(function(){
      var htmlHeight=document.body.scrollHeight
      var clientHeight=document.body.clientHeight
      var scrollTop=document.body.scrollTop
      var combo_id = "<%= @combo.try(:id) %>"
      var count = parseInt($("#count").attr("value"))
      var page = parseInt($("#page").attr("value"))
      var per_page = parseInt($("#per_page").attr("value"))

      var from_price = $("#from_price").attr("value")
      var to_price = $("#to_price").attr("value")
      var from_discount = $("#from_discount").attr("value")
      var to_discount = $("#to_discount").attr("value")
      var brand_id = $("#brand_id").attr("value")
      var keywords = $("#keywords").attr("value")


      if(scrollTop+clientHeight == htmlHeight){
        if(page * per_page < count){
          $("#bottom-loading-box").modal();
          $.get("/ims/store/products/search", {from_price: from_price, to_price: to_price, from_discount: from_discount, to_discount: to_discount, brand_id: brand_id, keywords: keywords, combo_id: combo_id, page: page + 1, per_page: per_page}, function(data){
            if(data["status"] == true){
              $("#bottom-loading-box").modal('hide');
              $(".paginate-content:last").after(data["html"])
              $("#count").attr("value", data["count"])
              $("#page").attr("value", data["page"])
              $("#per_page").attr("value", data["per_page"])
              $("#from_price").attr("value", data["from_price"])
              $("#to_price").attr("value", data["to_price"])
              $("#from_discount").attr("value", data["from_discount"])
              $("#to_discount").attr("value", data["to_discount"])
              $("#brand_id").attr("value", data["brand_id"])
              $("#keywords").attr("value", data["keywords"])
            }
          }, "json")
        }
      }

    })

  })
</script>
<% end %>