<% if nil %>

<% @combos.each do |combo| %>
<div class="module module-ele paginate-content">
  <div class="module-content module-content-img">
    <div class="suit-box clearfix">
      <div class="row-fluid">
        <div class="span12">
          <div class="suit-left">
            <a class="img-box img-posi" href="<%= ims_combo_path(id: combo["id"], t: Time.now.to_i) %>">
              <%= image_tag Combo.img_url(combo) %>
            </a>

            <p class="combo_text combo_two_line_text">
              <a href="<%= ims_combo_path(id: combo["id"], t: Time.now.to_i) %>"><%= sanitize format_text(combo["desc"]) %></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix countdown-browser combo_text">
      <p class="pull-left price-box">
        <span class="txt3 price price-span">
          品牌：<em><%= combo["brands"].collect{|brand| brand["name"]}.uniq.join(", ") %></em>
        </span>
      </p>
      <p class="pull-left price-box">
        <span class="txt3 price price-span">
          打包价：<em>¥<%= combo["isInPromotion"] ? (BigDecimal(combo["price"].to_s) - BigDecimal(combo["discountAmount"].to_s)) : combo["price"] %></em>
        </span>

      </p>
      <p class="pull-left price-box">
        <% expired_in = (combo["expireDate"].to_time - 8.hour).to_i - Time.now.to_i
        expired_in = expired_in > 0 ? expired_in : nil %>
        <% if expired_in.present? %>
        <span class="pull-left countdown">
          <em id="d<%=combo['id']%>">0</em><span>天</span><em id="h<%=combo['id']%>">00</em>:<em id="m<%=combo['id']%>">00</em>:<em id="s<%=combo['id']%>">00</em><span>后下架</span>
        </span>
        <script type="text/javascript">
          tms[tms.length] = "<%=expired_in %>";
          day[day.length] = "d<%=combo['id']%>";
          hour[hour.length] = "h<%=combo['id']%>";
          minute[minute.length] = "m<%=combo['id']%>";
          second[second.length] = "s<%=combo['id']%>";
        </script>
        <% else %>
        <span class="pull-left countdown">
          长期有效
        </span>
        <% end %>
        <span class="pull-right">
          <a class="btn btn-danger btn-small" href="<%= ims_orders_new_path(:combo_id => combo['id'])%>">点击购买</a>
        </span>
      </p>
    </div>

  </div>
</div>
<% end %>

<% end %>


<% @combos.each do |combo| %>
  <span class="combo_wrapper paginate-content">
    <span class="thumbnail">
    <a class="img-box img-posi" href="<%= ims_combo_path(id: combo["id"], t: Time.now.to_i) %>">
      <%= image_tag Combo.img_url(combo) %>
    </a>

    <div class="clearfix countdown-browser combo_text">

      <p class="pull-left price-box combo_two_line_text">
        <a href="<%= ims_combo_path(id: combo["id"], t: Time.now.to_i) %>"><%= sanitize format_text(combo["desc"]) %></a>
      </p>

      <p class="pull-left price-box">
        <span class="price price-span">
          打包价：
          <em>¥<%= combo["isInPromotion"] ? (BigDecimal(combo["price"].to_s) - BigDecimal(combo["discountAmount"].to_s)) : combo["price"] %></em>
        </span>
        <% if (origin_price = combo["originPrice"]).present? %>
        <span class="price-span-orignal">￥<%= origin_price %></span>
        <% end %>
      </p>

      <p class="pull-left price-box">
        <% expired_in = (combo["expireDate"].to_time - 8.hour).to_i - Time.now.to_i
        expired_in = expired_in > 0 ? expired_in : nil %>
        <% if expired_in.present? %>
          <span class="pull-left countdown">
            <em id="d<%=combo['id']%>">0</em><span>天</span><em id="h<%=combo['id']%>">00</em>:<em id="m<%=combo['id']%>">00</em>:<em id="s<%=combo['id']%>">00</em><span>后下架</span>
          </span>
          <script type="text/javascript">
            tms[tms.length] = "<%=expired_in %>";
            day[day.length] = "d<%=combo['id']%>";
            hour[hour.length] = "h<%=combo['id']%>";
            minute[minute.length] = "m<%=combo['id']%>";
            second[second.length] = "s<%=combo['id']%>";
          </script>
        <% else %>
          <span class="pull-left countdown">
            长期有效
          </span>
        <% end %>
      </p>

    </div>
    </span>
  </span>
<% end %>



