<div class="span4">
  <div class="combos-product">
  <!--  搭配详情api接口，如果商品类型为系统商品（1），那么images的最后一个为主图  -->
    <% img_url =  product[:images].present? ? (product['product_type'] == 1 ? product[:images].last['url'] : product[:images].first['url']) : Settings.default_image_url.product.small %>
    <% if @remote_combo[:data][:is_online] && product[:is_online] %>
    <span class="img-spa" data="<%=product[:id]%>">
      <%= image_tag img_url %>
    </span>
    <% else %>
    <span class="img-spa" data="<%=product[:id]%>">
      <%= image_tag img_url %>
    </span>
    <% end %>
    <p>
      <span class="price">￥<%= product[:price] %></span>
      <% if (unitprice = product[:unitprice]).present? %>
        <span class="origin_price">￥<%= unitprice %></span>
      <% end %>
    </p>
    <% if @remote_combo[:data][:is_online] && product[:is_online] %>
    <%= link_to "点击购买", 'javascript:void(0);', class: "btn btn-danger btn-mini btn-block payment_product", value: ims_orders_new_path(:product_id => product[:id], :store_id => @store_id, :combo_id => @remote_combo[:data][:id]) %>
    <% else %>
    <a href="javascript:void(0);" class="btn btn-grey btn-mini btn-block">已售罄</a>
    <% end %>
  </div>
</div>