<%= link_to_icon "fa fa-arrow-up", '', "javascript:void(0);", class: "top-link return-top-link big_top_link", style: "display: none;" %>

<div class="wrap-inner " id="content">

  <div id="search_combo" class="module module-searchinput">
    <div class="row-fluid">
      <div class="span12">
        <%= form_tag ims_combos_path, class: "search-form-defined", id: "search_combo_form", method: "get" do %>
          <div class="controls-defined defined-small">
            <% if @default_store.blank? %>
              <div class="col-3">
                <%= select_tag "store_id", options_for_select(@stores.collect{|store| [store["name"], store["id"]]}, @store.try(:[], :id)), prompt: "选择店铺", style: "opacity: 0.01; position: absolute; left: 0; top: 12px; width: 25%; " %>
                <%= link_to "门店", "javascript:void(0)", id: "store_selcet", class: "btn btn-danger btn-small btn-block" %>
              </div>
            <% else %>
              <%= hidden_field_tag "default_store_id", @default_store["id"] %>
            <% end %>

            <div class="<%= @default_store.blank? ? 'col-7' : 'col-10' %>">
              <%= text_field_tag "keywords", params["keywords"], placeholder: "输入品牌、店铺昵称" %>
            </div>

            <div class="col-2">
              <button class="btn btn-danger btn-small btn-block search_combo_button" type="button">搜索</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div id="wrapper">
    <div id="scroller">

      <%= render 'ims/shared/countdown' %>

      <% if @combos.count == 0 %>
        <%= render 'ims/shared/empty' %>
      <% else %>
        <div id="container" class="module module-ele">
          <%= render 'list' %>
        </div>
      <% end %>

      <div class="intime-btm intime-btm-index">
        <%= image_tag "ims/intime-btm.png" %>
      </div>

    </div>
  </div>

</div>

<div id="server_content" style="display: none;">

</div>

<%= hidden_field_tag "count", @search[:count] %>
<%= hidden_field_tag "page", @search[:page] %>
<%= hidden_field_tag "per_page", @search[:per_page] %>
<%= hidden_field_tag "group_id", @search[:group_id] %>


<% content_for :javascripts do %>
<script>
  $(function(){

  var options = {
    itemSelector : '.combo_wrapper',
    isAnimated: true
  }

  var inLoading = false;
  var msnryInit = false;
  var container;

  var State = History.getState()
  if (State.data && State.data.content){
    $("#scroller").html(State.data.content)
  } else
  {
    $("#container").imagesLoaded(function(){
      container = $('#container').masonry(options);
  		msnryInit = true;
  	});
  }
  $(window).scroll(function () {
    if ($(window).scrollTop() > 400) {
      $(".return-top-link").fadeIn();
    }
    else if ($(window).scrollTop() == 0) {
      $(".return-top-link").fadeOut();
    }
  })

  $(".return-top-link").click(function(e) {
    e.preventDefault();
    e.stopPropagation();
    $(this).fadeOut();
    $('html,body').animate({scrollTop:0}, 500);
    return false;
  })

  $("#store_id").on("change", function(data){
    $("#loading-box").modal();
    setTimeout(function(){
      $("#search_combo_form").submit()
    }, 1)
  })

  $(".search_combo_button").on("click", function(data){
    $("#loading-box").modal();
    setTimeout(function(){
      $("#search_combo_form").submit()
    }, 1)
  })

  var originHref = $('.refresh-link').attr('href')
	$('.refresh-link').attr('href','#')
  $('.refresh-link').click(function(e){
    History.replaceState({}, "商品组合列表", '')
		e.preventDefault();
		e.stopPropagation();
		$("#loading-box").modal();
    setTimeout(function(){
      window.location.href = originHref
    }, 1)
    return false;
	})


  $(window).scroll(function(){
    var htmlHeight=document.body.scrollHeight
    var clientHeight=document.body.clientHeight  // 屏幕高度
    var scrollTop=document.body.scrollTop   // 滚轮高度
    if(scrollTop+clientHeight == htmlHeight && !inLoading){
      load_combos()
    }
  })

  function load_combos(){
    var count = parseInt($("#count").attr("value"))
    var page = parseInt($("#page").attr("value"))
    var per_page = parseInt($("#per_page").attr("value"))
    var group_id = $("#group_id").attr("value")
    if(page * per_page < count && !inLoading){
    	inLoading = true
      $("#bottom-loading-box").modal();
      $.get("<%= request.url %>", {page: page + 1, per_page: per_page, group_id: group_id}, function(data){
        if(data["status"] == true){
          $("#server_content").html(data["html"])
          $("#count").attr("value", data["count"])
          $("#page").attr("value", data["page"])
          $("#per_page").attr("value", data["per_page"])
          $("#group_id").attr("value", data["group_id"])

          items = $("#server_content .combo_wrapper")
          items.hide()
          items.imagesLoaded( function( ) {
            if (!msnryInit) {
              msnryInit = true;
              container = $('#container').masonry(options);
            } else {
              container.append(items)
              // var $item = $( image.img ).parents('.combo_wrapper');
              items.show();
              container.masonry( 'appended', items );
            }
            record_history()

          });

        }
        $("#bottom-loading-box").modal("hide");
        inLoading = false
      }, "json")
    }
  }

  function record_history(){
    html = $("#scroller").html()
    var count = $("#count").attr("value");
    var page = $("#page").attr("value")
    History.replaceState({page: page,count: count, content: html}, "商品组合列表", '');
  }



  })

</script>


<script type="text/javascript">

  document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
      // 发送给好友
    WeixinJSBridge.on('menu:share:appmessage', function (argv) {
      WeixinJSBridge.invoke('sendAppMessage', {
        "img_url": "<%= @share_img_url %>",
        "link": "<%= @share_url %>",
        "desc":  "<%= @share_desc %>",
        "title": "<%= @share_title %>"
      }, function (res) {
        _report('send_msg', res.err_msg);
      })
    });

    // 分享到朋友圈
    WeixinJSBridge.on('menu:share:timeline', function (argv) {
      WeixinJSBridge.invoke('shareTimeline', {
        "img_url": "<%= @share_img_url %>",
        "link": "<%= @share_url %>",
        "desc":  "",
        "title": "<%= @share_desc %>"
      }, function (res) {
        _report('timeline', res.err_msg);
      });
    });

  }, false)
</script>

<% end %>

