<%= stylesheet_link_tag "ims/slidernav", :media => "all" %>
<%= javascript_include_tag 'ims/slidernav' %>


<% if nil %>
<div class="wrap-content">
  <div class="module module-white">
    <div class="module-tab0 module-tab2 module-product tabs-fixed">
      <ul id="myTab" class="nav nav-tabs" style="z-index: 100;">
        <li style="border-right: 3px #f16498 solid; position: relative">
          <% if @store %>
          <a href="javascript:void(0)"><%= @store["name"] %></a>
          <% else %>
          <%= select_tag "store", options_from_collection_for_select(@stores, "id", "name"), style: "opacity: 0.01; position: absolute; left: 0; top: 0; width: 100%; height: 100%;" %>
          <a href="javascript:void(0)" id="store_selcet">门店 &nbsp&nbsp<i class="fa fa-chevron-down"></i></a>
          <% end %>
        </li>
        <li style="position: relative">
          <a href="javascript:void(0)" id="brand_selcet">品牌 &nbsp&nbsp<i class="fa fa-chevron-down"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<% end %>

<div class="wrap-inner search_combo_wrap_inner" id="content">

  <div id="search_combo" class="module module-searchinput">
    <div class="row-fluid">
      <div class="span12">
        <%= form_tag ims_combos_path, class: "search-form-defined", id: "search_combo_form", method: "get" do %>
          <div class="controls-defined defined-small">
            <div class="col-3">
              <%= select_tag "store_id", options_for_select(@stores.collect{|store| [store["name"], store["id"]]}, @store.present? ? @store['id'] : params["store_id"]), prompt: "选择店铺" %>
            </div>

            <div class="col-7">
              <%= text_field_tag "keywords", params["keywords"], placeholder: "输入品牌、店铺昵称" %>
            </div>

            <div class="col-2">
              <button class="btn btn-danger btn-small btn-block search_combo_button" type="button">搜索</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'ims/shared/countdown' %>
  <%= render 'content' %>
</div>

<% if nil %>
<div class="">
  <div id="store_slider" style="margin-top: 30px; display:none">
    <div class="slider-content">
      <ul style="margin: 0;">
        <% ('a'..'z').each do |char| %>
        <li id="<%= char %>"><a name="<%= char %>" class="title"><%= char.upcase %></a>
          <ul>
            <% @stores_ordered[char].each do |store| %>
            <li><a href="javascript:void(0)" onclick="redirectTo('<%= "/ims/combos?store_id=#{store.id}" %>')"><%= store.name %></a></li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="brand_slider" style="margin-top: 30px; display:none">
    <div class="slider-content">
      <ul style="margin: 0;">
        <% ('a'..'z').each do |char| %>
        <li id="<%= char %>"><a name="<%= char %>" class="title"><%= char.upcase %></a>
          <ul>
            <% @brands_ordered[char].each do |brand| %>
            <li><a href="javascript:void(0)" onclick="redirectTo('<%= "/ims/combos?brand_id=#{brand.id}&default_store_id=#{params[:default_store_id]}" %>')"><%= brand.name %></a></li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">

  $("#store_id").on("change", function(data){
    $("#loading-box").modal();
    setTimeout(function(){
      $("#search_combo_form").submit()
    }, 1)
  })

  $(".search_combo_button").on("click", function(data){
    $("#loading-box").modal();
    setTimeout(function(){
      $("#search_combo_form").submit()
    }, 1)
  })

  function redirectTo(url){
    $("#loading-box").modal();
    setTimeout(function(){
      window.location.href = url;
    }, 1)
  }

  $("#store").click(function(){
    $("#content").show();
    $("#brand_slider").hide();
  })

  $("#store").change(function(){
    window.location.href = "/ims/combos?store_id=" + $(this).val();
  })

  $("#brand_selcet").click(function(){
    if($("#brand_slider").is(":hidden")){
      $("#content").hide();
      $("#store_slider").hide();
      $("#brand_slider").show();
    }else{
      $("#content").show();
      $("#brand_slider").hide();
      $("#store_slider").hide();
    }
  })

  $(document).ready(function(){
    var height = document.body.offsetHeight - 30;
    if(height < 565){ height = 565; }
    $('#store_slider').sliderNav({arrows: false, height: height});
    $('#brand_slider').sliderNav({arrows: false, height: height});
  });

</script>