<%= link_to "教程", tutorials_ims_store_collocations_path %>

<h2>新建搭配</h2>
<%= form_for ims_store_collocations_path, html: {id: "collocation_form"} do |f| %>
<p>
  大图：
  <%= link_to ims_store_collocation_banners_path("collocation_id") do %>
    <%= image_tag "/images/1.jpg" %>
  <% end %>
</p>
<br/>
<p>

</p>
<p id="add">
  <%= link_to image_tag("/images/1.jpg"),  ims_store_product_path(1)%>
  <a href="javascript:void(0);">添加产品</a>
</p>
  <ul style="display:none;" id="add_list">
    <li><span><%= link_to "新拍产品", new_ims_store_product_path %></span></li>
    <li><span><%= link_to "已拍产品", ims_store_products_path %></span></li>
    <li><span><%= link_to "系统产品", ims_store_searches_path %></span></li>
  </ul>
<p>
  描述：<%= f.text_area :description %>
</p>

<p>
  定制人：<%= f.text_field :customer %>
</p>

<p>
  <%= f.submit "提交" %>
</p>
<% end %>



<%= content_for :javascripts do -%>
<script type="text/javascript" charset="utf-8">
  $(function(){

    $("#collocation_form").validate({
      rules: {
        "description": {
          minlength: 20,
          maxlength: 128
        }
      },
      errorPlacement:function(error, element){
        element.after(error)
      }
    })

    $("#add a").click(function(){
      $("#add_list").show();
    });
  });
</script>
<% end -%>
