<div class="module module-white">
  <div class="module-password min-height">
    <%= form_tag(change_password_ims_accounts_path, method: 'get', class: "form-defined") do %>
      <div class="controls-defined defined-large">
        <p class="txt1">当前支付密码</p>
        <%= password_field_tag "oldpwd", "", class: "input-block-level large-block", placeholder: "支付密码为6位数字" %>
      </div>
      <div class="controls-defined defined-large">
        <p class="txt1">新的支付密码</p>
        <%= password_field_tag "newpwd", "", class: "input-block-level large-block", placeholder: "支付密码为6位数字" %>
        <%= password_field_tag "comfirm_pwd", "", class: "input-block-level large-block", placeholder: "确认支付密码" %>
      </div>
      <p class="txt4 password-nitice"><i class="fa fa-exclamation-circle txt-red"></i> 支付密码可以用于礼品卡查询和购买支付，请妥善保管</p>
      <p class="pass-button"><button type="submit" class="btn btn-danger btn-large btn-block">确认</button></p>
    <% end %>
  </div>
</div>
<div id="ex2" style="display:none;"></div>
<%= content_for :javascripts do %>
<script type="text/javascript" charset="utf-8">
  $(function(){
    <% if flash[:notice].present? %>
    $("#ex2").html("<div class='text-center'><div class='txt4 txt-red'>温馨提示</div><div class='txt4'><%= flash[:notice] %></div><a class='btn btn-danger btn-small btn-block btn-modal' rel='modal:close'>OK</a></div>");
    $("#ex2").modal({
      clickClose: true,
      showClose: false
    });
    <% end %>
  });
</script>
<% end %>