我们已发送验证码短信到这个号码<br />
<%= @phone %>

<%= form_tag(new_ims_account_path, :method => 'get') do %>
  请填写验证码：
  <%= text_field_tag "sms_code", "" %><br />

  <div>接收短信大约需要<span id="num">60</span>秒</div>
  <div>重新获取验证码</div>

  <%= submit_tag "下一步" %>

<% end %>

<%= content_for :javascripts do %>
<script>
  $(document).ready(function() {


  });
</script>
<% end %>