<%= content_for :stylesheets do -%>
  <link href="/css/royalslider.css" rel="stylesheet">
  <link href="/css/ajax_page.css" rel="stylesheet">
<% end -%>
<%= content_for :javascripts do -%>
  <script src="/js/jquery.royalslider.min.js"></script>
<% end -%>
<%= content_for :head_nav do -%>
  <ul class="nav">
    <li><a href="javascript:history.go(-1);"><i class="icon-undo"></i></a></li>
    <li class="title">促销信息</li>
  </ul>
<% end -%>
<div class="span9 main">
  <!-- 促销信息 -->
  <section class="promo_info">
  <section id="picbox" class="royalSlider">
    <%= @promotion.image_urls(640).each do |image| -%>
      <div class="rsContent"><img class="rsImg" src="<%= image -%>" alt="" /></div>
    <% end -%>
  </section>
  <div class="infobox">
    <%= render 'head', promotion: @promotion -%>
    
    <%= render 'tool_bar', promotion: @promotion -%>

    <div class="detail">
      <h2>活动详情</h2>
      <p><%= @promotion.description -%></p>
    </div>
  </div>
  <div class="clearfix"></div>
  </section>
  <!-- 评论 -->
  <section class="pinglun">
  <h2>评论<span class="distance">(10)</span></h2>
  <!----ajax评论列表开始-------->
  <div id="list">
    <ul class="comments">
    </ul>
  </div>
  <!----ajax评论列表结束-------->
  <!---------ajax导航栏开始----------------->
  <div id="main">
    <div id="pagecount" class="pager clearfix"></div>
    <div id="loading"></div>
  </div>
  <!---------ajax导航栏结束----------------->
			</section>
    </div>
