<%= content_for :javascripts do -%>
  <script src="/js/operate.js"></script>
<% end -%>
<%= content_for :head_nav do -%>
  <ul class="nav">
    <li><a href="javascript:history.go(-1);"><i class="icon-undo"></i></a></li>
    <li class="title">促销信息</li>
  </ul>
<% end -%>
<div class="span9 main">
  <!-- 促销信息 -->
  <section class="promo_info">
  <section id="picbox" class="royalSlider">
    <%= @promotion.image_urls(640).each do |image| -%>
      <div class="rsContent"><img class="rsImg" src="<%= image -%>" alt="" /></div>
    <% end -%>
  </section>
  <div class="infobox">
    <%= render 'head', promotion: @promotion -%>

    <%= render 'tool_bar', promotion: @promotion -%>

    <div class="detail">
      <h2>活动详情</h2>
      <p><%= @promotion.description -%></p>
    </div>
  </div>
  <div class="clearfix"></div>
  </section>
  <section class="pinglun">
  <h2>评论<span id="totalcount" class="distance"></span></h2>
  <!----ajax评论列表开始-------->
  <div id="list">
    <ul id="tiles" class="comments">
    </ul>
    <%= render '/front/comments/comment' -%>
  </div>
  <div id="loader">
    <div id="loaderCircle"></div>
  </div>
  <div id="no_data" class="no_data alert alert-error text-center">
    <h5><a href="#post" data-toggle="modal" style="display:block;color:#E50050;">抢沙发</a></h5>
  </div>
  <div id="last_page" class="no_data alert alert-error text-center">
    <h5>最后一页</h5>
  </div>
  </section>
  <a class="pro_prev" href="javascript:void(0)">上一个</a>
  <a class="pro_next" href="javascript:void(0)">下一个</a>
</div>
<%= content_for :single_jss do -%>
<script type="text/javascript">
//产品页面图片
$('#picbox').royalSlider({
	loop: true,
	controlsInside: false,
	autoHeight: true,
  imageScaleMode: 'none',
  imageAlignCenter:false,
	arrowsNavAutoHide: true,//箭头导航是否自动隐藏	true或false
	arrowsNavHideOnTouch: true,//箭头导航是否在触摸设备中隐藏 true或false
	slidesSpacing: 0,
	controlNavigation: 'bullets',
	navigateByClick: true,
	autoPlay: false,
	transitionType:'move'
});

</script>
<script type="text/javascript">
$(document).ready(function() {
    var index = intime.promotion.init("<%= @promotion.nextgtpid.present? ? front_promotion_path(@promotion.nextgtpid) : '' -%>","<%= @promotion.nextltpid.present? ? front_promotion_path(@promotion.nextltpid) : '' -%>");
    index.loadData('<%= @promotion.id -%>', '2');
});
</script>

<% end -%>
