<%= content_for :head_nav do -%>

  <ul class="nav">
    <li><a href="<%= front_his_info_path(@user_id)%>" >喜欢的宝贝</a></li>
    <li><a href="<%= front_his_info_path(@user_id)%>" >喜欢的促销</a></li>
    <li><a href="<%= front_his_share_path(@user_id) %>" >他的分享</a></li>
  </ul>

<% end -%>
<div class="span9 main">

  <section class="portfolio"  info="<%= @user_id%>" >
  <ul id="tiles" class="thumbnails tmode">
    <!-- 喜欢的宝贝0商品状态 -->
    <!--<p style="text-align:center;font-size: 16px;line-height:30px;">
    Ta还没有喜欢的商品。
    </p>-->
    <!-- 喜欢的宝贝0商品状态 -->
  </ul>
  <div id="loader">
    <div id="loaderCircle"></div>
  </div>
  </section>
</div>
