<%= content_for :head_nav do %>
  <ul class="nav">
    <li><a href="<%= front_profile_path %>"><i class="icon-undo"></i></a></li>
    <li class="title">详细资料</li>
  </ul>
<% end %>

<div class="span9 main">
  <%= render 'front/message' %>
  <div class="details">
    <div class="top">
      <div class="head_img"><span></span><img src="<%= @info[:logo] %>"></div>
      <div class="cname">
        <p><span>昵称：</span><%= @info[:name]%></p>
        <p><span>签名：</span><%= format_newline @info[:desc] %></p>
      </div>
      <div class="clearfix"></div>
    </div>
    <ul class="mid">
      <li>性别：<%= API::Customer::GENDER[@info[:gender].to_i] %></li>
      <li>电话：<%= @info[:mobile]%></li>
    </ul>
  </div>
</div>
