<tbody class="paginate-content my-list-paginate-content">
  <% my_list[:data][:items].each do |item| %>
  <tr>
    <td>
      <p>礼品卡编号：<span class="tel-nun"><%= item[:card_no] %></span></p>
      <p>
        金额：<%= item[:amount] %>元
        <% if item[:status_i] == 7 %>
        <%= link_to "补发赠送通知", resend_gift_ims_cards_path(url: "/ims/cards/gift_page/#{item[:card_no]}-#{Time.now.to_i}-#{item[:trans_id]}"), class: "btn btn-danger btn-small list-right"  %>
        <% end %>
      </p>
      <p class="txt-green btn-line">
        状态：<%= card_orders_status item[:status_i] %>
      </p>
      <% if item[:status_i] == 4 %>
      <p>充值时间：<%= item[:charge_date] %></p>
      <% elsif item[:status_i] == 5 %>
      <p>赠送时间：<%= item[:send_date] %></p>
      <% else %>
      <p>购买时间：<%= item[:purchase_date] %></p>
      <% end %>
      <% if !item[:recharged] and (item[:status_i] == 0 || item[:status_i] == 2 || item[:status_i] == 6) %>
      <p class="btn-line text-center">
        <%= link_to "充值自用", recharge_ims_cards_path(charge_no: item[:card_no], type: "buy"), class: "btn btn-danger btn-small"  %>
        <%= link_to "赠送好友", give_page_ims_cards_path(charge_no: item[:card_no], trans_id: item[:trans_id]), class: "btn btn-danger btn-small"  %>
      </p>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>