<div class="wrap-content">
  <div class="module module-white min-height">
    <div class="module-tranding">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#home">自己购买</a></li>
        <li class=""><a href="#profile">好友赠送</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <div class="module-table-box module-record">
            <table class="table table-bordered">
              <tbody>
                <% if @my[:data].present?  %>
                <% @my[:data][:items].each do |item| %>
                <tr>
                  <td>
                    <p>礼品卡编号：<span class="tel-nun"><%= item[:card_no] %></span></p>
                    <p>金额：<%= item[:amount] %>元</p>
                    <p class="txt-green">状态：<%= item[:status_i] %></p>
                    <p>接收时间：<%= item[:receive_date] %></p>
                    <p class="btn-line">
                      <%= link_to "充值自用", "#{recharge_ims_cards_path}?charge_no=#{item[:card_no]}&type=buy", class: "btn btn-danger btn-mini"  %>
                      <%= link_to "赠送好友", "#{give_page_ims_cards_path}?charge_no=#{item[:card_no]}", class: "btn btn-danger btn-mini"  %>
                    </p>
                  </td>
                </tr>
                <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="profile">
          <div class="module-table-box module-record">
            <table class="table table-bordered">
              <tbody>
                <% if @my[:data].present?  %>
                <% @my[:data][:items].each do |item| %>
                <tr>
                  <td>
                    <p>礼品卡卡号：<span class="tel-nun"><%= item[:card_no] %></span></p>
                    <p class="txt-red">充值金额：<%= item[:amount] %>元</p>
                    <p>状态：<%= item[:status_i] %></p>
                    <p>接收时间：<%= item[:receive_date] %></p>
                    <p>来源：<span class="tel-nun"><%= item[:verify_phone] %></span></p>
                  </td>
                </tr>
                <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :javascripts do  %>
<script type="text/javascript">
 $(function(){
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
})
</script>
<% end %>  