<div class="wrap-content">
  <div class="module module-white min-height">
    <div class="module-tab0 module-tab2 module-product tabs-fixed">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active" id="my"><a href="#my_cards">自己购买</a></li>
        <li class=""><a href="#receive_cards">好友赠送</a></li>
      </ul>

      <div class="tab-content">
        <div id="my_cards" class="tab-pane active">
          <div class="module-table-box module-record">
            <table class="table table-bordered">
              <% if @my[:data].present? and @my[:data][:items].any? %>
              <%= render "my_list", my_list: @my %>
              <% else %>
              <%= render 'ims/shared/empty' %>
              <% end %>
            </table>
          </div>
        </div>

        <div id="receive_cards" class="tab-pane">
          <div class="module-table-box module-record">
            <table class="table table-bordered">
              <% if @received[:data].present? and @received[:data][:items].any? %>
              <%= render "received_list", received_list: @received %>
              <% else %>
              <%= render 'ims/shared/empty' %>
              <% end %>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<%= hidden_field_tag "my_count", @my[:data][:totalcount] %>
<%= hidden_field_tag "my_page", @my[:data][:pageindex] %>
<%= hidden_field_tag "my_per_page", @my[:data][:pagesize] %>

<%= hidden_field_tag "received_count", @received[:data][:totalcount] %>
<%= hidden_field_tag "received_page", @received[:data][:pageindex] %>
<%= hidden_field_tag "received_per_page", @received[:data][:pagesize] %>


<% content_for :javascripts do %>
<script>
  $(function(){

    var inLoading = false

    format_img(".img-spa");

    $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show');

      format_img(".img-spa");
    })

    $(window).scroll(function(){

      var htmlHeight=document.body.scrollHeight
      var clientHeight=document.body.clientHeight
      var scrollTop=document.body.scrollTop

      if(scrollTop+clientHeight == htmlHeight && !inLoading){
        if($("#my").attr("class").indexOf("active") >= 0){
          var count = parseInt($("#my_count").attr("value"))
          var page = parseInt($("#my_page").attr("value"))
          var per_page = parseInt($("#my_per_page").attr("value"))
          if(page * per_page < count && !inLoading){
            inLoading = true
            $("#bottom-loading-box").modal();
            $.get("/ims/card_orders/my_list", {page: page + 1}, function(data){
              if(data["status"] == true){
                $(".my-list-paginate-content:last").after(data["html"])
                $("#my_count").attr("value", data["count"])
                $("#my_per_page").attr("value", data["per_page"])
                $("#my_page").attr("value", data["page"])
              }
              $("#bottom-loading-box").modal('hide');
              inLoading = false
            }, "json")
          }
        }else{
          var count = parseInt($("#received_count").attr("value"))
          var page = parseInt($("#received_page").attr("value"))
          var per_page = parseInt($("#received_per_page").attr("value"))
          if(page * per_page < count && !inLoading){
            inLoading = true
            $("#bottom-loading-box").modal();
            $.get("/ims/card_orders/received_list", {page: page + 1}, function(data){
              if(data["status"] == true){
                $(".received-list-paginate-content:last").after(data["html"])
                $("#received_count").attr("value", data["count"])
                $("#received_per_page").attr("value", data["per_page"])
                $("#received_page").attr("value", data["page"])
              }
              $("#bottom-loading-box").modal('hide');
              inLoading = false;
            }, "json")
          }
        }
      }

    })
})
</script>
<% end %>
