<div class="wrap-content">
  <div class="module module-white min-height">
    <div class="module-tab0 module-tab2 module-product tabs-fixed">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active" id="my"><a href="#combos">自己购买</a></li>
        <li class=""><a href="#gift_cards">好友赠送</a></li>
      </ul>

      <div class="tab-content">
        <div id="combos" class="tab-pane active">
          <div class="module-table-box module-record">
            <table class="table table-bordered">
              <% if @my[:data].present? and @my[:data][:items].any? %>
              <%= render "my_list", my_list: @my %>
              <% else %>
              <%= render 'ims/shared/empty' %>
              <% end %>
            </table>
          </div>
        </div>

        <div id="gift_cards" class="tab-pane">
          <div class="module-table-box module-record">
            <table class="table table-bordered">
              <% if @received[:data].present? and @received[:data][:items].any? %>
              <%= render "received_list", received_list: @received %>
              <% else %>
              <%= render 'ims/shared/empty' %>
              <% end %>
            </table>
          </div>
        </div>

      </div>
      <div id="loading" class="text-center">
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag "my_page", 1 %>
<%= hidden_field_tag "received_page", 1 %>


<% content_for :javascripts do %>
<script>
  $(function(){

    format_img(".img-spa");

    $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show');

      format_img(".img-spa");
    })

    $(window).scroll(function(){

      var htmlHeight=document.body.scrollHeight
      var clientHeight=document.body.clientHeight
      var scrollTop=document.body.scrollTop
      var my_page = parseInt($("#my_page").attr("value"))
      var received_page = parseInt($("#received_page").attr("value"))

      if(scrollTop+clientHeight == htmlHeight){
        $("#bottom-loading-box").modal();
        if($("#my").attr("class").indexOf("active") >= 0){
          $.get("/ims/card_orders/my_list", {page: my_page + 1}, function(data){
            if(data["status"] == true){
              $(".my-list-paginate-content:last").after(data["html"])
              $("#my_page").attr("value", data["page"])
              $("#bottom-loading-box").modal('hide');
            }
          }, "json")
        }else{
          $.get("/ims/card_orders/received_list", {page: received_page + 1}, function(data){
            if(data["status"] == true){
              $(".received-list-paginate-content:last").after(data["html"])
              $("#received_page").attr("value", data["page"])
              $("#bottom-loading-box").modal('hide');
            }
          }, "json")
        }
      }

    })
})
</script>
<% end %>
