<div class="wrap-content">
  <div class="module module-white min-height">
    <div class="module-tab0 module-tab2 module-tranding tabs-fixed">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><%= link_to "自己购买", my_list_ims_card_orders_path %></li>
        <li class=""><%= link_to "好友赠送", received_list_ims_card_orders_path %></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <div class="module-table-box module-record">
            <table class="table table-bordered">
              <% if @my[:data].present? and @my[:data][:items].any? %>
              <%= render "my_list", my_list: @my %>
              <% else %>
              <%= render 'ims/shared/empty' %>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag "count", @my[:data][:totalcount] %>
<%= hidden_field_tag "page", @my[:data][:pageindex] %>
<%= hidden_field_tag "per_page", @my[:data][:pagesize] %>

<% if @my[:data].present? and @my[:data][:items].any? %>
<% content_for :javascripts do %>
<script>

  var inLoading = false

  $(function(){
    $(window).scroll(function(){
      var htmlHeight=document.body.scrollHeight
      var clientHeight=document.body.clientHeight
      var scrollTop=document.body.scrollTop

      if(scrollTop+clientHeight == htmlHeight && !inLoading){
        var count = parseInt($("#count").attr("value"))
        var page = parseInt($("#page").attr("value"))
        var per_page = parseInt($("#per_page").attr("value"))
        if(page * per_page < count && !inLoading){
          inLoading = true
          $("#bottom-loading-box").modal()
          $.get("/ims/card_orders/my_list", {page: page + 1}, function(data){
            if(data["status"] == true){
              $(".paginate-content:last").after(data["html"])
              $("#count").attr("value", data["count"])
              $("#page").attr("value", data["page"])
              $("#per_page").attr("value", data["per_page"])
            }
            $("#bottom-loading-box").modal("hide")
            inLoading = false
          }, "json")
        }
      }

    })
  })
</script>
<% end %>
<% end %>
