<div class="module module-white">

  <div class="module-form form-padding">
    <%= form_tag ims_card_orders_path, id: "card_orders_form", class: "form-block-label", remote: true, method: 'post' do %>
    <%= hidden_field_tag :store_id, params[:store_id] %>
    <div class="form-label">
      <span class="txt1">请选择购卡金额</span>
      <% @cards.each do |card| %>
      <label class="radio" class="radio" for="money_<%= card["unit_price"] %>">
        <input id="money_<%= card["unit_price"] %>" name="money" type="radio" value="<%= "#{card["id"]},#{card["price"]}" %>" class="valid"><%= card["unit_price"] %>元（售价<%= card["price"] %>元）
      </label>
      <% end %>
      <label class="checkbox" for="is_accept">
        <input id="is_accept" name="is_accept" type="checkbox" value="1" class="valid" checked="true">我已阅读并同意<%= link_to "《银泰礼品卡服务协议》", agreement_ims_cards_path %>
      </label>
      <hr />
      <span class="txt1">支付方式</span>

      <% if @is_weixin %>
      <label class="radio" class="radio" for="wechat">
        <%= radio_button_tag "pay_type", "wechat", true, id: "wechat" %>微信支付
      </label>
      <% end %>
      <label class="radio" class="radio" for="alipay">
        <%= radio_button_tag "pay_type", "alipay", @is_weixin ? false : true, id: "alipay" %>支付宝
      </label>
      <hr />
    </div>

    <% end %>
    <div class="module-btn text-center">
      <%= button_tag "确认购买", class: "btn btn-large btn-danger btn-block", id: "submit_card_orders" %>
    </div>
    <div class="module module-notice">
      <h4 class="txt-grey"><i class="fa fa-exclamation-circle"></i> 注意事项：</h4>
      <ol>
        <li>礼品卡暂不支持线上退款。</li>
        <li>充值成功后，礼品卡支持银泰商业（集团）有限公司旗下门店用。</li>
        <li>购买后您可以选择转送好友或者自己充值。</li>
      </ol>
    </div>
  </div>

</div>

<%= content_for :javascripts do %>
<script>
  $(function(){
    $("#submit_card_orders").click(function(){
      if( $("input[name='money']:checked").val() == undefined ){
        error_modal('请选择礼品卡');
      }else if( $("#is_accept").prop("checked") == false ){
        error_modal('您必须同意礼品卡服务协议');
      }else{
        $("#card_orders_form").submit();
      }
    })

    <% if params[:card_id] %>
    setInterval(function(){
      $.get("<%= check_status_ims_card_orders_path %>", {"giftcardid" : "<%= params[:card_id] %>", "timestamp" : "<%= params[:time_val] %>"}, function(r){
        var result = r.result
        if(result.data){
          window.location.href = "/ims/card_orders/" + result.data.charge_no;
        }
      }, "json");
    },1000)
    <% end %>

  });
</script>
<% end %>