<div class="module module-white module-user-card">
  <h1>恭喜您，银泰礼品卡购买成功！</h1>
  <div class="module-table-box">
    <table class="table table-bordered">
      <tbody><tr>
        <td>礼品卡金额</td>
        <td>￥<%= @card[:amount] %></td>
      </tr>
      <tr>
        <td>礼品卡卡号</td>
        <td><%= @charge_no %></td>
      </tr>
    </tbody></table>
  </div>

  <div class="module-btn text-center">
    <button class="btn btn-danger" id="rechage_button">充值自用</button>
    <button class="btn btn-danger" id="give_button">赠送好友</button>
    <button class="btn btn-danger" id="return_home_button">返回首页</button>
  </div>
  <br />

  <div class="module module-notice">
    <p style="color: red">如果您还未关注迷你银公众号，后期将无法查看您的订单等信息，请务必点击以下链接关注我们：</p>
    <a href="http://mp.weixin.qq.com/s?__biz=MzA3NTQyMzcyNw==&mid=200211171&idx=1&sn=212ce2198c574df483359d817ec7a4a4&scene=1&from=singlemessage&isappinstalled=0&key=bdc0fc08be7dd6d4253502098c36d92c47b6b8d0de93638f587afcd53b17d39290dc3b1a9225eff6857d3e7a6d801fdd&ascene=0&uin=Mjk5NzcyNjE1" style="color: black;"><div class="well" style="padding: 4px"><%= image_tag "ims/logo_intime_s.jpg", width: 40, height: 40 %>  关注迷你银<i class="fa fa-chevron-right" style="font-size: 25px; float: right; margin-right: 10px; margin-top: 8px; color: #505050"></i></div></a>
  </div>
</div> 
<%= content_for :javascripts do %>
<script>

  $(document).ready(function() {

    $("#rechage_button").click(function(){
      window.location.href = "<%= recharge_ims_cards_path %>?charge_no=<%= @charge_no %>&type=buy";
    })

    $("#give_button").click(function(){
      window.location.href = "<%= give_page_ims_cards_path %>?charge_no=<%= @charge_no %>";
    })

    $("#return_home_button").click(function(){
      window.location.href = "<%= mine_ims_accounts_path %>";
    })

  });
</script>
<% end %>