<% if products.present? -%>
  <div class="page-header">
    <h2><a href="<%= front_products_path(storeid: params[:id]) -%>"><i class="icon_location"></i>最新商品<span class="pull-right">更多&gt;&gt;</span></a></h2>
  </div>
  <ul class="thumbnails">
    <% products.each do |product| -%>
      <li>
      <div class="thumbnail">
        <div class="action">
          <% if product.promotionFlag -%>
            <span class="discount">优惠</span><span class="triangle"></span>
          <% end -%>
          <a href="<%= front_product_path(product.id) -%>"><img src="<%= product.image_urls.first -%>"></a> <span class="like"><i class="icon-heart icon-white"></i><%= product.likecount.to_i -%>+</span> </div>
        <h4><a href="<%= front_product_path(product.id) -%>" title=""><%= product.name -%></a></h4>
        <small><span class="pull-left num">吊牌价：<em>¥<%= product.unitprice -%></em></span><span class="pull-right price">销售价：<em>¥<%= product.price -%></em></span></small> </div>
      </li>
    <% end -%>
  </ul>
<% end -%>
