<iframe id="Iframe1" name="ajaxiframe" style="display: none;"></iframe>

<div id="banners">
<% 2.times.each do %>
  <span>
  <%= image_tag "/images/1.jpg" %>
  <%= link_to "删除", "javascript:void(0);", class: "delete_banner", value: "banner_id" %>
  </span>
<% end %>
</div>

<%= form_tag ims_store_collocation_banners_path("collocation_id"), multipart: true, target: "ajaxiframe" do %>
  <%= file_field_tag "image", id: "add_banner" %>
  <%#= link_to "上传", 'javascript:void(0);', class: "save_logo" %>
<% end %>

<%= content_for :javascripts do -%>
<script type="text/javascript">
  $(function(){

    $(document).on("change", "#add_banner", function(){
      var this_ele = $(this)
      var form = this_ele.parents("form")
      var dom_id = form.attr("id")
      form.ajaxSubmit({
        dataType: "json",
        success: function(data){
          if(data["status"] == true){
            var banner_id = "banner_id"
            var img_link = '<img src="/images/1.jpg">'
            var destroy_img_link = '<a href="javascript:void(0);" class="delete_banner" value="'+banner_id+'">删除</a>'
            $("#banners").append("<span>"+ img_link + destroy_img_link +"</span>")
            form.resetForm()
          }else{
            alert("上传失败")
            // $.each(data["error_messages"], function(index, data){
            //   $(".errore-box .alert").append("<div>"+data+"</div>")
            // })
          }
        },
        error: function(data){
          alert("上传失败")
        }
      })
    })

    $(document).on("click", ".delete_banner", function(){
      if(confirm("确认删除吗?")){
        this_ele = $(this)
        banner_id = this_ele.attr("value")
        collocation_id = 1111
        $.post("/ims/store/collocations/"+collocation_id+"/banners/"+banner_id, {_method: "delete"}, function(data){
          this_ele.parents("span").remove()
        }, "json")
      }
    })

    $("#category_id").on("change", function(){
      category_id = $(this).val()
      $.get("", {category_id: category_id}, function(data){
        data = [["1", "尺码1"]]
        $("#size_id").html("")
        $.each(data, function(index, value){
          $("#size_id").append("<option value='"+value[0]+"'>"+value[1]+"</option>")
        })
      })
    })

  })
</script>
<% end %>