  <% @orders.each do |order| %>
  <div class="module common-white paginate-content">
    <div class="module-state">
      <div class="row-fluid">
        <div class="span6"><span class="txt3">订单状态：<em><%= order["status"] %></em></span></div>
        <div class="span6 text-right"><span class="txt3">订单金额：<em>￥<%= order['amount'] %></em></span></div>
      </div>
    </div>

    <% order["products"].each do |product| %>
      <div class="indent-head">
        <div class="row-fluid">
           <div class="span3">
               <div class="detail-imgbox">
                 <%= image_tag product["image"] %>
                   <!-- <img src="/images/ims/img800.jpg"> -->
               </div>
           </div>
           <div class="span9">
               <div class="price-detail">
                   <h3><%= link_to product["name"], ims_store_product_path(product["id"]) %></h3>
                   <p class="txt3 clearfix"><span class="pull-left">打包价：<em>￥<%= product["price"] %></em></span><span class="pull-right">数量：<%= product["quantity"] %></span></p>
               </div>
           </div>
        </div>
      </div>

    <% end %>

    <div class="row-fluid">
      <div class="span12">
        <div class="detail-block detail-contact-bd">
          <p class="txt4 clearfix">
            <span class="pull-left">
              <b>订单号：<%= link_to order['order_no'], ims_orders_show_path(id: order["order_no"]) %></b>
            </span>
          </p>
          <p class="txt4 clearfix"><span><b>下单时间：<%= order['create_date'] %></b></span></p>
          <p class="immediate-payment">
            <% if order["status_i"] == 0 %>
            <button type="button" class="btn btn-danger btn-mini">立即支付</button>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>