<%= form_tag ims_orders_path, id: "new_order_form", style: "display: none;" do %>

  <% @products.each_with_index do |product, index| %>
    <% salecolors = product[:salecolors] %>
    <% sizes = salecolors.first.try(:[], :sizes) || [] %>
    <% if salecolors.present? %>
      <%= hidden_field_tag "order[products][][productid]", product[:id] %>
      <%= hidden_field_tag "order[products][][quantity]", 1 %>
      <%= hidden_field_tag "order[products][][properties][sizevalueid]", sizes.length == 1 ? sizes.first[:sizeid] : nil, id: "sizevalueid#{index}" %>
      <%= hidden_field_tag "order[products][][properties][colorvalueid]", salecolors.length == 1 ? salecolors.first[:colorid] : nil, id: "colorvalueid#{index}" %>

      <%= hidden_field_tag "order[products][][desc]", product[:name] %>
      <%= hidden_field_tag "order[products][][properties][sizevaluename]", sizes.length == 1 ? sizes.first[:sizename] : nil, id: "sizevaluename#{index}" %>
      <%= hidden_field_tag "order[products][][properties][colorvaluename]", salecolors.length == 1 ? salecolors.first[:colorname] : nil, id: "colorvaluename#{index}" %>
    <% end %>
  <% end %>

  <%= hidden_field_tag "order[payment[paymentcode]]", 29 %>
  <%= hidden_field_tag "order[payment[paymentname]]", "微信支付" %>
  <%= hidden_field_tag "order[shippingaddress[shippingcontactperson]]", "nil", id: "name" %>
  <%= hidden_field_tag "order[shippingaddress[shippingcontactphone]]", "nil", id: "contact" %>
  <%= hidden_field_tag "order[shippingaddress[shippingzipcode]]", "nil", id: "zipcode" %>
  <%= hidden_field_tag "order[shippingaddress[shippingaddress]]", "nil", id: "address" %>
  <%= hidden_field_tag "order[needinvoice]", false %>



  <%= hidden_field_tag "order[invoicetitle]", nil %>
  <%= hidden_field_tag "order[invoicedetail]", nil %>
  <%= hidden_field_tag "order[memo]", nil %>
  <%= hidden_field_tag "order[storeid]", params[:store_id] %>
  <%= hidden_field_tag "open_id", session[:wx_openid] %>
  <%= link_to "请点击选择地址", "javascript:void(0);" %>
  <%= submit_tag "提交表单" %>


<% end %>


<div class="wrap-inner back-wrap-inner">
  <% @products.each_with_index do |product, index| %>
  <% salecolors = product[:salecolors] %>
  <% sizes = salecolors.first.try(:[], :sizes) || [] %>
  <div class="module common-white">
     <div class="row-fluid">
         <div class="span3">
             <div class="detail-imgbox">
                <%= image_tag Product.img_url(salecolors.first.try(:[], :resource)) %>
             </div>
         </div>
         <div class="span9">
             <div class="price-detail">
                <h3><%= product['brandname'] %> <%= product["skucode"] %></h3>
                <p class="txt3">微信价：<em>￥<%= product["price"] %></em></p>
             </div>
         </div>
     </div>
     <div class="current-choose txt8">
        <div class="row-fluid">
          <div class="span10">
            <div><% if salecolors.blank? %>已售罄<% else %>请选择颜色，尺码<% end %></div>
          </div>
          <div class="span2">
            <div class="text-right">
              <a class="ellipsis" href="#myModal2" data-toggle="modal">•••</a>
            </div>
              <div id="myModal2" class="modal hide fade modal-buy" aria-hidden="true" style="display: none;">
                <form>
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="myModalLabel">&nbsp;</h3>
                </div>
                  <div class="modal-body">
                    <div class="module common-white">
                      <div class="row-fluid">
                         <div class="span3">
                             <div class="detail-imgbox">
                                 <%= image_tag Product.img_url(salecolors.first.try(:[], :resource)) %>
                             </div>
                         </div>
                         <div class="span9">
                             <div class="price-detail">
                                 <h3><%= product['brandname'] %> <%= product["skucode"] %></h3>
                                 <p class="txt3">微信价：<em>￥<%= product["price"] %></em></p>
                             </div>
                         </div>
                      </div>
                    </div>
                    <div class="module-grey">
                    <% if salecolors.present?  %>
                      <div class="modal-color">
                        <p class="txt8">颜色</p>
                        <div class="product-detail">
                           <ul class="inline clearfix" index="<%= index %>">
                          <% salecolors.each do |salecolor| %>
                            <li class="<%= 'active' if salecolors.length == 1 %>">
                              <a href="javascript:void(0);" valueid='<%= salecolor['colorid'] %>' valuename='<%= salecolor['colorname'] %>'>
                                <%= salecolor['colorname'] %>
                              </a>
                            </li>
                          <% end %>
                        </ul>
                        </div>
                      </div>
                    <% end %>

                    <% if sizes.present? %>
                      <div class="modal-size">
                        <p class="txt8">尺码</p>
                        <div class="product-detail">
                           <ul class="inline clearfix" index="<%= index %>">
                          <% sizes.each do |size| %>
                            <li class="<%= 'active' if sizes.length == 1 %>">
                              <a href="javascript:void(0);" valueid='<%= size['sizeid'] %>' valuename='<%= size['sizename'] %>'>
                                <%= size['sizename'] %>
                              </a>
                            </li>
                          <% end %>
                        </ul>
                        </div>
                      </div>
                    <% end %>  

                      <div class="modal-num">
                        <span class="tb-stock clearfix">
                            <span>购买数量</span>
                            <a class="tb-reduce" hidefocus="" href="#">-</a>
                            <input type="text" placeholder="1" class="txt8 tb-text">
                            <a class="tb-increase" href="#">+</a>
                        </span>
                      </div>

                    </div>
                  </div>
                   <div class="modal-footer">
                    <button class="btn btn-danger btn-large btn-block">确 定</button>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
  </div>

  
  <% end %>
      <div class="module common-white">
         <div class="row-fluid">
             <div class="span12">

                 <div id="contact_select_wrapper" class="detail-block detail-contact">
                     <p class="txt8">
                       <span>
                       <i class="fa fa-map-marker"></i>正在选择地址
                       </span>
                     </p>
                 </div>

                 <div id="contact_wrapper" class="detail-block detail-contact" style="display: none;">
                     <p class="txt8">
                       <span>
                         <i class="fa fa-user"></i><span id="weixin_name">联系人</span>
                       </span>
                       <span>
                       <i class="fa fa-phone"></i><span id="weixin_contact">18700001111</span>
                       </span>
                       <span>
                       <i class="fa fa-envelope-o"></i><span id="weixin_contact">1000025</span>
                       </span>
                     </p>
                     <p class="txt8">
                       <span>
                       <i class="fa fa-map-marker"></i><span id="weixin_address">回龙观良庄家园测试地址测试地址</span>
                       </span>
                     </p>
                 </div>
             </div>
         </div>
      </div>
      <div class="module common-white">
         <div class="row-fluid">
             <div class="span12">
                 <div class="detail-block detail-contact-bd">
                     <p class="txt8 txt-bd clearfix">
                       <span class="pull-left">
                         <i class="fa fa-truck"></i>运费：<%= (totalfee = @order[:totalfee]).zero? ? "免运费" : totalfee %>
                       </span>
                       <span class="pull-right"><b>实付：</b><i>￥<%= @order[:totalamount] %></i></span>
                     </p>
                     <p class="txt8 txt0">
                       <i class="fa fa-exclamation-circle"></i>提交订单后，请在1小时内完成支付，过时订单将会自动取消
                     </p>
                 </div>
             </div>
         </div>
      </div>
      <% if @products.any?{|p| p[:salecolors].present?} %>
        <p class="wx-payment">
        <button type="button" class="btn btn-danger btn-large btn-block" id="save_order">
          <i class="fa fa-share-square-o"></i>微信安全支付
        </button>
        </p>
      <% else %>
        <div style="display: inline;" class="col-12">
          <a value="114041090567" id="cancel_order" class="btn btn-grey btn-large btn-block" href="javascript:void(0);">已售罄</a>
        </div>
      <% end %>
</div>

<% content_for :javascripts do %>
<script>
  $(function(){

    $(document).on("click", ".salecolors li a", function(){
      this_li = $(this).parents("li")
      class_name = this_li.attr("class") || ""
      salecolor_id = $(this).attr("valueid")
      salecolor_name = $(this).attr("valuename")
      this_salecolors = $(this).parents(".salecolors")
      index = this_salecolors.attr("index")
      this_salecolors.find("li").removeClass("active")

      if(class_name.indexOf('active') >= 0){
        $("#colorvalueid"+index).attr("value", '')
        $("#colorvaluename"+index).attr("value", '')
        this_li.removeClass("active")
      }else{
        $("#colorvalueid"+index).attr("value", salecolor_id)
        $("#colorvaluename"+index).attr("value", salecolor_name)
        this_li.addClass("active")
      }
    })

    $(document).on("click", ".sizes li a", function(){
      this_li = $(this).parents("li")
      class_name = this_li.attr("class") || ""
      size_id = $(this).attr("valueid")
      size_name = $(this).attr("valuename")
      this_sizes = $(this).parents(".sizes")
      index = this_sizes.attr("index")
      this_sizes.find("li").removeClass("active")

      if(class_name.indexOf('active') >= 0){
        $("#sizevalueid"+index).attr("value", '')
        $("#sizevaluename"+index).attr("value", '')
        this_li.removeClass("active")
      }else{
        $("#sizevalueid"+index).attr("value", size_id)
        $("#sizevaluename"+index).attr("value", size_name)
        this_li.addClass("active")
      }
    })


    var validator = $("#new_order_form").validate({
      ignore: "",
      rules: {
        "order[products][][productid]": {
          required: true
        },
        // "order[products][][desc]":{
        //   required: true
        // },
        "order[products][][quantity]": {
          required: true
        },
        "order[products][][properties][sizevalueid]": {
          required: true
        },
        "order[products][][properties][colorvalueid]": {
          required: true
        },
        "order[payment[paymentcode]]": {
          required: true
        },
        "order[payment[paymentname]]": {
          required: true
        },
        "order[shippingaddress[shippingcontactperson]]": {
          required: true
        },
        "order[shippingaddress[shippingcontactphone]]": {
          required: true
        },
        "order[shippingaddress[shippingzipcode]]": {
          required: true
        },
        "order[shippingaddress[shippingaddress]]": {
          required: true
        },
        "order[needinvoice]": {
          required: true
        }
      },
      messages: {
        "order[products][][properties][sizevalueid]": {
          required: "请选择尺寸"
        },
        "order[products][][properties][colorvalueid]": {
          required: "请选择颜色"
        },
      },
      showErrors: function(errorMap, errorList) {
        var msg = "";
        $.each(errorList, function(i,v){
          msg += (v.message+"\r\n");
        });
        if(msg!="") alert(msg);
      },
      errorPlacement:function(error, element){
        element.after(error)
      }

    })

    $("#save_order").on("click", function(){
      var this_ele = $(this)
      var form = $("#new_order_form")
      if($("#new_order_form").valid()){
        form.ajaxSubmit({
          dataType: "json",
          success: function(data){
            if(data["status"] == true){
              order_id = data["data"]["orderno"]
              if(confirm("是否支付成功？")){
                document.location.href = "/ims/orders/"+order_id
              }else{
                document.location.href = "/ims/orders/"+order_id+"/payments"
              }
            }else{
              alert("提交订单失败")
              // $.each(data["error_messages"], function(index, data){
              //   $(".errore-box .alert").append("<div>"+data+"</div>")
              // })
            }
          },
          error: function(data){
            alert("提交订单发生错误")
          }
        })
      }
    })

    // 获取送货地址、送货人等

    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
      WeixinJSBridge.invoke('editAddress',{
        appId: "<%= Settings.wx.appid %>",
        scope: "jsapi_address",
        signType: "sha1",
        addrSign: "<%= raw @addrSign_val %>",
        timeStamp: "<%= @timeStamp_val %>",
        nonceStr: "<%= @nonceStr_val %>"
      },function(res){
      //若 res 中所带的返回值不为空，则表示用户选择该返回值作为收货地址。否则若返回空，则表示用户取消了这一次编辑收货地址。
        if(res.err_msg == "edit_address:ok"){
          name = res.userName
          zipcode = res.addressPostalCode
          address = [res.proviceFirstStageName, res.addressCitySecondStageName, res.addressCountiesThirdStageName, res.addressDetailInfo].join(" ")
          contact = res.telNumber
          $("#name").attr("value", name)
          $("#weixin_name").text(name)
          $("#zipcode").attr("value", zipcode)
          $("#weixin_zipcode").text(zipcode)
          $("#address").attr("value", address)
          $("#weixin_address").text(address)
          $("#contact").attr("value", contact)
          $("#weixin_contact").text(contact)

          $("#contact_select_wrapper").hide()
          $("#contact_wrapper").show()
        }else{
          alert("获取地址失败")
        }
      })
    })
  })
</script>
<% end %>