<%= form_tag ims_orders_path, id: "new_order" do %>
  <%= image_tag "/images/1.jpg" %>
  D&G女士休闲鞋-0123423123
  微信价: ￥239.00
  品牌价: ￥478.00
  尺码: <%= select_tag "size_id", options_for_select(["", "尺码1", "尺码2"]) %>
  <%= hidden_field_tag "name" %>
  <%= hidden_field_tag "zip_code" %>
  <%= hidden_field_tag "address" %>
  <%= hidden_field_tag "contact" %>
  <%= hidden_field_tag "open_id", session[:wx_openid] %>
  <%= link_to "请点击选择地址", "javascript:void(0);" %>


  <%= link_to "微信安全支付", "javascript:void(0);", id: "save_order" %>
<% end if nil %>



<%= form_tag ims_orders_path, id: "new_order_form", style: "display: none;" do %>
  <%= image_tag "/images/1.jpg" %>
  D&G女士休闲鞋-0123423123
  微信价: ￥239.00
  品牌价: ￥478.00
  尺码: <%= hidden_field_tag "size_id" %>
  <%= hidden_field_tag "name" %>
  <%= hidden_field_tag "zip_code" %>
  <%= hidden_field_tag "address" %>
  <%= hidden_field_tag "contact" %>
  <%= hidden_field_tag "open_id", session[:wx_openid] %>
  <%= link_to "请点击选择地址", "javascript:void(0);" %>



<% end %>


<div class="wrap-inner back-wrap-inner">
  <div class="module common-white">
         <div class="row-fluid">
             <div class="span3">
                 <div class="detail-imgbox">
                     <img src="/images/ims/img800.jpg">
                 </div>
             </div>
             <div class="span9">
                 <div class="price-detail">
                     <h3><%= @product["name"] %></h3>
                     <p class="txt3">微信价：<em>￥<%= @product["price"] %></em></p>
                     <p class="txt5">吊牌价：￥300.00</p>
                 </div>
             </div>
         </div>
      </div>

      <div class="module common-white">
         <div class="row-fluid">
             <div class="span12">
                 <div class="size-detail">
                     <dl class="dl-horizontal">
                          <dt>尺码</dt>
                          <dd>
                            <ul class="inline clearfix" id="sizes">
                              <% @sizes.each do |size| %>
                              <li value='<%= size['id'] %>'>
                                <a href="javascript:void(0);"><%= size['name'] %></a>
                              </li>
                              <% end %>
                            </ul>
                          </dd>
                     </dl>
                 </div>
             </div>
         </div>
      </div>
      <div class="module common-white">
         <div class="row-fluid">
             <div class="span12">
                 <div class="detail-block detail-contact">
                     <p class="txt8"><span><i class="fa fa-user"></i>联系人</span><span><i class="fa fa-phone"></i>18700001111</span></p>
                     <p class="txt8"><span><i class="fa fa-map-marker"></i>回龙观良庄家园测试地址测试地址</span></p>
                 </div>
             </div>
         </div>
      </div>
      <div class="module common-white">
         <div class="row-fluid">
             <div class="span12">
                 <div class="detail-block detail-contact-bd">
                     <p class="txt8 txt-bd clearfix"><span class="pull-left"><i class="fa fa-truck"></i>运费：免运费</span><span class="pull-right"><b>实付：</b><i>￥399.00</i></span></p>
                     <p class="txt8 txt0"><i class="fa fa-exclamation-circle"></i>提交订单后，请在1小时内完成支付，过时订单将会自动取消</p>
                 </div>
             </div>
         </div>
      </div>
      <p class="wx-payment">
      <button type="button" class="btn btn-danger btn-large btn-block" id="save_order">
        <i class="fa fa-share-square-o"></i>微信安全支付
      </button>
      </p>
</div>

<% content_for :javascripts do %>
<script>
  $(function(){

    $("#sizes li").on("click", function(){
      this_ele = $(this)
      size_id = this_ele.attr("value")
      $("#sizes li").each(function() {
        $(this).removeClass("active")
      });
      $("#size_id").attr("value", size_id)
      this_ele.addClass("active")
    })

    var validator = $("#new_order_form").validate({
      ignore: "",
      rules: {
        "size_id": {
          required: true
        },
        "name": {
          required: true
        }
      },
      errorPlacement:function(error, element){
        element.after(error)
      }
    })

    $("#save_order").on("click", function(){
      var this_ele = $(this)
      var form = $("#new_order_form")
      if($("#new_order_form").valid()){
        form.ajaxSubmit({
          dataType: "json",
          success: function(data){
            if(data["status"] == true){
              order_id = data["id"]
              if(confirm("是否支付成功？")){
                document.location.href = "/ims/orders/"+order_id
              }else{
                document.location.href = "/ims/orders/"+order_id+"/payments"
              }
            }else{
              alert("提交订单失败")
              // $.each(data["error_messages"], function(index, data){
              //   $(".errore-box .alert").append("<div>"+data+"</div>")
              // })
            }
          },
          error: function(data){
            alert("提交订单发生错误")
          }
        })
      }
    })

    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
      WeixinJSBridge.invoke('editAddress',{
        appId: "<%= Settings.wx.appid %>",
        scope: "jsapi_address",
        signType: "sha1",
        addrSign: "<%= @addrSign_val %>",
        timeStamp: "<%= @timeStamp_val %>",
        nonceStr: "<%= @nonceStr_val %>"
      },function(res){
        for(var name in res){
          if(typeof res[name] !== 'function'){document.writeln(name+"+:+"+res[name]);}
        }
      //若 res 中所带的返回值不为空，则表示用户选择该返回值作为收货地址。否则若返回空，则表示用户取消了这一次编辑收货地址。
        status = res.err_msg
        if(status["edit_address"] == "ok"){
          name = res.userName
          zip_code = res.addressPostalCode
          address = [res.proviceFirstStageName, res.addressCitySecondStageName, res.addressCountiesThirdStageName, res.addressDetailInfo].join(" ")
          contact = res.telNumber
          $("#name").attr("value", name)
          $("#zip_code").attr("value", zip_code)
          $("#address").attr("value", address)
          $("#contact").attr("value", contact)
        }else{
          alert("获取地址失败")
        }
      })
    })
  })
</script>
<% end %>