请在1小时内完成支付，过时订单将会自动取消！

订单号：<%= @order["orderno"] %>

订单状态：<span id="order_status"><%= @order["status"] %></span>

<%= link_to "立即支付", "javascript:void(0);", value: "order_id" %>

<% @order["products"].each do |product| %>
  <%= link_to ims_store_product_path(product["productid"]) do %>
  <%= image_tag "/images/1.jpg" %>
  <% end %>
<% end %>




收货人姓名：何青山

地址：北京北京市朝阳区测试地址

手机号码：18700001111

<br/>

支付方式： <%= @order["paymentname"] %>
订单备注： <%= @order["memo"] %>
赠送积点： <%= @order["totalpoints"] %>
总价： <%= @order["totalamount"] %>
快递费： <%= @order["totalfee"] %>
需付款： <%= @order["totalamount"] %>


<br/>

<% 2.times.each do %>
退货时间：2014年3月21日

退货编号：REQWRDAS123ASDF

退货原因：颜色不喜欢

退货方式：线上申请

退货状态：退货审核中

退货地址：浙江省杭州市上城区银泰武林店

<% end %>




<% if true %>
  <%= link_to '取消订单', "javascript:void(0);", id: "cancel_order", value: "order_id" %>
<% end %>

<% if true %>
  <%= link_to '申请退货', new_ims_order_returns_reason_path("order_id") %>
<% end %>

<% content_for :javascripts do %>
  <script>
    $(function(){

      $("#cancel_order").on("click", function(){
        if(confirm("是否要取消订单?")){
          this_ele = $(this)
          order_id = this_ele.attr("value")
          $.post("/ims/orders/"+order_id+"/change_state", {_method: "put"}, function(data){
            if(data["status"] == true){
              $("#order_status").text("已取消")
              this_ele.remove()
            }else{
              alert("取消订单失败")
            }
          }, "json")
        }
      })

    })
  </script>
<% end %>