<div class="wrap-inner back-wrap-inner">
<%= form_tag("/ims/store/combos/1", id: 'combo_form', method: 'put') do |f| %>
<div class="module module-bg-white">
    <div class="module-title2">
        <div class="row-fluid">
            <div class="span6"><h3><i class="fa fa-heart"></i>搭配组合照</h3></div>
            <div class="span6">
                <div class="text-right">
                  <%= link_to '商品搭配教程<i class="fa fa-angle-right"></i>'.html_safe, tutorials_ims_store_combos_path %>
                </div>
            </div>
        </div>
    </div>
    <div class="module-pull">
       <div class="row-fluid">
           <div class="span2">&nbsp;</div>
           <div class="span8">
               <div class="show-imgbox-no"><!-- 没有上传图片时class="show-imgbox-no" ;有上传后的图片时class="show-imgbox-yes" -->
                   <img src="/images/ims/no-image.jpg" alt="img-name"><!-- 400px * 400px 没有上传图片时显示默认图片no-image.jpg-->
               </div>
           </div>
           <div class="span2">&nbsp;</div>
       </div>
    </div>
    <div class="mini-imgbox">
        <ul class="inline">
            <li><i></i><img src="/images/ims/suit-11.jpg"></li><!-- 100px * 100px -->
            <li><i></i><img src="/images/ims/suit-11.jpg"></li>
            <li><i></i><img src="/images/ims/suit-11.jpg"></li>
            <li><i></i><img src="/images/ims/suit-11.jpg"></li>
            <li class="add-link"><a href="#"><img src="/images/ims/add-img.png"></a></li>
        </ul>
        <%= hidden_field_tag "image_ids[]" %>
    </div>
</div>


<div class="module module-bg-white">
    <div class="module-title2">
        <div class="row-fluid">
            <div class="span12"><h3><i class="fa fa-heart"></i>搭配商品上传</h3></div>
        </div>
    </div>
    <div class="upload-img">
        <ul class="inline">
            <li><i></i><img src="/images/ims/suit-11.jpg"></li><!-- 100px * 100px -->
            <li><i></i><img src="/images/ims/suit-11.jpg"></li>
            <li class="add-link"><a href="javascript:void(0);" id="add_product"><img src="/images/ims/add-img.png"></a></li>
        </ul>
        <% 3.times.each do %>
          <%= hidden_field_tag "product_image_ids[]", 1 %>
        <% end %>
    </div>
</div>

<div class="module module-bg-white">
    <div class="module-title2">
        <div class="row-fluid">
            <div class="span4"><h3><i class="fa fa-pencil-square-o"></i>搭配描述</h3></div>
            <div class="span8">
                <div class="text-right"><small><i class="fa fa-exclamation-circle"></i> 支持最多128，最少20个字符</small></div>
            </div>
        </div>
    </div>
    <div class="goods-describe">
      <%= text_area_tag :description, "", placeholder: "牛仔裤什么的" %>
    </div>
</div>

<div class="module module-bg-white">
    <div class="module-title2">
        <div class="row-fluid">
            <div class="span12"><h3><i class="fa fa-user"></i>定制对象</h3></div>
        </div>
    </div>
    <div class="module-formbox">
      <%= text_field_tag :customer, '', class: "input-small" %>
      <span class="help-inline help-inlinetext">顾客姓名或昵称</span>
    </div>
</div>

<div class="bottom-btnbox">
    <button class="btn btn-large btn-danger"><i class="fa fa-eye"></i>预 览</button>
    <button class="btn btn-large btn-danger" type="submit"><i class="fa fa-upload"></i>提交发布</button>
</div>

<div id="popup_menu" class="popup-menu" style="display: none;">
    <%= link_to "新拍商品", new_ims_store_product_path, class: "txt1" %>
    <%= link_to "已拍商品", ims_store_products_path, class: "txt1" %>
    <%= link_to "从系统选择", search_ims_store_products_path, class: "txt1" %>
    <button class="btn btn-large btn-danger btn-block txt1" id="cancel">取消</button>
</div>
<% end %>
</div>

<%= content_for :javascripts do -%>
<script type="text/javascript" charset="utf-8">
  $(function(){

    $("#add_product").on("click", function(){
      $("#popup_menu").show()
    })

    $("#popup_menu #cancel").on("click", function(){
      $("#popup_menu").hide()
    })

    $("#combo_form").on("submit", function(){
      var image_fields = $("input[name='image_ids[]']")
      var product_image_fields = $("input[name='product_image_ids[]']")
      verify_image1 = image_fields.length == 0
      verify_image2 = product_image_fields.length < 2
      verify_image3 = product_image_fields.length > 3
      if(verify_image1){
        alert("主图必须有")
      }
      if(verify_image2){
        alert("商品搭配至少要由2个组成")
      }
      if(verify_image3){
        alert("商品搭配最多由3个组成")
      }
      if(verify_image1 || verify_image2 || verify_image3){
        return false
      }

    })

    $("#combo_form").validate({
      rules: {
        "description": {
          required: true,
          minlength: 20,
          maxlength: 128
        }
      },
      errorPlacement:function(error, element){
        element.after(error)
      }
    })

    $("#add a").click(function(){
      $("#add_list").show();
    });
  });
</script>
<% end -%>
