<div class="wrap-inner back-wrap-inner bottom-distance">
<%= form_for [:ims, :store, @combo], remote: true, html: {class: 'form-defined goods-describe', id: 'combo_form'} do |f| %>
<div class="module module-bg-white">
    <div class="module-title2">
        <div class="row-fluid">
            <div class="span6"><h3><i class="fa fa-heart"></i>搭配组合照</h3></div>
            <div class="span6 text-right">
              <%#= link_to '商品搭配教程<i class="fa fa-angle-right"></i>'.html_safe, tutorials_ims_store_combos_path, class: "title-link" %>
            </div>
        </div>
    </div>
    <div class="module-pull">
       <div class="row-fluid">
           <div class="span2">&nbsp;</div>
           <div class="span8">
               <div class="<%= @combo.combo_pics.present? ? 'show-imgbox-yes' : 'show-imgbox-no' %>" id="default_img"><!-- 没有上传图片时class="show-imgbox-no" ;有上传后的图片时class="show-imgbox-yes" -->
                 <% img_url = @combo.combo_pics.present? ? @combo.combo_pics.last.url : 'ims/no-image.jpg' %>
                 <%= image_tag img_url %>
               </div>
           </div>
           <div class="span2">&nbsp;</div>
       </div>
    </div>
    <div class="mini-imgbox">
        <ul class="inline clearfix" id="img_box">
            <% @combo.combo_pics.each do |pic| %>
            <li><i id="img_<%= pic.id -%>" data="<%= pic.id -%>"><%= image_tag '/ims/delate.png' %></i>
              <span class="img-spa">
                <%= image_tag(pic.url) %>
              </span>
            </li>
            <% end %>
            <% if @combo.combo_pics.size < 5 %>
            <li class="add-link" id="add_img"><span class="img-spa"><%= image_tag "ims/add-img.png" %></span></li>
            <% end %>
            <div style="height: 0px;width: 0px; overflow:hidden;"><input id="upfile" type="file" value="upload" name="img" accept="image/*" capture="camera">
            </div>
        </ul>
    </div>
</div>


<div class="module module-bg-white">
    <div class="module-title2">
        <div class="row-fluid">
            <div class="span12"><h3><i class="fa fa-heart"></i>搭配商品上传</h3></div>
        </div>
    </div>
    <div class="upload-img">
        <ul class="inline clearfix" id="p_box">
          <% @combo.combo_products.each do |product| %>
            <li><i id="p_<%=product.id%>" data="<%=product.id%>"><%= image_tag '/ims/delate.png' %></i><span class="img-spa">
              <%= image_tag(product.img_url) %>
            </span></li>
          <% end %>
          <% if @combo.combo_products.size < 3 %>
          <li class="add-link" id="add_product"><a href="javascript:void(0);"><span class="img-spa"><%= image_tag "ims/add-img.png" %></span></a></li>
          <% else %>
          <li class="add-link" id="add_product" style="display:none;"><a href="javascript:void(0);"><span class="img-spa"><%= image_tag "ims/add-img.png" %></span></a></li>
          <% end %>
        </ul>
    </div>
</div>

<div class="module module-bg-white">
    <div class="module-title2">
        <div class="row-fluid">
            <div class="span4"><h3><i class="fa fa-pencil-square-o"></i>搭配描述</h3></div>
            <div class="span8">
                <div class="text-right"><small><i class="fa fa-exclamation-circle"></i> 支持最多128，最少10个字符</small></div>
            </div>
        </div>
    </div>
    <div class="goods-describe">
      <%= f.text_area :desc, :rows => 4 %>
    </div>
</div>

<div class="module module-bg-white">
    <div class="module-title2">
        <div class="row-fluid">
            <div class="span12"><h3><i class="fa fa-user"></i>定制对象</h3></div>
        </div>
    </div>
    <div class="module-formbox">
      <%= f.text_field :private_to, class: 'input-block-level small-block', placeholder: "顾客姓名或昵称"  %>
    </div>
</div>
<% if @remote_id.present? %>
  <%= hidden_field_tag :remote_id, @remote_id %>
<% end %>

<% end %>
<div class="bottom-btnbox" id="buttons">
    <button class="btn btn-small btn-danger preview" type="button">预 览</button>
    <button class="btn btn-small btn-danger" type="button" id="combo_submit" >提交发布</button>
</div>

<div class="popup-menu-box">
  <div class="popup-menu" style="display:none;" id="pop-menu">
    <% if @combo.combo_products.blank? %>
      <% if current_user.operate_right >= 4 %>
        <%= link_to "新拍商品", "javascript:void(0);", class: 'txt1', value: new_ims_store_product_path(:combo_id => @combo.id) %>
        <%= link_to "已拍商品", "javascript:void(0);", class: 'txt1', value: ims_store_products_path(:combo_id => @combo.id) %>
      <% end %>
      <%= link_to "从系统选择", "javascript:void(0);", class: 'txt1', value: search_ims_store_products_path(:combo_id => @combo.id) %>
    <% elsif @combo.combo_products.first.product_type == "2" %>
      <%= link_to "新拍商品", "javascript:void(0);", class: 'txt1', value: new_ims_store_product_path(:combo_id => @combo.id) %>
      <%= link_to "已拍商品", "javascript:void(0);", value: ims_store_products_path(:combo_id => @combo.id), class: 'txt1' %>
    <% else %>
      <%= link_to "从系统选择", "javascript:void(0);", value: search_ims_store_products_path(:combo_id => @combo.id), class: 'txt1' %>
    <% end %>


    <button class="btn btn-large btn-danger btn-block txt1" id="btn-cancel">取消</button>
  </div>

</div>
</div>
<script type="text/javascript">
var check_form = function(){
      var image_fields = $("#img_box li[class!='add-link']");
      var product_image_fields = $("#p_box li");
      verify_image1 = image_fields.length < 1;
      verify_image2 = image_fields.length > 5;
      verify_product1 = product_image_fields.length < 2;
      verify_product2 = product_image_fields.length > 4;
      var desc_length = $("#combo_desc").val().length;
      var status = true;

      if(verify_image1){
        error_modal("主图必须至少有1张");
        status = false;
      }
      if(verify_image2){
        error_modal("主图最多有5张");
        status = false;
      }
      if(verify_product1){
        error_modal("商品搭配至少要由1个组成");
        status = false;
      }
      if(verify_product2){
        error_modal("商品搭配最多由3个组成");
        status = false;
      }
      if(verify_image1 || verify_image2){
        status = false;
      }
      if(desc_length < 10){
        error_modal("商品描述最少10个字");
        status = false;
      }
      if(desc_length > 128){
        error_modal("商品描述最多128个字");
        status = false;
      }
      return status;
    }
    </script>
<%= content_for :javascripts do -%>
<script type="text/javascript" charset="utf-8">

  $(function(){

    $(".popup-menu a").click(function(){
      url = $(this).attr("value")
      $("#loading-box").modal()
      setTimeout(function(){
        window.location.href = url
      }, 1)
    });


    <% if @combo.desc.blank?  %>
    $("#combo_desc").val("<%= @combo.product_desc %>")
    <% end %>

    $("#combo_desc").blur(function(){
      $.ajax({
        url: "/ims/store/combos/<%= @combo.id %>/update_desc",
        data: {"desc": $("#combo_desc").val()}
      })
    })

    $("#combo_submit").click(function(){
      var status = check_form();
      if(status){
        $("#combo_form").ajaxSubmit();
        $("#loading-box").modal();
      }  
    });


    $("#add a").click(function(){
      $("#add_list").show();
    });


    $("#add_img").click(function(){
       img_size = $("#img_box li[class!='add-link']").length;
       if(img_size < 5){
         document.getElementById("upfile").click();
       }else{
        error_modal("上传主图不能超过5个");
       }
    });

    document.getElementById('upfile').onchange = function (e) {
      $("#loading-box").modal();
      var orientation ;
      loadImage.parseMetaData(
        e.target.files[0],
        function(data){
          if(data.exif)
          orientation = data.exif.get('Orientation');
        }
      );

      loadImage(
        e.target.files[0],
        function(img){
          var resized = resizeIos(img, 640, 640, orientation);
          $.ajax({
              url: "/ims/combos/upload",
              dataType: 'json',
              type: 'post',
              data: {"img": resized, "id": "<%= @combo.id %>"},
              beforeSend: function(){
                $("#add_img").hide();
              },
              success: function(data){
                $("#loading-box").modal('hide');
                if(data['status'] == 1){
                   setTimeout(function(){
                     insert_html = "<li><i id='img_"+data['id']+"' data='"+data['id']+"'><img src='/assets/ims/delate.png'></i><span class='img-spa'><img src='"+data['img']+"'></span></li>";
                     if($("#img_box li[class!='add-link']").length >0 ){
                       $($("#img_box li[class!='add-link']:last")).after(insert_html);
                     }else{
                       $("#img_box").prepend(insert_html);
                     };

                     $("#default_img").addClass("show-imgbox-yes");
                     $("#default_img").removeClass("show-imgbox-no");
                     $("#default_img").html("<img src='"+data['img']+"'>");
                     img_size = $("#img_box li[class!='add-link']").length;
                     if(img_size == 5){$("#add_img").hide();}else{$("#add_img").show();}
                      format_img(".show-imgbox-no");
                      format_img(".img-spa");
                      format_img(".show-imgbox-yes");
                   }, 800);
                 }else{
                   error_modal("网络错误，请稍后重试");
                 }
              }
            });
        }
      )


};


     $(document).on('click', "#img_box li[class!='add-link'] span", function(){
          src = $(this).find("img")[0].src;
          $("#default_img").html("<img src='"+src+"'>");
          format_img(".show-imgbox-yes");
     });

     $(document).on("click", "#img_box li i", function(){
       if(confirm("确定要删除该图片？")){
         mid = $(this).attr("data");
         $.ajax({
          url: "/ims/store/combos/remove_img?img_id="+mid,
          success: function(response){
              $("#img_"+mid).parent().remove();
              img_size = $("#img_box li[class!='add-link']").length;
              if(img_size < 5 && img_size > 0){
                $("#add_img").show();
                $("#default_img").html("<img src='"+$("#img_box li[class!='add-link'] span img")[0].src+"'>");
              }else{
                $("#add_img").show();
                $("#default_img").html('<%= image_tag "ims/no-image.jpg" %>');
              }
              format_img(".show-imgbox-no");
              format_img(".img-spa");
              format_img(".show-imgbox-yes");
          }
         });
      }

     });

     $("#add_product").click(function(){
       var p_size = $("#p_box li[class!='add-link']").length;
       if(p_size < 3){
        $("#buttons").hide();
         $("#pop-menu").show();
       }else{
        error_modal('最多只能搭配3个商品');
       }
     });

     $("#btn-cancel").click(function(){
       $("#pop-menu").hide();
       $("#buttons").show();
       $("#loading-box").modal('hide');
     });

     $(document).on("click", "#p_box li i", function(){
       mid = $(this).attr("data");
       $.ajax({
        url: "/ims/store/combos/remove_product?product_id="+mid,
        success: function(response){
            $("#p_"+mid).parent().remove();
            var p_size = $("#p_box li[class!='add-link']").length;
            console.log(p_size);
            if(p_size < 3){
              $("#add_product").show();
              format_img(".img-spa");
            }
        }
       });
     });

     $(".preview").click(function(){
         status = check_form();
           desc = $("#combo_desc").val();
           private_to = $("#combo_private_to").val();
           console.log(private_to);
         if(status != "false"){
           $.ajax({
             url: "<%=update_desc_ims_store_combo_path(@combo)%>",
             method: 'put',
             data: {"desc": desc, "private_to": private_to},
             beforeSend: function(){
              $("#loading-box").modal();
             },
             success: function(response){
               self.location="/ims/store/combos/<%=@combo.id%>/preview";
             }
           });
         }
       })

     format_img(".show-imgbox-no");
     format_img(".img-spa");
     format_img(".show-imgbox-yes");

  });
</script>
<% end -%>
