<div class="wrap-inner back-wrap-inner bottom-distance">
  <div style="height: 0px;width: 0px; overflow:hidden;">
    <input id="upfile" type="file" value="upload" name="img" accept="image/*" capture="camera">
  </div>
  <%= form_for [:ims, :store, @combo], remote: true, html: {class: 'form-defined goods-describe', id: 'combo_form'} do |f| %>
  <div class="module module-bg-white">
    <div class="module-title2">
      <div class="row-fluid">
        <div class="span6">
          <h3><i class="fa fa-heart"></i>商品组合照</h3>
        </div>
        <div class="span6 text-right">
        </div>
      </div>
    </div>
    <div class="module-pull">
      <div class="row-fluid">
        <div class="span2">&nbsp;</div>
        <div class="span8">
          <!-- 没有上传图片时class="show-imgbox-no" ;有上传后的图片时class="show-imgbox-yes" -->
          <div class="<%= @combo.combo_pics.present? ? 'show-imgbox-yes' : 'show-imgbox-no' %>" id="default_img">
            <% if @combo.combo_pics.present? %>
              <%= image_tag @combo.combo_pics.last.url %>
            <% else %>
              <%= image_tag 'ims/no-image.jpg' %>
            <% end %>
          </div>
        </div>
      <div class="span2">&nbsp;</div>
      </div>
    </div>
    <div class="mini-imgbox">
      <ul class="inline clearfix" id="img_box">
        <% @combo.combo_pics.each do |pic| %>
        <li>
          <i id="img_<%= pic.id -%>" data="<%= pic.id -%>"><%= image_tag 'ims/delate.png' %></i>
          <span class="img-spa">
            <%= image_tag pic.url %>
          </span>
        </li>
        <% end %>
        <% if (combo_pics_size = @combo.combo_pics.size) < 6 %>
          <li class="add-link" id="add_img" style="<%= 'display: none;' if combo_pics_size == 5 %>"><span class="img-spa"><%= image_tag "ims/add-img.png" %></span></li>
        <% end %>
      </ul>
    </div>
  </div>


  <div class="module module-bg-white">
    <div class="module-title2">
      <div class="row-fluid">
        <div class="span12"><h3><i class="fa fa-heart"></i>组合商品上传</h3></div>
      </div>
    </div>
    <div class="upload-img">
      <ul class="inline clearfix" id="p_box">
        <% @combo.combo_products.each do |product| %>
          <li>
            <i id="p_<%=product.id%>" data="<%=product.id%>"><%= image_tag 'ims/delate.png' %></i>
            <span class="img-spa <%= 'product-link' if product.product_type == "2" %>" value='/ims/store/products/<%=product.remote_id%>/edit'>
            <% if product.img_url.present? %>
              <%= image_tag product.img_url %>
            <% else %>
              <%= image_tag Settings.default_image_url.product.middle %>
            <% end %>
            </span>
          </li>
        <% end %>
        <% if @combo.combo_products.size < 6 %>
          <li class="add-link" id="add_product">
            <a href="javascript:void(0);"><span class="img-spa"><%= image_tag "ims/add-img.png" %></span></a>
          </li>
        <% else %>
          <li class="add-link" id="add_product" style="display:none;">
            <a href="javascript:void(0);"><span class="img-spa"><%= image_tag "ims/add-img.png" %></span></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="module module-bg-white">
    <div class="module-title2">
      <div class="row-fluid">
        <div class="span4"><h3><i class="fa fa-pencil-square-o"></i>组合描述</h3></div>
        <div class="span8">
          <div class="text-right"><small><i class="fa fa-exclamation-circle"></i> 支持最多500，最少10个字符</small></div>
        </div>
      </div>
    </div>
    <div class="goods-describe">
      <%= f.text_area :desc, :rows => 4 %>
    </div>
  </div>

  <div class="module module-bg-white">
    <% if @combo.can_edit_pro? && false %>
    <div class="module-title2">
      <div class="row-fluid">
        <div class="span12"><h3><i class="fa fa-user"></i>促销活动</h3></div>
      </div>
    </div>

    <div class="controls-defined defined-small">
      <label class="col-3 text-left">促销活动:</label>
      <div class="col-9" style="<%= 'margin-top: 6px;' if @request_iphone %>">
        <%= f.radio_button :has_discount, false %>无
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.radio_button :has_discount, true %>有
      </div>
    </div>
    <div id="promotion" style="<%= @combo.has_discount? ? 'display:block' : 'display:none'  %>">
      <div class="controls-defined defined-small">
        <label class="col-3 text-left">直减金额:</label>
        <div class="col-9">
          <input class="input-block-level small-block" id="combo_discount" name="combo[discount]" value="<%= @combo.discount %>"  placeholder="请输入直减金额" size="30" type="number" pattern="[0-9]+([\.|,][0-9]+)?" step="0.1">（元）
        </div>
      </div>
    </div>
    <% end %>

    <div class="controls-defined defined-small">
      <label class="col-3 text-left">全网公开:</label>
      <div class="col-9" style="<%= 'margin-top: 6px;' if @request_iphone %>">
        <%= f.radio_button :is_public, false %>否
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.radio_button :is_public, true %>是
      </div>
    </div>
  </div>


  <% if @remote_id.present? %>
    <%= hidden_field_tag :remote_id, @remote_id %>
  <% end %>

  <% end %>
  <div class="bottom-btnbox" id="buttons">
    <button class="btn btn-small btn-danger preview" type="button">预 览</button>
    <button class="btn btn-small btn-danger" type="button" id="combo_submit" >提交发布</button>
  </div>

  <div class="popup-menu-box">
    <div class="popup-menu" style="display:none;" id="pop-menu">
      <% if @combo.combo_products.blank? %>
        <% if current_user.shopping_guide_operate? %>
          <%= link_to "新拍商品", "javascript:void(0);", class: 'txt1', value: new_ims_store_product_path(:combo_id => @combo.id) %>
          <%= link_to "已拍商品", "javascript:void(0);", class: 'txt1', value: ims_store_products_path(:combo_id => @combo.id) %>
          <%= link_to "其他专柜自拍商品", "javascript:void(0);", class: 'txt1', value: search_ims_store_products_path(:combo_id => @combo.id, is_system: "0") %>
        <% end %>
        <%= link_to "从系统选择", "javascript:void(0);", class: 'txt1', value: search_ims_store_products_path(:combo_id => @combo.id, is_system: "1") %>
      <% elsif "2" == @combo.combo_products.first.product_type %>
        <%= link_to "新拍商品", "javascript:void(0);", class: 'txt1', value: new_ims_store_product_path(:combo_id => @combo.id) %>
        <%= link_to "已拍商品", "javascript:void(0);", value: ims_store_products_path(:combo_id => @combo.id), class: 'txt1' %>
        <%= link_to "其他专柜自拍商品", "javascript:void(0);", class: 'txt1', value: search_ims_store_products_path(:combo_id => @combo.id, is_system: "0") %>
      <% else %>
        <%= link_to "从系统选择", "javascript:void(0);", value: search_ims_store_products_path(:combo_id => @combo.id, is_system: "1"), class: 'txt1' %>
      <% end %>

      <button class="btn btn-large btn-danger btn-block txt1" id="btn-cancel">取消</button>
    </div>
  </div>
</div>

<script type="text/javascript">

  var combo_price = "<%= params[:action] == 'new' ? @combo[:price] : @remote_combo[:data][:origin_price] %>"
  var check_form = function(){
    var image_fields = $("#img_box li[class!='add-link']");
    var product_image_fields = $("#p_box li");
    verify_image1 = image_fields.length < 1;
    verify_image2 = image_fields.length > 5;
    verify_product1 = product_image_fields.length < 2;
    verify_product2 = product_image_fields.length > 7;
    var desc_length = $("#combo_desc").val().length;
    has_discount = $("input[name='combo[has_discount]']:checked").val();
    discount = $("#combo_discount").val();

    var status = true;

    if(verify_image1){
      error_modal("主图必须至少有1张");
      status = false;
    }
    if(verify_image2){
      error_modal("主图最多有5张");
      status = false;
    }
    if(verify_product1){
      error_modal("商品组合至少要由1个组成");
      status = false;
    }
    if(verify_product2){
      error_modal("商品组合最多由6个组成");
      status = false;
    }
    if(verify_image1 || verify_image2){
      status = false;
    }
    if(desc_length < 10){
      error_modal("商品描述最少10个字");
      status = false;
    }
    if(desc_length > 500){
      error_modal("商品描述最多500个字");
      status = false;
    }
    if(has_discount == "true" && !(parseFloat(discount) > 0 && parseFloat(discount) < combo_price) ){
      error_modal("促销活动直减金额必须大于0并且小于"+combo_price);
      status = false;
    }
    return status;
  }
</script>

<%= content_for :javascripts do -%>
<script type="text/javascript" charset="utf-8">

  $(function(){

    $(".popup-menu a").click(function(){
      url = $(this).attr("value")
      $("#loading-box").modal()
      setTimeout(function(){
        window.location.href = url
      }, 1)
    });


    <% if @combo.desc.blank?  %>
      $("#combo_desc").val("<%= @combo.product_desc %>")
    <% end %>

    function update_desc(){
      $.ajax({
        url: "/ims/store/combos/<%= @combo.id %>/update_desc",
        data: {
          "desc": $("#combo_desc").val(),
          "has_discount": $("input[name='combo[has_discount]']:checked").val(),
          "discount": $("#combo_discount").val(),
          "is_public": $("input[name='combo[is_public]']:checked").val()
        }
      });
    }

    $("input[name='combo[has_discount]'], input[name='combo[is_public]']").on("change", function(){
      update_desc();
    })

    $("#combo_desc").blur(function(){
      update_desc();
    })


    $("#combo_discount").blur(function(){
      update_desc();
    })

    $("#combo_submit").click(function(){
      var status = check_form();
      if(status && $("#combo_form").valid()){
        $("#combo_form").ajaxSubmit();
        $("#loading-box").modal();
      }
    });


    $("#add a").click(function(){
      $("#add_list").show();
    });


    $("#add_img").click(function(){
      img_size = $("#img_box li[class!='add-link']").length;
      if(img_size < 5){
        document.getElementById("upfile").click();
      }else{
        error_modal("上传主图不能超过5个");
      }
    });

    document.getElementById('upfile').onchange = function (e) {
      $("#loading-box").modal();
      var options = {maxWidth: 640,canvas: true};
      options.maxWidth = 640;
      var file = e.target.files[0];
      loadImage.parseMetaData(file, function (data) {
        if (data.exif) {
          options.orientation = data.exif.get('Orientation');
        }
        loadImage(
          file,
          function(img){
            var img_data;
            if (isIPhone()) {
              img_data = img.toDataURL('image/jpeg',85);
            } else {
              var encoder = new JPEGEncoder();
              var ctx = img.getContext('2d');
              var rawImageData = ctx.getImageData(0, 0, img.width, img.height);
                img_data = encoder.encode(rawImageData,85);
            }

            $.ajax({
              url: "/ims/combos/upload",
              dataType: 'json',
              type: 'post',
              data: {"img": img_data, "id": "<%= @combo.id %>"},
              beforeSend: function(){
                $("#add_img").hide();
              },
              success: function(data){
                $("#loading-box").modal('hide');
                if(data['status'] == 1){
                  setTimeout(function(){
                    img = '<%= image_tag "ims/delate.png" %>'
                    insert_html = "<li><i id='img_"+data['id']+"' data='"+data['id']+"'>"+img+"</i><span class='img-spa'><img src='"+data['img'] + "'></span></li>";
                    if($("#img_box li[class!='add-link']").length >0 ){
                      $($("#img_box li[class!='add-link']:last")).after(insert_html);
                    }else{
                      $("#img_box").prepend(insert_html);
                    };

                    $("#default_img").addClass("show-imgbox-yes");
                    $("#default_img").removeClass("show-imgbox-no");
                    $("#default_img").html("<img src='"+data['img']+"'>");
                    img_size = $("#img_box li[class!='add-link']").length;
                    if(img_size == 5){$("#add_img").hide();}else{$("#add_img").show();}
                    format_img(".show-imgbox-no");
                    format_img(".img-spa");
                    format_img(".show-imgbox-yes");
                  }, 800);
                }else{
                  error_modal(data["message"]);
                }
              }
            });

          },options);
      });

    };

    $(document).on('click', "#img_box li[class!='add-link'] span", function(){
      src = $(this).find("img")[0].src;
      $("#default_img").html("<img src='"+src+"'>");
      format_img(".show-imgbox-yes");
    });

    $(document).on("click", "#img_box li i", function(){

      mid = $(this).attr("data");
      $.ajax({
        url: "/ims/store/combos/remove_img?img_id="+mid,
        success: function(response){
          $("#img_"+mid).parent().remove();
          img_size = $("#img_box li[class!='add-link']").length;
          if(img_size < 5 && img_size > 0){
            $("#add_img").show();
            $("#default_img").html("<img src='"+$("#img_box li[class!='add-link'] span img")[0].src+"'>");
          }else{
            $("#add_img").show();
            $("#default_img").html('<%= image_tag "ims/no-image.jpg" %>');
          }
          format_img(".show-imgbox-no");
          format_img(".img-spa");
          format_img(".show-imgbox-yes");
        }
      });
    });

    $("#add_product").click(function(){
      update_desc();
      var p_size = $("#p_box li[class!='add-link']").length;
      if(p_size < 6){
        $("#buttons").hide();
        $("#pop-menu").show();
      }else{
        error_modal('最多只能组合6个商品');
      }
    });

    $("#btn-cancel").click(function(){
      $("#pop-menu").hide();
      $("#buttons").show();
      $("#loading-box").modal('hide');
    });

    $(document).on("click", "#p_box li i", function(){
      if(confirm("确定要删除该商品？")){
        mid = $(this).attr("data");
        $.ajax({
          url: "/ims/store/combos/remove_product?product_id="+mid,
          success: function(response){
            $("#p_"+mid).parent().remove();
            var p_size = $("#p_box li[class!='add-link']").length;
            console.log(p_size);
            if(p_size < 6){
              $("#add_product").show();
              format_img(".img-spa");
            }
          }
        });
      }
    });

    $(".preview").click(function(){
      status = check_form();
      desc = $("#combo_desc").val();
      private_to = $("#combo_private_to").val();
      console.log(private_to);
      if(status != "false"){
        $.ajax({
          url: "<%=update_desc_ims_store_combo_path(@combo)%>",
          method: 'put',
          data: {"desc": $("#combo_desc").val(), "has_discount": $("input[name='combo[has_discount]']:checked").val(), "discount": $("#combo_discount").val(), "is_public": $("input[name='combo[is_public]']:checked").val()},
          beforeSend: function(){
            $("#loading-box").modal();
          },
          success: function(response){
            self.location="/ims/store/combos/<%=@combo.id%>/preview";
          }
        });
      }
    })

    format_img(".show-imgbox-no");
    format_img(".img-spa");
    format_img(".show-imgbox-yes");

    $(document).on("click", ".product-link", function(){
      url = $(this).attr("value")
      $("#loading-box").modal()
      setTimeout(function(){
        window.location.href = url
      }, 1)
    });

    $("[name='combo[has_discount]']").click(function(){
      if($(this).val() == "true"){
        $("#promotion").slideDown();
      }else{
        $("#promotion").slideUp();
      }
    })

    $("#combo_form").validate({
      onsubmit: true,
      onfocusout: false,
      onkeyup: false,
      onclick: false,
      rules: {
        "combo[desc]": {
          minlength: 10,
          maxlength: 500
        }
      },
      messages: {
        "combo[desc]": {
          minlength: "组合描述至少10个字符",
          maxlength: "组合描述至多500个字符"
        }
      },
      showErrors: function(errorMap, errorList) {
        var messages = errorList.map(function(i, v) {
          return i.message
        })
        msg = messages.join(", ")
        if(msg != ""){
          error_modal(msg);
        }
      },
      errorPlacement:function(error, element){
        if(element.attr("id") == "input"){
          $("#img_error_notice").html(error)
        }else{
          element.after(error)
        }
      }


    })

  });
</script>
<% end -%>
