<div class="wrap-inner back-wrap-inner bottom-distance">
  <%= form_for [:ims, :store, @combo], remote: true, html: {id: 'combo_form'} do |f| %>
    <div class="module module-color-white clearfix">
      <div class="row-fluid">
        <div class="span12">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <% @combo.combo_pics.each_with_index do |img, i| %>
              <div class="swiper-slide">
                <%= image_tag img.url %>
              </div>
              <% end %>
            </div>
          </div>
          <div class="module module-white module-show">
            <% @combo.combo_products.in_groups_of(3).each do |combo_products| %>
              <div class="row-fluid">
              <% combo_products.compact.each do |product| %>
                <div class="span4">
                  <div class="combos-product">
                    <span class="img-spa">
                      <%= image_tag product.img_url %>
                    </span>
                    <p><span class="txt3">￥<%= product.price %></span></p>
                    <a class="btn btn-danger btn-mini btn-block" href="javascrip:void(0);">点击购买</a>
                  </div>
                </div>
              <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if @combo.private_to.present? %>
    <div class="private-custom">
      <div class="private-bg">
        <div class="private-text">
          <p class="txt4 txt-red"><%= @combo.private_to %>亲:</p>
          <p class="txt4">
            希望你喜欢哦！
          </p>
        </div>
      </div>
    </div>
    <% end %>
    <div class="p-title">
      <h4><%= @combo.desc %></h4>
      <div class="p-price1 clearfix">
        <span class="txt3 pull-left">打包价：<em>￥<%= @combo.price %></em></span>
      </div>
    </div>
  <% end %>

  <div class="bottom-btnbox">
    <button class="btn btn-small btn-danger preview button_link" type="button">
      <%= link_to "返回", "javascript:void(0);", value: new_ims_store_combo_path(combo_id: @combo.id, t: Time.now.to_i), id: "return_url" %>
    </button>
    <button class="btn btn-small btn-danger" type="button" id="combo_submit" >提交发布</button>
  </div>
</div>


<script type="text/javascript">
  $(function(){

    $(".button_link").on("click", function(){
      url = $(this).find('a').attr("value")
      $("#loading-box").modal()
      setTimeout(function(){
        window.location.href = url
      }, 1)
    })

    var mySwiper = $('.swiper-container').swiper({
      mode:'horizontal',
      autoplay: 3000,
      speed: 1000,
      calculateHeight: true,
      watchActiveIndex: true,
      loop: true,
      centeredSlides: true,
      offsetPxBefore: 100
    });

    format_img(".img-spa");

    $("#return_url").click(function(){
      url = $(this).attr("value")
      $("#loading-box").modal()
      setTimeout(function(){
        window.location.href = url
      }, 1)
    });

    $("#combo_submit").click(function(){
      $("#loading-box").modal()
      $("#combo_form").ajaxSubmit();
    });
  })
</script>

