<div class="wrap-inner back-wrap-inner">
    <div class="module module-color-white clearfix">
      <div class="row-fluid">
        <div class="span12">
            <div id="myCarousel" class="carousel slide" style="overflow: hidden;">
              <ol class="carousel-indicators">
                <li class="active"></li>
                <li></li>
                <li></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner slides">
                <% @combo.combo_pics.each_with_index do |img, i| %>
                  <div class="item slide <%= 'active' if i == 0 %>"><img src="<%= img.url %>"></div>
                <% end %>
              </div>
            </div>
            <div class="module module-white module-show">
              <div class="row-fluid">
                <% @combo.combo_products.each do |product| %>
                <div class="span4">
                  <div class="combos-product">
                    <img src="<%= product.img_url %>">
                    <p><span class="txt3">￥<%= product.price %></span></p>
                    <a class="btn btn-danger btn-mini btn-block" href="javascrip:void(0);">点击购买</a>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
        </div>
      </div>
    </div>
    <% if @combo.private_to.present? %>
    <div class="private-custom">
      <div class="private-bg">
        <div class="private-text">
            <p class="txt4 txt-red"><%= @combo.private_to %>亲:</p>
          <p class="txt4">
            希望你喜欢哦！
          </p>
        </div>
      </div>
    </div>
    <% end %>
    <div class="p-title">
      <h4><%= @combo.desc %></h4>
      <div class="p-price1 clearfix">
        <span class="txt3 pull-left">打包价：<em>￥<%= @combo.price %></em></span>
        <!-- <span class="txt4 pull-right" id="favor_combo"><a href="javascript:void(0)"><i class="fa fa-star-o"></i> 收藏</a></span>
        <span class="txt4 pull-right txt-red" id="unfavor_combo"><i class="fa fa-star"></i> 已收藏</span> -->
      </div>
    </div>

    <div class="bottom-btnbox">
      <button class="btn btn-large btn-danger btnblock" type="button"><a href="<%= new_ims_store_combo_path(combo_id: @combo.id) %>">返回</a></button>
    </div>
  </div>


<script type="text/javascript">
  $(function(){

    $("#myCarousel").swipeshow({
      autostart: true,    /* Set to `false` to keep it steady */
      interval: 3000,     /* Time between switching slides (ms) */
      initial: 0,         /* First slide's index */
      speed: 1500,         /* Animation speed (ms) */
      friction: 1,      /* Bounce-back behavior; use `0` to disable */
      mouse: true,        /* enable mouse dragging controls */
      keys: true
    });

  })
</script>

