<div class="wrap-inner back-wrap-inner bottom-distance">
  <div class="module module-color-white clearfix">
    <div class="row-fluid">
      <div class="span12">
        <div id="myCarousel" class="carousel slide" style="overflow: hidden;">
          <ol class="carousel-indicators">
            <li class="active"></li>
            <li></li>
            <li></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner slides">
            <% @remote_combo[:data][:images].each_with_index do |src, i| %>
              <div class="item slide <%= 'active' if i == 0 %>">
                <%= image_tag src %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="module module-white module-show">
          <div class="row-fluid">
            <% @remote_combo[:data][:products].each do |product| %>
              <div class="span4">
                <div class="combos-product">
                  <%= image_tag product[:image] %>
                  <p>
                    <span class="txt3">￥<%= product[:price] %></span>
                  </p>
                  <%= link_to "点击购买", ims_orders_new_path(product_id: product[:id], combo_id: @remote_combo[:data][:id]), class: "btn btn-danger btn-mini btn-block" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="private-custom">
    <div class="private-bg">
      <div class="private-text">
        <p class="txt4 txt-red"><%= @remote_combo[:data][:private_to] %>亲:</p>
        <p class="txt4">
          希望你喜欢哦！
        </p>
      </div>
    </div>
  </div>
  <div class="p-title">
    <h4><%= @remote_combo[:data][:desc] %></h4>
    <div class="p-price1 clearfix">
      <span class="txt3 pull-left">
        打包价：<em>￥<%= @remote_combo[:data][:price] %></em>
      </span>
      <span class="txt4 pull-right">
        <%= link_to_icon "fa fa-star-o", "收藏", "javascript:void(0);" %>
      </span>
    </div>
  </div>

  <div class="bottom-btnbox">
    <button class="btn btn-small btn-danger" id="share_to_user_model">分享给好友</button>
    <button class="btn btn-small btn-danger"><a href="<%= edit_ims_store_combo_path(:id => @remote_combo[:data][:id]) %>">编 辑</a></button>
  </div>

</div>


<script type="text/javascript">
  $(function(){
    $("#myCarousel").swipeshow({
      autostart: true,    /* Set to `false` to keep it steady */
      interval: 3000,     /* Time between switching slides (ms) */
      initial: 0,         /* First slide's index */
      speed: 1500,         /* Animation speed (ms) */
      friction: 1,      /* Bounce-back behavior; use `0` to disable */
      mouse: true,        /* enable mouse dragging controls */
      keys: true
    });
  })
</script>
