<div class="wrap-inner back-wrap-inner">
<div class="module module-bg-white clearfix">
  <div class="row-fluid">
    <div class="span12">
      <div id="myCarousel" class="carousel slide" style="overflow: hidden;">
              <ol class="carousel-indicators">
                <li class="active"></li>
                <li></li>
                <li></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner slides">
                <% @remote_combo[:data][:image].each_with_index do |src, i| %>
                  <div class="item slide <%= 'active' if i == 0 %>"><img src="<%= src %>"></div>
                <% end %>

              </div>
            </div>

        <div class="p-title"><h4><%= @remote_combo[:data][:desc] %></h4></div>
        <div class="p-price1 clearfix">
          <span class="txt3">微信价：<em class="txt4">￥<%= @remote_combo[:data][:price] %>  </em></span>
        </div>
    </div>
  </div>
</div>

<div class="module module-common">
  <div class="row-fluid">

      <% @remote_combo[:data][:products].each do |product| %>
      <div class="span4">
        <div class="combos-product">
          <img src="<%= product[:image] %>">
          <p><span class="txt3">￥<%= product[:price] %></span></p>
          <a class="btn btn-danger btn-mini btn-block" href="<%= new_ims_order_path(:product_id => product[:id]) %>">点击购买</a>
        </div>
      </div>
      <% end %>

  </div>
  </div>

  <div class="bottom-btnbox">
    <button class="btn btn-small btn-danger">分享给好友</button>
    <button class="btn btn-small btn-danger"><a href="<%= edit_ims_store_combo_path(:id => @remote_combo[:data][:id]) %>">编 辑</a></button>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $("#myCarousel").swipeshow({
      autostart: true,    /* Set to `false` to keep it steady */
      interval: 3000,     /* Time between switching slides (ms) */
      initial: 0,         /* First slide's index */
      speed: 1500,         /* Animation speed (ms) */
      friction: 1,      /* Bounce-back behavior; use `0` to disable */
      mouse: true,        /* enable mouse dragging controls */
      keys: true
    });
  })
</script>
