<%= content_for :head_nav do %>
  <ul class="nav">
    <li><a href="<%= front_profile_path %>"><i class="icon-undo"></i></a></li>
    <li class="active"><a href="<%= order_index_front_rmas_path %>" id="recently">申请退货</a></li>
    <li><a href="<%= front_rmas_path %>" id="news">退货记录</a></li>
  </ul>
<% end %>
<div class="span9 main">
  <%= render 'front/message' %>
  <div class="Logistics_query autoth">
    <% if @orders.present? %>
      <% @orders.each do |order| %>
        <%= render partial: 'front/orders/order', locals: { order: order } %>
      <% end %>
      <%= paginate @orders %>
    <% else %>
      <%= display_blank_prompt('暂无符合退货条件的订单！') %>
    <% end %>
  </div>
</div>
