<% content_for :title do 
  @promotion[:name]
 end %>
 <div class="well">
<h4><%=@promotion[:store][:name]+' - '+ @promotion[:name]%></h4>
<div>
<% @promotion.resource.each do |r| %>
<a href="<%= large_pic_url(r)%>">
	<img  src="<%= large_pic_url(r) %>" class="img-rounded">
	</a>
<% end %>
</div>
	<div>
<label><%= @promotion[:startDate].to_time.to_s(:db)+t(:To)+@promotion[:endDate].to_time.to_s(:db)%></label>
</div>
<div>
<label><%= @promotion[:description]%></label>
</div>
</div>
