<div id="ex2" class="modal hide fade modal-red" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
</div>

<div id="shareToAllModel" class="modal hide fade modal-grey modal-red" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="text-center">
    <div class=""><%= image_tag "ims/share-top-4.png" %></div>
  </div>
</div>

<div id="shareToUserModel" class="modal hide fade modal-grey modal-red" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top: 0;">
  <div class="text-center">
    <div class=""><%= image_tag "ims/share-top-2.png" %></div>
  </div>
</div>

<div id="shareToMomentModel" class="modal hide fade modal-grey modal-red" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="text-center">
    <div class=""><%= image_tag "ims/right-top.png" %></div>
  </div>
</div>

<!--加载框-->
<div id="loading-box" class="modal hide fade" tabindex="-1" aria-labelledby="myModalLabel" data-backdrop="false">
  <p><%= image_tag "ims/loading.gif" %></p>
  <p>加载中，请稍候</p>
</div>

<div id="bottom-loading-box" class="modal hide fade" tabindex="-1" aria-labelledby="myModalLabel" data-backdrop="false">
  <p><%= image_tag "ims/bottom-loading.gif" %></p>
</div>


<%= yield :javascripts -%>
<script>
  $(function(){
    // 全局分享按钮
    $("#share_to_all_model").click(function(){
      $("#shareToAllModel").modal();
      setTimeout(function(){
        $("#shareToAllModel").modal('hide');
      },  3000);
    })

    // 分享给好友按钮
    $("#share_to_user_model").click(function(){
      $("#shareToUserModel").modal();
      setTimeout(function(){
        $("#shareToUserModel").modal('hide');
      },  3000);
    })

    // 分享到朋友圈按钮
    $("#share_to_moment_model").click(function(){
      $("#shareToMomentModel").modal();
      setTimeout(function(){
        $("#shareToMomentModel").modal('hide');
      },  3000);
    });

    $(document).on("click", ".add_loading", function(){
      url = $(this).attr("value")
      if(url.length > 0){
        $("#loading-box").modal();
        setTimeout(function(){
          window.location.href = url
        }, 1)
      }
    });
  });
</script>