<%= link_to_icon "fa fa-reply", '', "javascript:void(0);", class: "top-link return-previous-link", style: "display: none;" %>

<br/>
<div class="back-wrap-inner">

<%= form_tag url, method: method, class: "form-defined", id: "address_form" do %>
  <% if params[:action] == "edit" %>
    <%= hidden_field_tag "address[id]", @address.try(:[], :id) %>
  <% end %>
  <%= hidden_field_tag "redirect_url", params[:redirect_url] %>
  <%= hidden_field_tag "address[shippingprovince]", @address.try(:[], :shippingprovince) %>
  <%= hidden_field_tag "address[shippingcity]", @address.try(:[], :shippingcity) %>
  <%= hidden_field_tag "address[shippingdistrict]", @address.try(:[], :shippingdistrict) %>
  <%= hidden_field_tag "address[shippingzipcode]", 100000 %>

  <div class="module module-bg-white2">

    <div class="controls-defined defined-small">
      <label class="col-3 text-left"><abbr class="txt-red">*</abbr>收货人：</label>
      <div class="col-9">
      <%= text_field_tag "address[shippingcontactperson]", @address.try(:[], :shippingperson), placeholder: "姓名" %>
      </div>
    </div>

    <div class="controls-defined defined-small">
      <label class="col-3 text-left"><abbr class="txt-red">*</abbr>手机号：</label>
      <div class="col-9">
      <%= text_field_tag "address[shippingcontactphone]", @address.try(:[], :shippingphone), placeholder: "手机号码" %>
      </div>
    </div>
    <hr class="address_hr">
    <div class="controls-defined defined-small">
      <label class="col-3 text-left"><abbr class="txt-red">*</abbr>省份：</label>
      <div class="col-9">
      <%= select_tag "address[shippingprovinceid]", options_for_select(@provinces.collect{|province| [province[:provincename], province[:provinceid]]}, @address.try(:[], :shippingprovinceid)), prompt: "--选择省份--" %>
      </div>
    </div>

    <div class="controls-defined defined-small">
      <label class="col-3 text-left"><abbr class="txt-red">*</abbr>市：</label>
      <div class="col-9">
      <%= select_tag "address[shippingcityid]", params[:action] == "new" ? options_for_select([])  : options_for_select(@cities, @address[:shippingcityid]), prompt: "--选择城市--" %>
      </div>
    </div>

    <div class="controls-defined defined-small">
      <label class="col-3 text-left"><abbr class="txt-red">*</abbr>区/县：</label>
      <div class="col-9">
      <%= select_tag "address[shippingdistrictid]", params[:action] == "new" ? options_for_select([]) : options_for_select(@districts, @address[:shippingdistrictid]), prompt: "--选择区/县--" %>
      </div>
    </div>


    <div class="controls-defined defined-small">
      <label class="col-3 text-left"><abbr class="txt-red">*</abbr>地址：</label>
      <div class="col-9">
      <%= text_area_tag "address[shippingaddress]", @address.try(:[], :shippingaddress), rows: 3, placeholder: "详细地址" %>
      </div>
    </div>

    <div style="padding: 15px 30px;" class="text-center">
      <span class="row-fluid">
        <span class="<%= params[:action] == "new" ? 'col-12' : 'col-8' %>">
          <button type="button" id="submit_address" class="btn btn-large btn-danger btn-block">提交</button>
        </span>
        <% if params[:action] == "edit" %>
          <span class="col-4">
            <button type="button" id="delete_address" class="btn btn-large btn-grey btn-block">删除</button>
          </span>
        <% end %>
      </span>
    </div>


  </div>

<% end %>


</div>


<script type="text/javascript">
  $(function(){

    $(".refresh-link").hide()

    $(".return-previous-link").show()

    $(".return-previous-link").on("click", function(e){
      e.preventDefault()
      e.stopPropagation()
      $("#address_form_page").hide()
      $("#address_page").show()
    })

    $("#delete_address").on("click", function(){
      if(confirm("确定删除吗?")){
        $("#loading-box").modal()
        address_id = "<%= @address.try(:[], :id) %>"
        setTimeout(function(){
          $.post("/ims/addresses/"+address_id, {_method: "delete"}, function(data){
            if(data['status'] == true){
              <% if request.xhr? %>
                $.get("/ims/addresses", {}, function(data){
                  $("#address_form_page").hide()
                  $("#address_page").html(data["html"])
                  $("#address_page").show()
                  $("#loading-box").modal("hide")
                }, "json")
                $("#loading-box").modal("hide")
              <% else %>
                window.location.href = "<%= ims_addresses_path %>"
              <% end %>
            }
          }, "json")
        }, 1)
      }
    })

    $("#address_shippingprovinceid").on("change", function(){
      var province_id = $(this).val()
      var province_name = $("#address_shippingprovinceid option[value='" + province_id + "']").text()
      $("#address_shippingprovince").val(province_name)
      $.get("<%= list_ims_addresses_path %>", {province_id: province_id}, function(data){
        $("#address_shippingcityid").html("")
        $("#address_shippingcityid").append('<option value="">--选择城市--</option>')
        $.each(data["data"], function(index, element){
          $("#address_shippingcityid").append('<option value="'+element['cityid']+'">'+element['cityname']+'</option>')
        })
      }, "json")
    })


    $("#address_shippingcityid").on("change", function(){
      var province_id = $(this).val()
      var city_id = $(this).val()
      var city_name = $("#address_shippingcityid option[value='" + city_id + "']").text()
      $("#address_shippingcity").val(city_name)
      $.get("<%= list_ims_addresses_path %>", {city_id: city_id}, function(data){
        $("#address_shippingdistrictid").html("")
        $("#address_shippingdistrictid").append('<option value="">--选择区/县--</option>')
        $.each(data["data"], function(index, element){
          $("#address_shippingdistrictid").append('<option value="'+element['districtid']+'">'+element['districtname']+'</option>')
        })
      }, "json")
    })

    $("#address_shippingdistrictid").on("change", function(){
      var district_id = $(this).val()
      var district_name = $("#address_shippingdistrictid option[value='" + district_id + "']").text()
      $("#address_shippingdistrict").val(district_name)
    })

    $("#address_form").validate({
      onsubmit: true,
      onfocusout: false,
      onkeyup: false,
      onclick: false,
      rules: {
        "address[shippingcontactperson]": {
          required: true,
          maxlength: 10
        },
        "address[shippingcontactphone]": {
          required: true
        },
        "address[shippingaddress]": {
          required: true
        },
        "address[shippingprovinceid]": {
          required: true
        },
        "address[shippingcityid]": {
          required: true
        },
        "address[shippingdistrictid]": {
          required: true
        },
        "address[shippingzipcode]": {
          required: true
        }

      },
      messages: {
        "address[shippingcontactperson]": {
          required: "联系人不能为空",
          maxlength: "收货人名称不能超过10个字符"
        },
        "address[shippingcontactphone]": {
          required: "联系电话不能为空"
        },
        "address[shippingaddress]": {
          required: "详细地址不能为空"
        },
        "address[shippingprovinceid]": {
          required: "省份不能为空"
        },
        "address[shippingcityid]": {
          required: "城市不能为空"
        },
        "address[shippingdistrictid]": {
          required: "区/县不能为空"
        },
        "address[shippingzipcode]": {
          required: "邮编不能为空"
        }
      },
      showErrors: function(errorMap, errorList) {
        var messages = errorList.map(function(i, v) {
          return i.message
        })
        msg = messages.join(", ")
        if(msg != ""){
          error_modal(msg);
        }
      }

    })


    $("#submit_address").click(function(){
      form = $("#address_form")
      if($("#address_form").valid()){
        $("#loading-box").modal();
        setTimeout(function(){
          <% if request.xhr? %>
          form.ajaxSubmit({
            dataType: "json",
            success: function(data){
              if(data["status"] == true){
                $.get("<%= ims_addresses_path %>", {}, function(data){
                  $("#new_order_page").hide()
                  $("#address_form_page").hide()
                  $("#address_page").html(data["html"])
                  $("#address_page").show()
                }, "json")
              }else{
                error_modal("保存地址失败")
              }
              $("#loading-box").modal("hide")
            },
            error: function(data){
              error_modal("提交表单发生错误")
              $("#loading-box").modal("hide")
            }
          })

          <% else %>
            form.submit();
          <% end %>
        }, 1)
      }
    })


  })
</script>
