<%= link_to_icon "fa fa-reply", '', "javascript:void(0);", class: "top-link return-previous-link", style: "display: none;" %>

<div class="wrap-inner back-wrap-inner">
  <% if @addresses.present? %>
    <%= render "list.html.erb", addresses: addresses %>
  <% else %>
    <%= render 'ims/shared/empty.html.erb' %>
  <% end %>

  <div class="bottom-button">
    <div class="form-defined">
      <div class="controls-defined defined-large">

        <div class="<%= is_mobile && request.xhr? && session[:itpm] != "1" ? 'col-7' : 'col-12' %>">
          <a value="<%= new_ims_address_path %>" class="btn <%= @search["data"]["totalcount"] < 8 ? 'btn-danger' : 'btn-grey' %> btn-large btn-block" href="javascript:void(0);" id="new_address">添加地址</a>
        </div>

        <% if is_mobile && request.xhr? && session[:itpm] != "1" %>
        <div class="col-5">
          <a class="btn btn-danger btn-large btn-block" href="javascript:void(0);" id="weixin_address_button">微信地址</a>
        </div>
        <% end %>

      </div>
    </div>
  </div>

</div>



<script>
  $(function(){

    $(".refresh-link").hide()

    $(".return-previous-link").show()

    $(".return-previous-link").on("click", function(e){
      e.preventDefault()
      e.stopPropagation()
      $("#new_order_page").show()
      $("#address_page").hide()
      $(".return-previous-link").hide()
      $(".refresh-link").show()
    })

    $("input[name='address[id]']").on("change", function(){
      select_address($(this))
    })

    $(".address_div").on("click", function(){
      var radio_button = $(this).parents(".p-list").find("input[name='address[id]']")
      radio_button.attr("checked", true)
      radio_button.trigger("change")
    })

    var select_address = function(this_ele){
      var p_list = $(".address_div").parents(".p-list")
      p_list.removeClass("active")

      this_ele.parents(".p-list").addClass("active")
      $("#loading-box").modal()
      address_id = this_ele.parents(".p-list").attr("value")
      setTimeout(function(){
        $.get("/ims/addresses/"+address_id, {}, function(data){
          name = data["name"]
          zipcode = data["zipcode"]
          address = data["detail_address"]
          contact = data["phone"]
          $("#name").attr("value", name)
          $("#weixin_name").text(name)
          $("#zipcode").attr("value", zipcode)
          $("#address").attr("value", address)
          $("#weixin_address").text(address)
          $("#contact").attr("value", contact)
          $("#weixin_contact").text(contact)
          $("#new_order_page").show()
          $("#address_page").hide()
          $("#loading-box").modal("hide")
          $("#contact_select_wrapper").hide()
          $("#contact_wrapper").show()

          $("#address_doc").attr("address_id", address_id)

          $(".refresh-link").show()
        }, "json")
      }, 1)
    }



    $("#weixin_address_button").on("click", function(){
      load_address()
    })

    var load_address = function(){
      WeixinJSBridge.invoke('editAddress',{
      appId: "<%= @weixin_key[:app_id] %>",
      scope: "jsapi_address",
      signType: "sha1",
      addrSign: "<%= raw @addrSign_val %>",
      timeStamp: "<%= @timeStamp_val %>",
      nonceStr: "<%= @nonceStr_val %>"
      },function(res){
      //若 res 中所带的返回值不为空，则表示用户选择该返回值作为收货地址。否则若返回空，则表示用户取消了这一次编辑收货地址。
        if(res.err_msg == "edit_address:ok"){
          name = res.userName
          zipcode = res.addressPostalCode
          address = [res.proviceFirstStageName, res.addressCitySecondStageName, res.addressCountiesThirdStageName, res.addressDetailInfo].join(" ")
          contact = res.telNumber
          $("#name").attr("value", name)
          $("#weixin_name").text(name)
          $("#zipcode").attr("value", zipcode)
          $("#address").attr("value", address)
          $("#weixin_address").text(address)
          $("#contact").attr("value", contact)
          $("#weixin_contact").text(contact)
          show_order_page()
          $("#loading-box").modal("hide")
        }else{

        }
      })
    }

    var show_order_page = function(){
      $("#new_order_page").show()
      $("#address_page").hide()
    }



    $("#new_address").on("click", function(){
      <% if @search["data"]["totalcount"] < 8 %>
        $("#loading-box").modal()
        <% if request.xhr? %>
          $.get("<%= new_ims_address_path %>", {}, function(data){
            hide_order_page(data["html"])
          }, "json")
        <% else %>
          url = $(this).attr("value")
          setTimeout(function(){
            window.location.href = url
          }, 1)
        <% end %>
      <% else %>
        error_modal("最多添加8个地址");
      <% end %>
    })

    var hide_order_page = function(html){
      $("#address_page").hide()
      $("#new_order_page").hide()
      $("#address_form_page").html(html)
      $("#address_form_page").show()
      $("#loading-box").modal("hide")
    }


    $(".loading_box_link").on("click", function(){
      $("#loading-box").modal()
      <% if request.xhr? %>
        id = $(this).parents(".p-list").attr("value")
        $.get("/ims/addresses/"+id+"/edit", {}, function(data){
          hide_order_page(data["html"])
        }, "json")
      <% else %>
        url = $(this).attr("value")
        setTimeout(function(){
          window.location.href = url
        }, 1)
      <% end %>
    })


  })
</script>
