<div class="module module-bg-white clearfix paginate-content address">
  <% addresses.each_with_index do |address, index| %>
    <!-- list start -->
    <div class="p-list p-list-first clearfix <%= 'active' if (is_equal = address[:id].to_s == params[:address_id]) %>" value="<%= address[:id] %>">
      <div class="row-fluid">
        <% if request.xhr? %>
        <div class="span1 text-center select_address">
          <%= radio_button_tag 'address[id]', address[:id], is_equal, class: "address_radio" %>
        </div>
        <% end %>
        <div class="<%= request.xhr? ? 'span9' : "span10" %> address_div ">
          <div class="p-title">
            <div class="row-fluid">
              <div class="span12 detail-address-block">
                <p class="txt8 ">
                   <span>
                     <i class="fa fa-user"></i><span id="weixin_name"><%= address[:shippingperson] %></span>
                   </span>
                   &nbsp;
                   <span>
                   <i class="fa fa-phone"></i><span id="weixin_contact"><%= address[:shippingphone] %></span>
                   </span>
                 </p>
              </div>

            </div>
          </div>

          <div class="info clearfix address_info">
            <span class="txt4">
              <%= "#{address[:shippingprovince]} #{address[:shippingcity]} #{address[:shippingdistrict]} #{address[:shippingaddress]}" %>
            </span>
          </div>

        </div>

        <div class="span2 text-right edit_link ">
          <%= link_to_icon "fa fa-pencil", "", "javascript:void(0);", value: edit_ims_address_path(address[:id]), class: "loading_box_link" %>
        </div>
      </div>
    </div>
    <!-- list end -->

  <% end %>

</div>
