<div class="module module-bg-white clearfix paginate-content address">
  <% addresses.each_with_index do |address, index| %>
    <!-- list start -->
    <div class="p-list p-list-first clearfix">
      <div class="row-fluid address_div <%= 'active' if index.zero? %>">
        <div class="span1 text-center select_address">
          <%= radio_button_tag 'address[id]', address[:id], index.zero? %>
        </div>
        <div class="span9">
          <div class="p-title">
            <div class="row-fluid">
              <div class="span5">
                <h3>
                姓名： <%= address[:shippingperson] %>
                </h3>
              </div>
              <div class="span7 text-right">
                <h3>
                电话： <%= address[:shippingphone] %>
                </h3>
              </div>
            </div>
          </div>

          <div class="info clearfix">
            <span class="txt4">
              邮编： <%= address[:shippingzipcode] %>
            </span>
          </div>

          <div class="info clearfix address_info">
            <span class="txt4">
              <%= "#{address[:shippingprovince]} #{address[:shippingcity]} #{address[:shippingdistrict]} #{address[:shippingaddress]}" %>
            </span>
          </div>

        </div>

        <div class="span2 text-center edit_link ">
          <%= link_to_icon "fa fa-edit", "", "javascript:void(0);", value: edit_ims_address_path(address[:id]), class: "loading_box_link" %>
        </div>
      </div>
    </div>
    <!-- list end -->

  <% end %>

</div>
