<div class="module module-bg-white clearfix paginate-content address">
  <% addresses.each_with_index do |address, index| %>
    <!-- list start -->
    <div class="p-list p-list-first clearfix" value="<%= address[:id] %>">
      <div class="row-fluid <%= 'active' if (is_equal = address[:id].to_s == params[:origin_address_id]) %>">
        <% if (redirect_url = params[:redirect_url]).present? %>
        <div class="span1 text-center select_address">
          <%= radio_button_tag 'address[id]', address[:id], is_equal %>
        </div>
        <% end %>
        <div class="<%= redirect_url.present? ? 'span9' : "span10" %> address_div ">
          <div class="p-title">
            <div class="row-fluid">
              <div class="span5">
                <h3>
                姓名： <%= address[:shippingperson] %>
                </h3>
              </div>
              <div class="span7 text-right">
                <h3>
                电话： <%= address[:shippingphone] %>
                </h3>
              </div>
            </div>
          </div>

          <div class="info clearfix address_info">
            <span class="txt4">
              <%= "#{address[:shippingprovince]} #{address[:shippingcity]} #{address[:shippingdistrict]} #{address[:shippingaddress]}" %>
            </span>
          </div>

        </div>

        <div class="span2 text-right edit_link ">
          <%= link_to_icon "fa fa-edit", "", "javascript:void(0);", value: edit_ims_address_path(address[:id], redirect_url: params[:redirect_url]), class: "loading_box_link" %>
        </div>
      </div>
    </div>
    <!-- list end -->

  <% end %>

</div>
