<% redirect_url = params[:redirect_url].to_s.gsub(/&address_id=\d+/, '') %>
<div class="wrap-inner back-wrap-inner">
  <% if @addresses.present? %>
    <%= render "list", addresses: @addresses, redirect_url: redirect_url %>
  <% else %>
    <%= render 'ims/shared/empty' %>
  <% end %>

  <div class="bottom-button">
    <div class="form-defined">
      <div class="controls-defined defined-large">

        <div class="<%= redirect_url.present? ? 'col-7' : 'col-12' %>">
          <a value="<%= new_ims_address_path(redirect_url: params[:redirect_url]) %>" class="btn btn-danger btn-large btn-block loading_box_link" href="javascript:void(0);">添加地址</a>
        </div>
        <% if redirect_url.present? %>
        <div class="col-5">
          <a class="btn btn-danger btn-large btn-block" href="javascript:void(0);" id="weixin_address">微信地址</a>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="loading" class="text-center">
  </div>
</div>



<%= hidden_field_tag "count", @search[:data][:totalcount] %>
<%= hidden_field_tag "page", @search[:data][:pageindex] %>
<%= hidden_field_tag "per_page", @search[:data][:pagesize] %>

<% content_for :javascripts do %>
  <script>
    $(function(){

      <% if redirect_url.present? %>
      $("#weixin_address").on("click", function(){
        load_address()
      })

      var load_address = function(){
        WeixinJSBridge.invoke('editAddress',{
        appId: "<%= Settings.wx.appid %>",
        scope: "jsapi_address",
        signType: "sha1",
        addrSign: "<%= raw @addrSign_val %>",
        timeStamp: "<%= @timeStamp_val %>",
        nonceStr: "<%= @nonceStr_val %>"
        },function(res){
        //若 res 中所带的返回值不为空，则表示用户选择该返回值作为收货地址。否则若返回空，则表示用户取消了这一次编辑收货地址。
          if(res.err_msg == "edit_address:ok"){
            name = res.userName
            zipcode = res.addressPostalCode
            address = [res.proviceFirstStageName, res.addressCitySecondStageName, res.addressCountiesThirdStageName, res.addressDetailInfo].join(" ")
            contact = res.telNumber
            $("#name").attr("value", name)
            $("#weixin_name").text(name)
            $("#zipcode").attr("value", zipcode)
            $("#address").attr("value", address)
            $("#weixin_address").text(address)
            $("#contact").attr("value", contact)
            $("#weixin_contact").text(contact)

            $("#contact_select_wrapper").hide()
            $("#contact_wrapper").show()
          }else{

          }
        })
      }


        $("input[name='address[id]']").on("change", function(){
          select_address($(this))
        })

        $(".address_div").on("click", function(){
          var radio_button = $(this).parents(".p-list").find("input[name='address[id]']")
          radio_button.attr("checked", true)
          radio_button.trigger("change")
        })


        var select_address = function(this_ele){
          var p_list = $(".address_div").parents(".p-list")
          p_list.removeClass("active")

          this_ele.parents(".p-list").addClass("active")
          $("#loading-box").modal()
          url = "<%= redirect_url %>"
          address_id = this_ele.parents(".p-list").attr("value")
          setTimeout(function(){
            window.location.href = url+"&address_id="+address_id
          }, 1)
        }
      <% end %>

      $(".loading_box_link").on("click", function(){
        $("#loading-box").modal()
        url = $(this).attr("value")
        setTimeout(function(){
          window.location.href = url
        }, 1)
      })


      $(window).scroll(function(){
        var htmlHeight=document.body.scrollHeight
        var clientHeight=document.body.clientHeight
        var scrollTop=document.body.scrollTop

        var count = parseInt($("#count").attr("value"))
        var page = parseInt($("#page").attr("value"))
        var per_page = parseInt($("#per_page").attr("value"))


        if(scrollTop+clientHeight == htmlHeight){
          if(page * per_page < count){
            $("#loading").html('<%= image_tag "ims/loading.gif" %>');
            $.get("<%= ims_addresses_path %>", {page: page + 1, per_page: per_page}, function(data){
              if(data["status"] == true){
                $(".paginate-content:last").after(data["html"])
                $("#count").attr("value", data["count"])
                $("#page").attr("value", data["page"])
                $("#per_page").attr("value", data["per_page"])
                $("#loading").html("");
              }
            }, "json")
          }
        }

      })
    })
  </script>
<% end %>