<div class="wrap-inner back-wrap-inner">
  <% if @addresses.present? %>
    <%= render "list", addresses: @addresses %>
  <% else %>
    <%= render 'ims/shared/empty' %>
  <% end %>

  <div class="bottom-button">
    <div class="form-defined">
      <div class="controls-defined defined-large">

        <div class="col-8">
          <a value="<%= new_ims_address_path(redirect_url: params[:redirect_url]) %>" class="btn btn-danger btn-large btn-block loading_box_link" href="javascript:void(0);">添加地址</a>
        </div>

        <div class="col-4">
          <a value="/ims/store/products/new" class="btn btn-danger btn-large btn-block" href="javascript:void(0);">微信地址</a>
        </div>
      </div>
    </div>
  </div>

  <div id="loading" class="text-center">
  </div>
</div>



<%= hidden_field_tag "count", @search[:data][:totalcount] %>
<%= hidden_field_tag "page", @search[:data][:pageindex] %>
<%= hidden_field_tag "per_page", @search[:data][:pagesize] %>


<% content_for :javascripts do %>
  <script>
    $(function(){


      <% if (redirect_url = params[:redirect_url]).present? %>
        $("input[name='address[id]']").on("change", function(){
          select_address($(this))
        })

        $(".address_div").on("click", function(){
          select_address($(this))
        })


        var select_address = function(this_ele){
          $(".address_div").parents(".row-fluid").removeClass("active")
          this_ele.parents(".row-fluid").addClass("active")
          $("#loading-box").modal()
          url = "<%= redirect_url %>"
          address_id = this_ele.parents(".p-list").attr("value")
          setTimeout(function(){
            window.location.href = url+"&address_id="+address_id
          }, 1)
        }
      <% end %>

      $(".loading_box_link").on("click", function(){
        $("#loading-box").modal()
        url = $(this).attr("value")
        setTimeout(function(){
          window.location.href = url
        }, 1)
      })

      <% if nil %>
      $("input[name='address[id]']").on("change", function(){
        var id = $(this).val()
        $(".address_div").removeClass("active")
        $(this).parents(".address_div").addClass("active")
      }).filter(':checked').trigger("change")
      <% end %>


      $(window).scroll(function(){
        var htmlHeight=document.body.scrollHeight
        var clientHeight=document.body.clientHeight
        var scrollTop=document.body.scrollTop

        var count = parseInt($("#count").attr("value"))
        var page = parseInt($("#page").attr("value"))
        var per_page = parseInt($("#per_page").attr("value"))


        if(scrollTop+clientHeight == htmlHeight){
          if(page * per_page < count){
            $("#loading").html('<%= image_tag "ims/loading.gif" %>');
            $.get("<%= ims_addresses_path %>", {page: page + 1, per_page: per_page}, function(data){
              if(data["status"] == true){
                $(".paginate-content:last").after(data["html"])
                $("#count").attr("value", data["count"])
                $("#page").attr("value", data["page"])
                $("#per_page").attr("value", data["per_page"])
                $("#loading").html("");
              }
            }, "json")
          }
        }

      })
    })
  </script>
<% end %>