<div class="wrap-content">
  <div class="module module-white min-height">
    <div class="module-tab0 module-tab2 module-product tabs-fixed">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#combos">商品搭配</a></li>
        <li class=""><a href="#gift_cards">礼品卡</a></li>
      </ul>

      <div class="tab-content">
        <div id="combos" class="tab-pane active">
          <div class="bottom-button">
            <div class="form-defined">
              <div class="controls-defined defined-large">
                <div class="col-12">
                  <%= link_to '添加搭配', "javascript:void(0);", value: new_ims_store_combo_path, class: "btn btn-danger btn-large btn-block", id: "new_combo" %>
                </div>
              </div>
            </div>
          </div>

          <div class="module-table-box module-record">
            <% if @combos.present? %>
            <%= render "combo_list", combos: @combos %>
            <% else %>
            <%= render "ims/shared/empty" %>
            <% end %>
          </div>
        </div>

        <div id="gift_cards" class="tab-pane">
          <div class="module-table-box module-record">
            <% if @gift_cards.present? %>
              <%= render "gift_card_list", gift_cards: @gift_cards %>
            <% else %>
              <%= render 'ims/shared/empty' %>
            <% end %>
          </div>
        </div>

      </div>
      <div id="loading" class="text-center">
    </div>
    </div>
  </div>
</div>

<%= hidden_field_tag "gift_card_count", @search_gift_card[:data][:totalcount] %>
<%= hidden_field_tag "gift_card_page", @search_gift_card[:data][:pageindex] %>
<%= hidden_field_tag "gift_card_per_page", @search_gift_card[:data][:pagesize] %>

<%= hidden_field_tag "combo_count", @search_combo[:data][:totalcount] %>
<%= hidden_field_tag "combo_page", @search_combo[:data][:pageindex] %>
<%= hidden_field_tag "combo_per_page", @search_combo[:data][:pagesize] %>


<% content_for :javascripts do %>
<script>
  $(function(){

    $(document).on("click", "#new_combo", function(){
      url = $(this).attr("value")
      $("#loading-box").modal()
      setTimeout(function(){
        window.location.href = url
      }, 1)
    })

    var max_combo_num = <%= current_user.max_comboitems %>;
    var online_num = <%= @online_num %>;

    $(window).scroll(function(){
      var htmlHeight=document.body.scrollHeight
      var clientHeight=document.body.clientHeight
      var scrollTop=document.body.scrollTop

      if(scrollTop+clientHeight == htmlHeight){

        if($("#gift_cards").attr("class").indexOf("active") >= 0){
          var count = parseInt($("#gift_card_count").attr("value"))
          var page = parseInt($("#gift_card_page").attr("value"))
          var per_page = parseInt($("#gift_card_per_page").attr("value"))
          if(page * per_page < count){
            $("#bottom-loading-box").modal();
            $.get("/ims/store/sells", {gift_card_page: page + 1, gift_card_per_page: per_page}, function(data){
              if(data["status"] == true){
                $("#bottom-loading-box").modal('hide');
                $(".gift_card_paginate-content:last").after(data["html"])
                $("#gift_card_count").attr("value", data["count"])
                $("#gift_card_page").attr("value", data["page"])
                $("#gift_card_per_page").attr("value", data["per_page"])
              }
            }, "json")
          }
        }else if($("#combos").attr("class").indexOf("active") >= 0){
          var count = parseInt($("#combo_count").attr("value"))
          var page = parseInt($("#combo_page").attr("value"))
          var per_page = parseInt($("#combo_per_page").attr("value"))
          if(page * per_page < count){
            $("#bottom-loading-box").modal();
            $.get("/ims/store/sells", {combo_page: page + 1, combo_per_page: per_page}, function(data){
              if(data["status"] == true){
                $("#bottom-loading-box").modal('hide');
                $(".combo_paginate-content:last").after(data["html"])
                $("#combo_count").attr("value", data["count"])
                $("#combo_page").attr("value", data["page"])
                $("#combo_per_page").attr("value", data["per_page"])
              }
            }, "json")
          }
        }

      }
    })

    <% if @combo.present? %>
    $('#myTab a[href="#combos"]').tab('show');
    <% end %>

    $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show');

      format_img(".img-spa");
    })

    format_img(".img-spa");

    $(document).on("click", ".card_or_combo", function(){

      this_ele = $(this)
      item_id = this_ele.attr("item_id")
      item_type = this_ele.attr("item_type")
      text = this_ele.text()
      is_online = text.indexOf("上") >= 0 ? true : false
      click_text = is_online ? "上架" : "下架"

      $.post("/ims/store/sells/id/update_is_online", {_method: "put", item_id: item_id, item_type: item_type, is_online: is_online}, function(data){
        if(data["status"] == true){
          this_ele.text(is_online ? "下 架" : "上 架")
          if(is_online){
            online_num -= 1
          }else{
            online_num += 1
          }
        }else{
          error_modal(data["message"]);
        }
      })

    })

  })
</script>
<% end %>


