<% tab_length = [current_user.shopping_guide_operate?, @store[:data][:is_support_giftcard]].select{|obj| obj == true}.length + 1 %>
<div class="wrap-content">
  <div class="module module-white min-height">
    <div class="module-tab0 module-tab2 <%= 'module-tab3' if tab_length == 3 %> module-product tabs-fixed">
      <% if tab_length > 1 %>
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#combos">商品组合</a></li>
        <% if current_user.shopping_guide_operate? %>
        <li class=""><a href="#products">自拍商品</a></li>
        <% end %>
        <% if @store[:data][:is_support_giftcard] %>
        <li class="last_li"><a href="#gift_cards">礼品卡</a></li>
        <% end %>
      </ul>
      <% end %>

      <div class="tab-content" style="<%= 'margin-top: 0px' if tab_length <= 1 %>">
        <div id="combos" class="tab-pane active">
          <div class="bottom-button">
            <div class="form-defined">
              <div class="controls-defined defined-large">
                <div class="col-12">
                  <%= link_to '添加组合', "javascript:void(0);", value: new_ims_store_combo_path, class: "btn btn-danger btn-large btn-block", id: "new_combo" %>
                </div>
              </div>
            </div>
          </div>

          <div class="module-table-box module-record">
            <% if @combos.present? %>
            <%= render "combo_list", combos: @combos %>
            <% else %>
            <%= render "ims/shared/empty" %>
            <% end %>
          </div>
        </div>

        <div id="products" class="tab-pane">
          <div class="bottom-button">
            <div class="form-defined">
              <div class="controls-defined defined-large">
                <div class="col-12">
                  <%= link_to '添加商品', "javascript:void(0);", value: new_ims_store_product_path, class: "btn btn-danger btn-large btn-block", id: "new_product" %>
                </div>
              </div>
            </div>
          </div>

          <div class="module-table-box module-record">
            <% if @products.present? %>
            <%= render "product_list", products: @products %>
            <% else %>
            <%= render "ims/shared/empty" %>
            <% end %>
          </div>
        </div>

        <div id="gift_cards" class="tab-pane">
          <div class="module-table-box module-record">
            <% if @gift_cards.present? %>
              <%= render "gift_card_list", gift_cards: @gift_cards %>
            <% else %>
              <%= render 'ims/shared/empty' %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag "gift_card_count", @search_gift_card[:data][:totalcount] %>
<%= hidden_field_tag "gift_card_page", @search_gift_card[:data][:pageindex] %>
<%= hidden_field_tag "gift_card_per_page", @search_gift_card[:data][:pagesize] %>

<%= hidden_field_tag "combo_count", @search_combo[:data][:totalcount] %>
<%= hidden_field_tag "combo_page", @search_combo[:data][:pageindex] %>
<%= hidden_field_tag "combo_per_page", @search_combo[:data][:pagesize] %>

<%= hidden_field_tag "product_count", @search_product[:data][:totalcount] %>
<%= hidden_field_tag "product_page", @search_product[:data][:pageindex] %>
<%= hidden_field_tag "product_per_page", @search_product[:data][:pagesize] %>


<% content_for :javascripts do %>
<script>
  $(function(){

    var inLoading = false

    $(document).on("click", ".delete-combo", function(){
      if(confirm("确定要删除该组合？")){
        var combo_id = $(this).attr('data');
        var ele = $(this);
        $.ajax({
          url: '/ims/store/combos/'+combo_id,
          type: 'delete',
          success: function(res){
            if(res["status"] == true){
              success_modal("删除成功");
              $("#combo_content_"+combo_id).remove();
            }else{
              error_modal(res["message"]);
            }
          }
        });
      }
    });

    tab = "<%= params[:tab].to_s %>"
    if(tab.length > 0){
      $("#myTab a[href='#"+tab+"']").tab('show')
    }

    $(document).on("click", ".combo_show, #new_combo, .product_edit, .product_copy, #new_product", function(){
      url = $(this).attr("value")
      $("#loading-box").modal()
      setTimeout(function(){
        window.location.href = url
      }, 1)
    })

    var max_combo_num = <%= current_user.max_comboitems %>;
    var online_num = <%= @online_num %>;

    $(window).scroll(function(){
      var htmlHeight=document.body.scrollHeight
      var clientHeight=document.body.clientHeight
      var scrollTop=document.body.scrollTop

      if(scrollTop+clientHeight == htmlHeight && !inLoading){

        if($("#gift_cards").attr("class").indexOf("active") >= 0){
          var count = parseInt($("#gift_card_count").attr("value"))
          var page = parseInt($("#gift_card_page").attr("value"))
          var per_page = parseInt($("#gift_card_per_page").attr("value"))
          if(page * per_page < count && !inLoading){
            inLoading = true
            $("#bottom-loading-box").modal();
            $.get("/ims/store/sells", {gift_card_page: page + 1, gift_card_per_page: per_page}, function(data){
              if(data["status"] == true){
                $(".gift_card_paginate-content:last").after(data["html"])
                $("#gift_card_count").attr("value", data["count"])
                $("#gift_card_page").attr("value", data["page"])
                $("#gift_card_per_page").attr("value", data["per_page"])
              }
              $("#bottom-loading-box").modal('hide');
              inLoading = false
            }, "json")
          }
        }else if($("#combos").attr("class").indexOf("active") >= 0){
          var count = parseInt($("#combo_count").attr("value"))
          var page = parseInt($("#combo_page").attr("value"))
          var per_page = parseInt($("#combo_per_page").attr("value"))
          if(page * per_page < count && !inLoading){
            inLoading = true
            $("#bottom-loading-box").modal();
            $.get("/ims/store/sells", {combo_page: page + 1, combo_per_page: per_page}, function(data){
              if(data["status"] == true){
                $(".combo_paginate-content:last").after(data["html"])
                $("#combo_count").attr("value", data["count"])
                $("#combo_page").attr("value", data["page"])
                $("#combo_per_page").attr("value", data["per_page"])
              }
              $("#bottom-loading-box").modal('hide');
              inLoading = false
            }, "json")
          }
        }else if($("#products").attr("class").indexOf("active") >= 0){
          var count = parseInt($("#product_count").attr("value"))
          var page = parseInt($("#product_page").attr("value"))
          var per_page = parseInt($("#product_per_page").attr("value"))
          if(page * per_page < count && !inLoading){
            inLoading = true
            $("#bottom-loading-box").modal();
            $.get("/ims/store/sells", {product_page: page + 1, product_per_page: per_page}, function(data){
              if(data["status"] == true){
                $(".product_paginate-content:last").after(data["html"])
                $("#product_count").attr("value", data["count"])
                $("#product_page").attr("value", data["page"])
                $("#product_per_page").attr("value", data["per_page"])
              }
              $("#bottom-loading-box").modal('hide');
              inLoading = false
            }, "json")
          }
        }

      }
    })

    <% if @combo.present? %>
      $('#myTab a[href="#combos"]').tab('show');
    <% end %>

    $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show');
      format_img(".img-spa");
    })

    format_img(".img-spa");

    $(document).on("click", ".card_or_combo", function(){

      this_ele = $(this)
      item_id = this_ele.attr("item_id")
      item_type = this_ele.attr("item_type")
      text = this_ele.text()
      is_online = text.indexOf("上") >= 0 ? true : false
      click_text = is_online ? "点击上架" : "点击下架"

      $.post("/ims/store/sells/id/update_is_online", {_method: "put", item_id: item_id, item_type: item_type, is_online: is_online}, function(data){
        if(data["status"] == true){
          this_ele.text(is_online ? "点击下架" : "点击上架")
          if(is_online){
            online_num -= 1;
            this_ele.removeClass("btn-success");
            this_ele.addClass("btn-danger");
          }else{
            online_num += 1;
            this_ele.removeClass("btn-danger");
            this_ele.addClass("btn-success");
          }
        }else{
          error_modal(data["message"]);
        }
      })

    })

  })
</script>
<% end %>