<div class="wrap-content">
  <div class="module module-white min-height">
    <div class="module common-white">
      <div class="txt-block detail-contact shop-information">
          <div class="row-fluid">
          <div class="span8"><span class="txt2 shop-title">修改店铺LOGO</span></div>
          <div class="span3 text-right">
            <a href="#" id="logo"><img src="<%= @store[:data][:logo] %>" class="img-rounded"></a>
            <div style="height: 0px;width: 0px; overflow:hidden;"><input id="upfile" type="file" value="upload" name="img" accept="image/*"></div>
          </div>
          </div>
      </div>
    </div>
    <%= form_tag("/ims/store/stores/#{@store[:data][:id]}", method: :put, id: "store_form", class: 'form-defined', remote: true)  do |f| %>
    <div class="module common-white module-password">
      <div class="shop-information2 txt2">
        <p class="clearfix"><span class="pull-left">店铺名称</span>
          <span class="pull-right txt-grey">
            <%= text_field_tag :name, @store[:data][:name], class: 'large-block', require: true %>
          </span>
        </p>
        <p class="clearfix"><span class="pull-left">电话</span>
          <span class="pull-right txt-grey tel-nun">
            <%= text_field_tag :mobile, @store[:data][:mobile], class: 'large-block', require: true %>
          </span>
        </p>
      </div>
    </div>
    <div class="bottom-button">
        <div class="form-defined">
          <div class="controls-defined defined-large">
            <div class="col-12"><button class="btn btn-danger btn-large btn-block" type="submit">修改</button></div>
          </div>
        </div>
    </div>
    <% end %>
  </div>
</div>

<div id="ex2" style="display:none;">
</div>

<%= content_for :javascripts do -%>
  <script type="text/javascript">
   $(function(){
    
    var msg="";
    var elements = document.getElementsByTagName("INPUT");
    for (var i = 0; i < elements.length; i++) {
        elements[i].oninvalid = function(e) {
            e.target.setCustomValidity("");

            switch(e.target.id){
                case "name" :
                msg="必须填写店铺名称";
                case "mobile" :
                msg="必须填写电话";
            }

            if (!e.target.validity.valid) {
                e.target.setCustomValidity(msg);
            }
        };
        elements[i].oninput = function(e) {
            e.target.setCustomValidity("");
        };
    }

    

    $(".shop-information").click(function(){
       document.getElementById("upfile").click();
    });

    $('#upfile').fileupload({
      url: "<%= change_logo_ims_store_stores_path %>",
      type: 'post',
      dataType: 'json',

      fileuploadfail: function(e, data){
        alert(e);
      },
      fileuploadchunkfail: function(e, data){
        alert(e);
      },
      done: function(e, data){
        if(data.result['status'] == 1){
          $("#logo").html("<img src="+data.result['img']+" class='img-rounded'/>")
        }else{
          alert("网络错误，请稍后重试");
        }

      }
     });
    })
  </script>
<% end -%>