<div class="wrap-content bottom-distance">
  <div class="module module-white min-height">
    <div class="module common-white">
      <div class="txt-block detail-contact shop-information">
          <div class="row-fluid">
          <div class="span8"><span class="txt2 shop-title">修改店铺LOGO</span></div>
          <div class="span3 text-right">
            <a class="shop-logo" href="#" id="logo">
              <%= image_tag @store[:data][:logo], class: "face-img" %>
            </a>
            <div style="height: 0px;width: 0px; overflow:hidden;">
              <input id="upfile" type="file" value="upload" name="img" accept="image/*" capture="camera">
            </div>
          </div>
          </div>
      </div>
    </div>
    <div class="module common-white">
      <%= form_tag("/ims/store/stores/#{@store[:data][:id]}", method: :put, id: "store_form", class: 'form-defined shop-form-defined', remote: true)  do |f| %>
        <div class="shop-information2 txt2">
          <div class="controls-defined defined-small shop-bd">
            <label class="col-4 text-left">店铺名称</label>
            <div class="col-8"><%= text_field_tag :name, @store[:data][:name] %></div>
          </div>
          <div class="controls-defined defined-small">
            <label class="col-4 text-left">电话</label>
            <div class="col-8"><%= text_field_tag :mobile, @store[:data][:mobile] %></div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="common-white">
      <div class="form-defined">
        <div class="controls-defined defined-large">
          <div class="col-12">
            <button class="btn btn-danger btn-large btn-block" type="button" id="store_submit">修改</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="ex2" class="modal hide fade modal-red" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<%= content_for :javascripts do -%>
  <script type="text/javascript">
   $(function(){

    $("#store_submit").click(function(){
      $("#store_form").submit()
    })

    $("#store_form").validate({
      onsubmit: true,
      onfocusout: false,
      onkeyup: false,
      onclick: false,
      rules: {
        "name": {
          required: true
        },
        "mobile": {
          required: true
        }
      },
      messages:{
        "name": {required: '必须填写店铺名称'},
        "mobile": {required: '必须填写手机号'},
      },
      showErrors: function (errorMap, errorList) {
        $.each(this.successList, function (index, value) {
          $('#'+value.id+'').tooltip('destroy');
        });
        $.each(errorList, function (index, value) {
          $('#'+value.element.id+'').attr('title',value.message).tooltip({
            placement: 'bottom',
            trigger: 'manual',
            delay: { show: 500, hide: 5000 }
          }).tooltip('show')
        });
      },
      submitHandler: function(form) {
        $("#loading-box").modal()
        $(form).ajaxSubmit()
      }
    })

    $(".shop-information").click(function(){
      document.getElementById("upfile").click();
    });

    document.getElementById('upfile').onchange = function (e) {
      $("#loading-box").modal();

      var options = {maxWidth: 640,canvas: true};
      options.maxWidth = 640;
      var file = e.target.files[0];

      var orientation ;
      loadImage.parseMetaData(
        file,
        function(data){
          if(data.exif){
            options.orientation = data.exif.get('Orientation');
          }

          loadImage(
            file,
            function(img){
              var img_data;
              if (isIPhone()) {
                img_data = img.toDataURL('image/jpeg',85);
              } else {
                var encoder = new JPEGEncoder();
                var ctx = img.getContext('2d');
                var rawImageData = ctx.getImageData(0, 0, img.width, img.height);
                img_data = encoder.encode(rawImageData,85);
              }

              $.ajax({
                url: "<%= change_logo_ims_store_stores_path %>",
                dataType: 'json',
                type: 'post',
                data: {"img": img_data},
                success: function(data){
                  $("#loading-box").modal('hide');
                  if(data['status'] == 1){
                    setTimeout(function(){
                      $("#logo").html("<img src="+data['img']+" class='img-rounded'/>")
                    }, 500);
                  }
                }
              })
            }, options)
          }
        )
      }
    })

    format_img(".shop-logo");


  </script>
<% end -%>