<div class="wrap-content bottom-distance">
    <div class="module module-white min-height">
  		<div class="module-tab0 module-tab2 module-product tabs-fixed">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#home">礼品卡</a></li>
          <li class=""><a href="#profile">商品组合</a></li>
        </ul>
         
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <% if @giftcards[:data]["items"].present? %>
              <% @giftcards[:data]["items"].each do |card| %>
              <div class="module common-white product-card">
                <div class="img-box"><a href="#">
                  <img src="<%=card["image"]%>">
                </a></div>
                <h4 class="txt-grey"><%= card["desc"] %></h4>
                <div class="clearfix text-center">
                  <% if card["is_online"] %>
                   <a class="btn btn-danger btn-large btn-block">下 架</a>
                  <% else %> 
                    <a class="btn btn-danger btn-large btn-block">上 架</a>
                  <% end %>
                </div>
              </div>
              <% end %>
            <% end %>  
          </div>
          <div class="tab-pane" id="profile">
            <% if @combos[:data]["items"].present? %>
              <% @combos[:data]["items"].each do |combo| %>
            <div class="module-table-box module-record">
              <div class="module common-white">
                <div class="txt-block detail-contact">
                    <div class="row-fluid">
                      <div class="span3">
                        <img src="<%=combo["image"]%>" class="img-rounded">
                      </div>
                      <div class="span9 collection-p">
                        <p class="txt2 one-line"><%= combo["desc"] %></p>
                        <p class="txt2 txt-red">打包价：￥<%= combo["price"] %></p>
                        <div class="shelves">
                          <% if card["is_online"] %>
                           <a type="button" class="btn btn-danger btn-small">下 架</a>
                          <% else %>
                           <a type="button" class="btn btn-danger btn-small">上 架</a>
                          <% end %> 
                        </div>
                      </div>
                      <a class="btn btn-danger btn-large btn-block">上 架</a>
                    </div>
                </div>
              </div>
            </div>
            <% end %>
            <% end %>
            <div class="bottom-button">
              <div class="form-defined">
                <div class="controls-defined defined-large">
                  <div class="col-12"><button class="btn btn-danger btn-large btn-block"><a href="/ims/store/combos/new">添加组合</a></button></div>
                </div>
              </div>
            </div>
            
        </div>
      </div>
    </div>
  </div>

<script>
    $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    })
</script>