<div class="wrap-inner back-wrap-inner">
<header id="TOP">
 <div class="header-box">
 	<div class="head-img">
 		<%= image_tag("/images/ims/top-img-2x.jpg") %>
 	</div>
 	<div class="shop-head" id="head-menu">
 		<div class="shop-head-inner">
 			<div class="row-fluid">
		 		<div class="span7">
		 			<div class="row-fluid">
		 				<div class="span5">
        <%= image_tag(@store[:data][:logo], class: 'img-polaroid face-img') %>
		 				</div>
		 				<div class="span7"><h2 class="shop-name"><%= @store[:data][:name] %></h2></div>
		 			</div>
		 		</div>
		 		<div class="span5">
		 			<button class="btn btn-small btn-danger btn-share0 pull-right"><i class="fa fa-share-square-o"></i> 分享给好友</button>
		 		</div>
		 	</div>
 		</div>
 	</div>
 </div>
</header>

<div class="wrap-inner">
		<div class="module module-ele">
            <div class="module-title">
                <h3>礼品卡推荐</h3>
            </div>
            <% if @store[:data][:gift_card].present? %>
             <% @store[:data][:gift_card].each do |card| %>
            <div class="module-content module-content-card">
                <div class="img-box"><a href="<%= new_ims_card_order_path %>?store_id=<%= @store[:data][:id] %>"><img src="<%= card["Image"] %>" alt=""></a></div>
                <p><a href="#"><%= card["Desc"] %></a></p>
                <div class="clearfix">
                    <p class="pull-left price-box">
                        <span><button type="button" class="btn btn-danger btn-small">购买</button></span>
                    </p>
                    <a class="share-link" href="#"><i class="fa fa-share-square-o"></i></a>
                </div>
            </div>
            <% end %>
            <% end %>
        </div>


        <div class="module module-ele">
            <div class="module-title">
                <h3>精品搭配推荐</h3>
            </div>
         </div>

         <% if @store[:data][:combos].present? %>
        <% @store[:data][:combos].each do |combo| %>
        <div class="module module-ele"> 
            <div class="module-content module-content-img">
                <div class="suit-box clearfix">
                    <div class="row-fluid">
                        <div class="span8">
                            <div class="suit-left">
                                <a class="img-box img-posi" href="<%= ims_combo_path(id: combo["Id"]) %>">
                                    <img src="<%= combo['Image'] %>" alt="">
                                    <img class="mark-img" src="/images/ims/jingpin.png" alt=""></a>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="suit-right">
                                <% if combo["ProductImages"].size > 1 %>
                                 <% combo["ProductImages"].each do |pic| %>
                                <a class="img-box" href="#"><img src="<%= pic %>" alt=""></a>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <p><a href="#"><%= combo["Desc"] %></a></p>
                <div class="clearfix">
                    <p class="pull-left price-box">
                        <span>打包价：<em>¥<%= combo["Price"] %></em></span>
                        <span><button type="button" class="btn btn-danger btn-small">购买</button></span>
                    </p>
                    <a class="share-link" href="#"><i class="fa fa-share-square-o"></i></a>
                </div>
            </div>
        </div>
        <% end %>
        <% else %>
        <%= render 'ims/shared/empty' %>
        <% end %>

</div>

<footer>
    <div class="footer-inner">
      <div class="row-fluid">
        <div class="span3">
          <a class="nav1" href="/ims/store/sells">
           <%= image_tag "/images/ims/main-index.png" %>
          </a>
        </div>
        <div class="span3">
          <a class="nav2 nav--current" href="/ims/store/stores/records">成交记录</a>
        </div>
        <div class="span3"><a class="nav3" href="/ims/store/incomes/my">我的收益</a></div>
        <div class="span3">
          <div class="btn-group dropup">
            <a href="#" class="btn btn-link dropdown-toggle nav4" data-toggle="dropdown">更多</a>

            <ul class="dropdown-menu pull-right bottom-caret">
              <li class="nav-down1"><a href="/ims/store/stores/<%= @store[:data][:id] %>/edit">编辑资料</a></li>
              <li class="nav-down2"><a href="/ims/store/stores/theme">更换主题</a></li>
              <li class="nav-down3"><a href="/ims/store/suggesstions/new">意见反馈</a></li>
              <li class="nav-caret"><b class="caret"></b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>