<%= render 'ims/shared/countdown' %>
<div class="wrap-inner back-wrap-inner">
<header id="TOP">
  <div class="header-box header-box-index">
      <div class="head-img">
        <%= image_tag("ims/top-img-2x.jpg") %>
      </div>
      <div class="shop-head" id="head-menu">
          <div class="shop-head-inner">
              <div class="row-fluid">
                  <div class="span12">
                      <div class="row-fluid">
                          <div class="span3">
                              <span class="img-spa">
                                <img src="<%= @store[:data][:logo] %>" class='face-img' />
                              </span>
                          </div>
                          <div class="span9">
                              <h2 class="shop-name index-shop-name"><%= @store[:data][:name].present? ? @store[:data][:name] : "暂无店铺名称" %></h2>
                              <div class="index-share text-right">
                                  <button class="btn btn-small btn-danger btn-share0" id="share_to_user_model"><i class="fa fa-share-square-o"></i> 分享好友</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>

<div class="wrap-inner">
  <% if @store[:data][:gift_card].blank? && @store[:data][:combos].blank? %>
   <%= render 'ims/shared/empty' %>
  <% else %>

  <% if @store[:data][:gift_card].present? %>
		<div class="module module-ele">
            <div class="module-title">
                <h3>礼品卡</h3>
            </div>

             <% @store[:data][:gift_card].each do |card| %>
            <div class="module-content module-content-card">
                <div class="img-box">
                <a href="javascript:void(0);" value="<%= ims_cards_path(store_id: @store[:data][:id]) %>" class="add_loading">
                  <img src="<%=card["Image"]%>">
                </a>
                </div>
                <p><a href="#"><%= card["Desc"] %></a></p>

            </div>
            <% end %>
        </div>
       <% end %>

<% if @store[:data][:combos].present? %>
        <div class="module module-ele">
            <div class="module-title">
                <h3>精品搭配</h3>
            </div>
         </div>

        <% @store[:data][:combos].each do |combo| %>
        <div class="module module-ele">
            <div class="module-content module-content-img">
                <div class="suit-box clearfix">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="suit-left">
                              <a class="img-box img-posi add_loading" href="javascript:void(0);" value="<%= ims_combo_path(id: combo["Id"], :store_id => @store[:data][:id], :private_to => true, :t => Time.now.to_i) %>">
                                    <% img_url = combo['Image'].present? ? combo['Image'] : Settings.default_image_url.product.middle %>
                                    <img src="<%= img_url %>">
                                    <%= image_tag("ims/jingpin.png", class: "mark-img") %>
                                  </a>
                                    <p>
                                      <a href="<%= ims_combo_path(id: combo["Id"], :t => Time.now.to_i, :store_id => @store[:data][:id], :private_to => true) %>"><%= combo["Desc"] %></a>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix countdown-browser">
                    <p class="pull-left price-box">
                        <span class="price txt3 price-span">打包价：<em>¥<%= combo["Price"] %></em></span>
                        <% if combo["ExpiredIn"].present? %>
                        <span class="pull-right countdown">
                            <em id="d<%=combo['Id']%>">00</em><span>天</span><em id="h<%=combo['Id']%>">00</em>:<em id="m<%=combo['Id']%>">00</em>:<em id="s<%=combo['Id']%>">00</em><span>后下架</span>
                        </span>
                        <script type="text/javascript">
                          tms[tms.length] = "<%=combo['ExpiredIn'] %>";
                          day[day.length] = "d<%=combo['Id']%>";
                          hour[hour.length] = "h<%=combo['Id']%>";
                          minute[minute.length] = "m<%=combo['Id']%>";
                          second[second.length] = "s<%=combo['Id']%>";
                        </script>
                        <% else %>
                        <span class="pull-right countdown">
                            <span>长期有效</span>
                        </span>
                        <% end %>
                    </p>
                </div>
            </div>
        </div>
        <% end %>
        <% end %>
  <% end %>
  <div class="intime-btm intime-btm-index">
    <%= image_tag "ims/intime-btm.png" %>
  </div>
</div>

<footer>
    <div class="footer-inner">
      <div class="row-fluid">
        <div class="span3 add_loading" value="/ims/store/sells">
          <a class="nav1" href="javascript:void(0);">商品管理</a>
        </div>
        <div class="span3 add_loading" value="/ims/store/stores/records">
          <a class="nav2" href="javascript:void(0);">交易记录</a>
        </div>
        <div class="span3 add_loading" value="/ims/store/incomes/my">
          <a class="nav3" href="javascript:void(0);">我的收益</a>
        </div>
        <div class="span3">
          <div class="btn-group dropup">
            <a href="javascript:void(0);" class="btn btn-link dropdown-toggle nav4">更多</a>

            <ul class="dropdown-menu pull-right bottom-caret" id="nav-menu">
              <li class="nav-down1"><a href="/ims/store/stores/<%= @store[:data][:id] %>/edit">编辑资料</a></li>
              <li class="nav-down2"><a href="/ims/store/stores/theme">更换主题</a></li>
              <li class="nav-down3"><a href="/ims/store/suggesstions/new">意见反馈</a></li>
              <li class="nav-caret"><b class="caret"></b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript">
  if (typeof WxEnv == 'undefined') {
    WxEnv = {};
  }
  WxEnv.shareUrl = "<%= ims_store_url(:id => @store[:data][:id], :t => Time.now.to_i) %>";
  WxEnv.shareImgUrl = "<%= @store[:data][:logo] %>";
  WxEnv.shareName = "欢迎您光临<%=@store[:data][:name]%>迷你店";
  WxEnv.shareDes = "希望您能找到自己喜欢的商品,谢谢光临!~~~ 欢迎您来看看哦！";


   format_img(".shop-logo");
   format_img(".img-spa");

   $(".dropdown-toggle").click(function(){
      $("#nav-menu").toggle();
   });
  </script>