<div class="wrap-content">
  <div class="module module-white min-height">
		<div class="module-theme">
      <div class="row-fluid">
        <div class="span4">
          <div class="theme-ele <%= 'active' if @store[:data][:template_id] == 1 %> " data="1">
            <i class="fa fa-check-circle txt8"></i>
            <%= image_tag('ims/theme1.jpg') %>
            <p class="txt3">温婉女子</p>
          </div>
        </div>
        <div class="span4">
          <div class="theme-ele <%= 'active' if @store[:data][:template_id] == 3 %>" data="3">
            <i class="fa fa-check-circle txt8"></i>
            <%= image_tag('ims/theme3.jpg') %>
            <p class="txt3">逗陛娃娃</p>
          </div>
        </div>
        <div class="span4">
          <div class="theme-ele <%= 'active' if @store[:data][:template_id] == 4 %>" data="4">
            <i class="fa fa-check-circle txt8"></i>
            <%= image_tag('ims/theme4.jpg') %>
            <p class="txt3">狂热少女</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function(){
  $(".theme-ele").click(function(){
    $("#loading-box").modal();
    var ele = this;
    var dataid = $(this).attr('data');
    $.ajax({
      url: "<%= change_theme_ims_store_stores_path %>",
      data: {"id": dataid},
      success: function(res){
        $("#loading-box").modal('hide');
        if(res["status"] == 200){
          $(".theme-ele").each(function(){$(this).removeClass("active");});
          $(ele).addClass("active");
          success_modal("更换主题成功");
        }else{
          error_modal("网络错误，请稍后重试");
        }
      }
    })
  })
})
</script>