<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>我的礼品卡</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "ims/application", :media => "all" %>
  <%= stylesheet_link_tag "ims/card", :media => "all" %>
  <%= javascript_include_tag 'ims/application' %>
 <!--[if lte IE 6]>
 <script type="text/javascript" src="ims_assets/bootstrap-2.3.2/js/ie-js/bootstrap-ie.js"></script>
 <![endif]-->
</head>
<body style="">
  <div class="wrap">
    <div class="wrap-content">
      <%= yield %>
    </div>
  </div>
  <div class="wrap">
  <%= flash[:notice] %>
  </div>
  <div class="wrap">
  <%= session %>
  </div>
  <%= yield :javascripts -%>
</body>
</html>