<div class="head">
  <h1><%= product.name -%></h1>
  <ul class="meta relative">
    <li><span>货号</span><%= product.skucode -%></li>
    <li><span>吊牌价</span>￥<i><%= product.unitprice -%></i></li>
    <li><span>销售价</span>￥<em><%= product.price -%></em><small>立即节省<%= format_price(product.unitprice.to_i - product.price) -%></small></li>
  </ul>
  <div class="code">
    <span><i class="icon-heart"></i><b class='likecount'><%= product.likecount -%></b>人喜欢</span>
    <span><i class="icon-qrcode"></i><b class='downcount'><%= product.couponcount -%></b>人下载优惠码</span>
  </div>
  <div class="brand"><%= link_to product.brand.name, front_products_path(brandid: product.brand.id) -%><br>
    <%= (engname = product.brand.engName).present? ? "(#{engname})" : '' -%>
  </div>
</div>
