<% if (user = product.recommenduser).present? -%>
<div class="recom">
  <div class="face"><a href="<%= front_his_info_path(user.id) -%>"><img src="<%= href_of_avatar_url user.logo -%>" alt="<%= user.nickname -%>" width="80" height="80"></a></div>
  <div class="info">
    <div class="name"> <a href="<%= front_his_info_path(user.id) -%>"><%= user.nickname -%></a><span>推荐</span>
      <button type="button" class="btn btn-mini">
        <i class="icon-plus"></i>
        <% if follow_user?(user.id) -%>
          <%= link_to raw("取消关注"), front_unfollow_path(user.id), id: "unfollow#{user.id}", remote: true, method: :post -%>
        <% else -%>
          <%= link_to raw("关注"), front_follow_path(user.id), id: "follow#{user.id}", remote: true, method: :post -%>
      <% end -%>
      </button>
    </div>
    <p><%= product.description -%></p>
  </div>
  <div class="clearfix"></div>
</div>
<% else -%>
  <p><%= product.description -%></p>
<% end -%>
