<%= content_for :stylesheets do -%>
  <link href="/css/royalslider.css" rel="stylesheet">
  <link href="/css/ajax_page.css" rel="stylesheet">
<% end -%>
<%= content_for :javascripts do -%>
  <script src="/js/jquery.royalslider.min.js"></script>
  <script src="/js/product.js"></script>
<% end -%>
<%= content_for :head_nav do -%>
  <ul class="nav">
    <li><a href="javascript:history.go(-1);"><i class="icon-undo"></i></a></li>
  </ul>
<% end -%>
<div class="span9 main">
  <section class="promo_info">
    <section id="picbox" class="royalSlider">
    <%= @product.image_urls.each do |image_url| -%>
      <div class="rsContent"><img class="rsImg" src="<%= image_url -%>" alt="" /></div>
    <% end -%>
    </section>

    <div class="infobox">
      <%= render 'head', product: @product -%>
      
      <%= render 'recomment_user', product: @product -%>
      
      <div class="loca"> <span><i class="icon_location"></i><a href="<%= front_store_path(@product.store.id) -%>"><%= @product.store.name -%><small></small></a></span> <span><i class="icon_phone"></i><%= @product.store.tel -%></span> </div>

      <%= render 'tool_bar', product: @product -%>

      <div class="btnbar"> <a class="btn btn-danger" href="orders.html">在线购买</a> </div>
    </div>
    <div class="clearfix"></div>
  </section>
  <%= render 'promotions', product: @product -%>

  <%= render 'comments', product: @product -%>
</div>
