<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no">
    <title><%= content_for?(:title) ? yield(:title) : "Myapp" %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= yield(:custom_style) %>
  </head>
  <body>
  	<div class="container">
      <div class="row">
     	  <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag :application %>
    <%= yield :javascripts -%>
    <script type="text/javascript">
  	  var _gaq = _gaq || [];
  	  _gaq.push(['_setAccount', 'UA-39584119-1']);
  	  _gaq.push(['_setDomainName', 'youhuiin.com']);
  	  _gaq.push(['_trackPageview']);

  	  (function() {
  	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	  })();

  	</script>
  </body>
</html>
