<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>银泰商业</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="银泰商业">
    <meta name="keywords" content="银泰商业">
	<meta property="qc:admins" content="1460314224756175051166375" />
    <%= csrf_meta_tags %>
    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/uiscc.css" rel="stylesheet">
    <%= yield :stylesheets -%>
    <!-- 为IE6-8识别HTML5标签 -->
    <!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.png">
  </head>
  <body>
    <!-- 顶栏 -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="span3 logo">
            <a class="brand" href="index.html"><img src="/images/logo_2x.png" alt="首页"></a>
          </div>
          <!--/.logo-collapse -->
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".aside"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <%= yield :head_nav -%>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <%= render '/front/left_side' -%>
        <%= yield -%>
      </div>
      <div id="navMask"></div>
    </div>
    <%= render '/front/footer' -%>
    <!-- JS文件放置在文档结尾处，使页面加载速度更快 -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ujs.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/scrolltopcontrol.js"></script>
    <%= yield :javascripts -%>
  </body>
</html>
