<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= yield(:title) + " - " if content_for?(:title) %> 我的店铺
    </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <%= stylesheet_link_tag "ims/application", :media => "all" %>
    <%= javascript_include_tag 'ims/application' %>

   <!--[if lte IE 6]>
   <script type="text/javascript" src="ims_assets/bootstrap-2.3.2/js/ie-js/bootstrap-ie.js"></script>
   <![endif]-->

  </head>
  <body>
    <%= render 'ims/shared/top' %>
    <div class="wrap">
      <%= yield %>
      <div id="ex2" class="modal hide fade modal-red" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      </div>
    </div>
    <div id="shareToAllModel" class="modal hide fade modal-grey modal-red" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="text-center">
      <div class=""><img src="/images/ims/right-top.png"></div>
    </div>
  </div>

  <div id="shareToUserModel" class="modal hide fade modal-grey modal-red" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="text-center">
      <div class=""><img src="/images/ims/right-top.png"></div>
    </div>
  </div>

  <div id="shareToMomentModel" class="modal hide fade modal-grey modal-red" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="text-center">
      <div class=""><img src="/images/ims/right-top.png"></div>
    </div>
  </div>

  <%= yield :javascripts -%>
  <script>
    $(function(){
      // 全局分享按钮
      $("#share_to_all_model").click(function(){
        $("#shareToAllModel").modal();
      })

      // 分享给好友按钮
      $("#share_to_user_model").click(function(){
        $("#shareToUserModel").modal();
      })

      // 分享到朋友圈按钮
      $("#share_to_moment_model").click(function(){
        $("#shareToMomentModel").modal();
      })
    });
  </script>
  </body>
</html>