<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= @title || '我的店铺' %>
    </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />

    <%= stylesheet_link_tag "ims/application", :media => "all" %>
    <%= javascript_include_tag 'ims/application' %>
    <%= stylesheet_link_tag "ims/template#{@template_id || 1}.css", :media => "all" %>

   <!--[if lte IE 6]>
   <script type="text/javascript" src="ims_assets/bootstrap-2.3.2/js/ie-js/bootstrap-ie.js"></script>
   <![endif]-->


  </head>
  <body>
    <%= render 'ims/shared/wx_view' %>
    <%#= render 'ims/shared/top' %>
    <div class="wrap">
      <%= render 'ims/shared/top' %>
      <%= yield %>
    </div>
    <%= render 'ims/shared/share_button' %>
    <%= render 'ims/shared/track_view' %>
  </body>
</html>